/*company-app*/
body {
    background-color: #EEE;
}
.btn-white {
    width: 200px;
    height: 56px;
    padding-top: 15px;
    border-radius: 50px;
    border: 2px solid #FFF;
    font-size: 18px;
}
section h2 {
    font-size: 36px;
    margin: 0;
    text-align: center;
}
section h2 small {
    display: block;
}
#companyapp footer.main-footer::before {
    background-color: #2f7ee4;
}
#companyapp header.main-header {
    background: url(pics/companyapp-header-bg.jpg) no-repeat bottom;
    background-size: cover;
    color: #FFF;
    height: 100%;
    min-height: 720px;
}
#companyapp header.main-header h2 {
    font-size: 72px;
    margin-top: 176px;
}
#companyapp header.main-header h5 {
    margin-top: 240px;
}

section.select-app {
    background-color: #CCC;
    color: #FFF;
    padding-top: 86px;
    padding-bottom: 108px;
    text-align: center;
}
section.select-app h2 {
    color: #999;
    margin-bottom: 60px;
}
section.select-app h2 small {
    font-size: 12px;
}
section.select-app dl {
    margin-bottom: 0px;
}
section.select-app dt {
    font-size: 18px;
    font-weight: 500;
    color: #666;
    margin-bottom: 32px;
}
section.select-app dd {
    display: inline-block;
    margin-left: 13px;
    margin-bottom: 55px;
}
section.select-app dl:last-child dd {
    margin-bottom: 0;
}
section.select-app a {
    display: block;
    min-width: 138px;
    height: 46px;
    border: 2px solid #FFF;
    color: #FFF;
    font-size: 18px;
    line-height: 42px;
}
section.select-app a:hover {
    background-color: #2f7ee4;
    border: 2px solid #2f7ee4;
    text-decoration: none;
    cursor: pointer;
}
section.select-app .usable a {
    background-color: #2f7ee4;
    border: 2px solid #2f7ee4;
    text-decoration: none;
    cursor: pointer;
}

/*discuz*/
#CA-discuz footer.main-footer::before,
#CA-discuz header.main-header,
#CA-discuz .companyapp-feature02 h3, 
#CA-discuz section.platform-vantage {
    background-color: #00aace;
}
#CA-discuz .companyapp-feature02 h2 {
    color: #00aace;
}
#CA-discuz header.main-header h2 {
    font-size: 24px;
    margin-top: 50px;
    margin-bottom: 90px;
}
#CA-discuz header.main-header img.app-logo {
    width: 320px;
}

/*ecshop*/
#CA-ecshop footer.main-footer::before,
#CA-ecshop header.main-header,
#CA-ecshop .companyapp-feature02 h3, 
#CA-ecshop section.platform-vantage {
    background-color: #7a546f;
}
#CA-ecshop .companyapp-feature02 h2 {
    color: #7a546f;
}
#CA-ecshop header.main-header h2 {
    font-size: 24px;
    margin-top: 50px;
    margin-bottom: 90px;
}
#CA-ecshop header.main-header img.app-logo {
    width: 320px;
}

/*elasticsearch*/
#CA-elasticsearch footer.main-footer::before,
#CA-elasticsearch header.main-header,
#CA-elasticsearch .companyapp-feature02 h3, 
#CA-elasticsearch section.platform-vantage {
    background-color: #96a86a;
}
#CA-elasticsearch .companyapp-feature02 h2 {
    color: #96a86a;
}
#CA-elasticsearch header.main-header h2 {
    font-size: 24px;
    margin-top: 50px;
    margin-bottom: 90px;
}
#CA-elasticsearch header.main-header img.app-logo {
    width: 320px;
}

/*hadoop*/
#CA-hadoop footer.main-footer::before,
#CA-hadoop header.main-header,
#CA-hadoop .companyapp-feature02 h3, 
#CA-hadoop section.platform-vantage {
    background-color: #6a85a8;
}
#CA-hadoop .companyapp-feature02 h2 {
    color: #6a85a8;
}
#CA-hadoop header.main-header h2 {
    font-size: 24px;
    margin-top: 50px;
    margin-bottom: 90px;
}
#CA-hadoop header.main-header img.app-logo {
    width: 320px;
}

/*jekins*/
#CA-jenkins footer.main-footer::before,
#CA-jenkins header.main-header,
#CA-jenkins .companyapp-feature02 h3, 
#CA-jenkins section.platform-vantage {
    background-color: #96a86a;
}
#CA-jenkins .companyapp-feature02 h2 {
    color: #96a86a;
}
#CA-jenkins header.main-header h2 {
    font-size: 24px;
    margin-top: 50px;
    margin-bottom: 90px;
}
#CA-jenkins header.main-header img.app-logo {
    width: 320px;
}

/*joomla*/
#CA-joomla footer.main-footer::before,
#CA-joomla header.main-header,
#CA-joomla .companyapp-feature02 h3, 
#CA-joomla section.platform-vantage {
    background-color: #00aace;
}
#CA-joomla .companyapp-feature02 h2 {
    color: #00aace;
}
#CA-joomla header.main-header h2 {
    font-size: 24px;
    margin-top: 50px;
    margin-bottom: 90px;
}
#CA-joomla header.main-header img.app-logo {
    width: 320px;
}

/*kafka*/
#CA-kafka footer.main-footer::before,
#CA-kafka header.main-header,
#CA-kafka .companyapp-feature02 h3, 
#CA-kafka section.platform-vantage {
    background-color: #816aa8;
}
#CA-kafka .companyapp-feature02 h2 {
    color: #816aa8;
}
#CA-kafka header.main-header h2 {
    font-size: 24px;
    margin-top: 50px;
    margin-bottom: 90px;
}
#CA-kafka header.main-header img.app-logo {
    width: 320px;
}

/*lnmp*/
#CA-lnmp footer.main-footer::before,
#CA-lnmp header.main-header,
#CA-lnmp .companyapp-feature02 h3, 
#CA-lnmp section.platform-vantage {
    background-color: #a2a86a;
}
#CA-lnmp .companyapp-feature02 h2 {
    color: #a2a86a;
}
#CA-lnmp header.main-header h2 {
    font-size: 24px;
    margin-top: 50px;
    margin-bottom: 90px;
}
#CA-lnmp header.main-header img.app-logo {
    width: 320px;
}

/*spark*/
#CA-spark footer.main-footer::before,
#CA-spark header.main-header,
#CA-spark .companyapp-feature02 h3, 
#CA-spark section.platform-vantage {
    background-color: #2f7ee4;
}
#CA-spark .companyapp-feature02 h2 {
    color: #2f7ee4;
}
#CA-spark header.main-header h2 {
    font-size: 24px;
    margin-top: 50px;
    margin-bottom: 90px;
}
#CA-spark header.main-header img.app-logo {
    width: 200px;
}

/*wordpress*/
body {
    background-color: #EEE;
}
.btn-white {
    width: 200px;
    height: 56px;
    padding-top: 15px;
    border-radius: 50px;
    border: 2px solid #FFF;
    font-size: 18px;
}
section h2 {
    font-size: 36px;
    margin: 0;
    text-align: center;
}
section h2 small {
    display: block;
}
#CA-wordpress footer.main-footer::before {
    background-color: #fc6454;
}
#CA-wordpress header.main-header {
    background: #fc6454;
    color: #FFF;
    height: 100%;
    min-height: 720px;
}
#CA-wordpress header.main-header img.app-logo {
    margin-top: 50px;
    width: 480px;
}
#CA-wordpress header.main-header h2 {
    font-size: 30px;
    margin-top: 60px;
    margin-bottom: 50px;
}
#CA-wordpress header.main-header h3 {
    margin-top: 48px;
    margin-bottom: 60px;
}
.companyapp-feature01 {
    background-color: #404040;
    text-align: center;
    color: #FFF;
    padding-top: 132px;
    padding-bottom: 194px;
}
.companyapp-feature01 h2 {
    margin-top: 35px;
    font-weight: 600;
}

.companyapp-feature02  {
    padding-top: 80px;
    padding-bottom: 113px;
}
.companyapp-feature02 h2 {
    margin-bottom: 90px;
    font-weight: 600;
}

section.platform-vantage {
    background-color: #fc6454;
    color: #FFF;
    padding-top: 80px;
    padding-bottom: 148px;
    text-align: center;
}

section.platform-vantage .show-line-v {
    margin-top: 104px;
    margin-bottom: 123px;
}




.show-line-v {
    border-left: 3px solid #FFF;
    margin-left: 50%;
    margin-bottom: 0;
}
.show-line-v li {
    position: relative;
    margin-left: 15px;
    padding-top: 20px;
    padding-bottom: 20px;
}
.show-line-v li .left-box {
    position: absolute;
    left: -100%;
    width: 100%;
    text-align: right;
}
.show-line-v li .left-box .title {
    font-size: 24px;
    padding-right: 33px;
}
.show-line-v li .left-box .circle {
    background: #fff none repeat scroll 0 0;
    border-radius: 50%;
    display: block;
    height: 15px;
    width: 15px;
    position: absolute;
    right: 9px;
    top: 10px;
}
.show-line-v li .right-box {
    margin: 0;
    text-align: left;
}
.show-line-v li .right-box dt {
    font-size: 16px;
    font-weight: 600;
    margin-top: 6px;
}
.show-line-v li .right-box dd {
    font-size: 12px;
    margin-top: 10px;
}