body {
  background-color: #EEE;
}
.btn.btn-freetry {
  display: block;
  height: 75px;
  margin: 10px auto;
  width: 440px;
  background-color: #62be50;
  border-radius: 6px;
    padding-top: 25px!important;
    font-size: 18px;
}
.box-btn-freetry {
  margin: 100px 0 40px 0;
}
#product-price header.main-header {
  background: url(pics/price-header-bg.jpg) no-repeat top;
  background-size: cover;
  color: #FFF;
  height: 80%;
  margin-bottom: 300px;
  min-height: 600px;
}
#product-price .btn {
  background-color: #62be50;
  border-radius: 6px;
}
#product-price table {
  margin-bottom: 50px;
}
#product-price thead th {
  color: #666;
  font-size: 24px;
  font-weight: normal;
  text-align: center;
}
#product-price tbody td {
  border-top: 0;
  color: #66bf54;
  font-size: 18px;
  padding: 20px;
  text-align: center;
}
#product-price tbody td:first-child {
  color: #666;
  padding-left: 40px;
  text-align:left;
}
#product-price tbody th {
  font-size: 30px;
  font-weight: normal;
  padding: 20px;
}
#product-price header h5 {
  margin-bottom: 165px;
}
#product-price header h5 em {
  color: #ffb0a9;
  font-weight: bold;
}
header.main-header {
  position: relative;
  text-align: center;
}
header.main-header nav {
  position: relative;
  right: auto;
}
header.main-header h2 {
  font-size: 45px;
  font-weight: 500;
  margin-top: 50px;
}
.price-card-bar {
  text-align: center;
  vertical-align: top;
}
.price-card {
  background-color: #FFF;
  border-radius: 6px;
  box-shadow: 0 0 5px #AAA;
  color: #333;
  display: inline-block;
  height: 460px;
  margin: 0 10px;
  position: relative;
  width: 325px;
  vertical-align: top;
  z-index: 10;
}
.price-card header {
  background-color: #f46f63;
  border-radius: 6px;
  color: #FFF;
  font-size: 18px;
  font-weight: 600;
  height: 90px;
  padding-top: 18px;
}
.price-card.pro, .price-card.company {
  height: 410px;
  margin-top: 25px;
}
.price-card.pro {
  margin-right: -25px;
}
.price-card.company {
  margin-left: -25px;
  z-index: 0;
}
.price-card.pro header, .price-card.company header {
  padding-top: 34px;
}
.price-card.pro header {
  background-color: #50b6ff;
}
.price-card.company header {
  background-color: #e687ee;
}
.price-card h1 {
  border-bottom: 1px solid #333;
  font-size: 36px;
  font-weight: bold;
  line-height: 36px;
  margin: 56px auto 0 auto;
  padding-bottom: 10px;
  width: 190px;
}
.price-card.company h1 {
  font-size: 20px;
}
.price-card h3 {
  color: #999;
  font-size: 15px;
  margin-top: 20px;
}
.price-card h4 {
  color: #666;  
  font-size: 12px;
  margin-top: 36px;
}
.price-card .btn {
  height: 41px;
  margin-top: 34px;
  width: 136px;
}
.footer-question {
  background: #999999 url(pics/footer-bottom.png) no-repeat 0 260px;
  background-size: 100% 40%;
  color: #FFF;
  margin-top: 80px;
  padding: 20px 0 100px 0;
}
.footer-question h1 {
  margin-bottom: 20px;
}
.footer-question .col-md-3 li {
  padding: 5px 0;
}
.footer-question a {
  color: #EEE;
  font-size: 14px;
}
footer.main-footer:before {
  background: url(pics/footer-bottom.png) no-repeat 0 -10px;
  content:"";
  height: 100px;
  left: 0;
  position: absolute;
  top: -100px;
  width: 100%;
}
footer.main-footer {
  background-color: #FFF;
  margin-top: 100px;
  padding-bottom: 30px;
  padding-top: 20px;
  position: relative;
}
.main-header .navbar-nav > li > a {
  color: #FFF;
}
.main-header .navbar-nav > li > a:hover, .main-header .navbar-nav > li > a:active, .main-header .navbar-nav > li > a:focus {
  background: none;
  color: #EEE;
}
.main-header .nav .open > a, .main-header .nav .open > a:focus, .main-header .nav .open > a:hover {
  background: none;
  color: #EEE;
}
.dropdown-menu {
  min-width: 80px;
}
.main-header .dropdown-menu > li > a {
  margin-left: 0;
  text-align: center;
}