/*Public*/

html,
body {
    width: 100%;
    height: 100%;
}

body {
    font-family: "Lantinghei SC", "Microsoft Yahei", "微软雅黑", Helvetica, Arial, sans-serif;
    font-size: 12px;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: #FFF;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    line-height: 1.4;
    font-weight: 100;
}

ul {
    padding: 0;
}

li {
    list-style: none;
}

a {
    color: #1f9cfe;
    text-decoration: none;
}

a:hover {
    color: #1f9cfe;
    text-decoration: underline;
}

.btn {
    border: 1px solid #FFF;
    background-color: transparent;
    color: #FFF;
    padding: 3px 15px;
    transition: all 0.25s ease-out 0s;
    font-weight: 100;
    border-radius: 0;
}

.btn:hover {
    background-color: rgba(255, 255, 255, 0.7);
    border: 1px solid transparent;
    color: #000;
}

.pos-header-dis {
    margin-top: -10%;
    position: relative;
    bottom: -100%;
}

.half-alternate-two .container .carousel-control {
    text-shadow: none;
    font-weight: normal;
    color: #008ed6;
}

.half-alternate-two .container .carousel-control.left {
    background-image: none;
}

.half-alternate-two .container .carousel-control.right {
    background-image: none;
}

.half .half-alternate-two .half-small {
    display: none;
}


/*bg*/

.cloud-bg {
    display: table;
    width: 100%;
    height: 10%;
    min-height: 100%;
    background: #313e4c url(../pics/header-top.jpg) no-repeat bottom;
    background-size: cover;
    position: relative;
    text-align: center;
    transition: all 1s;
}

.cloud-bg header h1 {
    font-size: 128px;
    color: #FFF;
    transition: all 1s;
    margin-top: -120%;
    opacity: 0;
}

.cloud-bg header h2 {
    font-size: 80px;
    color: #FFF;
    line-height: 1;
    letter-spacing: 12px;
    transition: all 0.5s;
    margin-top: -120%;
	margin-bottom: 40px;
    opacity: 0;
}

.cloud-bg header h3 {
    font-size: 30px;
    color: #FFF;
    line-height: 1;
    margin-bottom: 40px;
    transition: all 0.5s;
    margin-top: -120%;
	margin-bottom: 82px;
    opacity: 0;
}

.cloud-bg header .btn {
    padding-left: 30px;
    padding-right: 30px;
    margin-top: -120%;
    opacity: 0;
}
.cloud-bg header .btn {
	width: 135px;
	height: 52px;
	border-radius: 26px;
	font-size: 14px;
	margin: 0 9px;
	border: 1px solid rgba(255,255,255,0.7);
}
.cloud-bg header .btn.btn-primary {
	background: rgba(255,255,255,0.41);
	border: 1px solid rgba(255,255,255,0.41);
}

/*distance*/

.navbar-btn-top {
    margin-top: 20px;
}

.half .half-alternate-two .cont-center li {
    border: 2px solid #363f55;
    background-color: #fff;
    opacity: 0.5;
}

.half .half-alternate-two .cont-center li.active {
    background-color: #363f55;
    opacity: 0.8;
}

.cont-center {
    vertical-align: middle;
}

.cont-1 {
    background-color: #3d4e63;
}

.cont-1-one {
    width: 100%;
	padding-bottom: 25px;
}

.cont-1-two {
    width: 100%;
}

.cont-1 .cont-1-two .cont1-img-left {
    margin-left: -100%;
    -webkit-transform: scale(0.5, 0.5);
    transform: scale(0.5, 0.5);
    transition: all 1s;
    opacity: 0;
}

.cont-1 .cont-1-two .cont1-img-right {
    margin-right: -100%;
    transition: all 1s;
    opacity: 0;
    -webkit-transform: scale(0.5, 0.5);
    transform: scale(0.5, 0.5);
}

.cont-1 .article h1{color: #FFF;}
.cont-1 .article h2{color: #FFF;}

.cont-1 p {
    text-align: center;
    font-size: 14px;
    color: #FFF;
    line-height: 28px;
    margin-top: 5%;
    margin-bottom: 0;
}

.cont-1 .cont-1-two .cont1-p-left {
    margin-left: -100%;
    transition: all 1.5s;
    opacity: 0;
}

.cont-1 .cont-1-two .cont1-p-right {
    margin-right: -100%;
    transition: all 1.5s;
    opacity: 0;
}

.cont-2 {
    background-color: #FFF;
    
}

.cont-2 .cont-2-p {
    padding: 0;
    margin-top: 15%;
}

.cont-2 .article h1 {
    text-align: left;
    font-size: 40px;
    color: #ff7f22;
}

.cont-2 img {
    margin-left: -10%;
    margin-bottom: -100%;
    opacity: 0;
    transition: all 1.5s;
}

.cont-2 p {
    font-size: 14px;
    color: #666666;
    line-height: 24px;
    margin-bottom: -20%;
    opacity: 0;
    transition: all 1.5s;
}

.cont-3 {
    background-color: #f9f9f9;
    
}

.cont-3 .cont-3-p {
    padding: 0;
    margin-top: 15%;
}

.cont-3 .article h1 {
    text-align: left;
    font-size: 40px;
    color: #40b6ff;
}

.cont-3 img {
    opacity: 0;
    transition: all 1s;
    margin-top: -20%;
}

.cont-3 p {
    font-size: 14px;
    color: #393d3e;
    line-height: 28px;
    transition: all 1.5s;
    margin-bottom: -20%;
}

.cont-4 {
    background: url(../pics/bg-aboutus.jpg) no-repeat;
	background-size: cover;
}

.cont-4 .row .article h1 {
    font-size: 50px;
	margin-bottom: 12px;
}

.cont-4 .row .article h2 {
    font-size: 14px;
    color: #FFF;
}

.cont-4 .row h1 {
    color: #fff;
    text-align: center;
    margin: 0;
    margin-bottom: 3%;
}

.cont-4 .row h2 {
    font-size: 16px;
    color: #c0cbd2;
    text-align: center;
    margin: 0;
    margin-bottom: 0;
}

.cont-4 img {
    opacity: 0;
    transition: all 1.5s;
    margin-bottom: -150%;
    -webkit-transform: scale(0.5, 0.5);
    transform: scale(0.5, 0.5);
}


/*alternate*/

.alternate {
    background-color: #3d4e63;
    position: relative;
    overflow: hidden;
}

.alternate-cont h1 {
    color: #3d4e63;
    font-size: 98px;
    font-weight: 500;
    margin: 0;
    margin-left: -8px;
    margin-bottom: -5%;
    transition: all 1s;
}

.alternate-cont h2 {
    color: #374055;
    font-size: 24px;
    margin-bottom: 5%;
    transition: all 1s;
}

.alternate p {
    color: #374055;
    font-size: 14px;
    margin: 0;
    line-height: 30px;
}

.article {
    margin-top: 5%;
}

.article h1,
.article h2,
.article h3,
.article h4,
.article h5,
.article h6 {
    text-align: center;
}

.article h1 {
    font-size: 40px;
    color: #FFF;
    opacity: 0;
    transition: all 1s;
    margin-top: -50%;
    margin-top: 0%;
}
.article h1 strong {
    font-weight: 600;
	margin: 0 6px;
	color: #ff6f62;
}

.article h2 {
    font-size: 18px;
    color: #FFF;
    margin-top: 16px;
    line-height: 32px;
    opacity: 0;
    transition: all 1s;
    margin-top: -50%;
    margin-top: 0%;
}

.article h3 {
    font-size: 12px;
    color: #c0cbd2;
    margin-top: 10px;
    line-height: 1;
    text-align: right;
    opacity: 0 transition: all 1s;
    margin-right: -100%;
}

.article h6 {
    font-size: 13px;
    color: #FFF;
    margin-top: 10px;
    line-height: 1;
    text-align: right;
    transition: all 1s;
    margin-right: -100%;
    opacity: 0;
}

.half {
    width: 100%;
    height: 100.5%;
    display: table;
    position: relative;
}


.half-alternate-one {
    width: 100%;
    height: 35%;
    display: table;
    position: relative;
    vertical-align: top;
}

.half .docker {
    position: absolute;
    width: 100%;
    height: 100%;
    background: url(../pics/docker.png) 0 0 no-repeat;
    right: -200%;
    transition: all 1s;
    -webkit-transform: scale(0.5, 0.5);
    transform: scale(0.5, 0.5);
    opacity: 0;
}

.half-alternate-two {
    width: 100%;
    height: 65%;
    background: #fff url(../pics/mesos-block.png) center top repeat-x;
    display: table;
}

.half-alternate-two .half-big {
    margin-bottom: -100%;
    opacity: 0;
}

.footer-bg {
    width: 100%;
    height: 200px;
    background:url(../pics/footer-bottom.png) 0 10% repeat-x;
    position: relative;
    padding-top: 60px;
	margin-top: -100px;
}

.footer-bg .container { 
        padding-top: 50px;
    }

.footer-pos {
    position: relative;
    width: 100%;
    height: 100%;
}

.footer-bg p {
    font-size: 11px;
	margin-bottom: 6px;
}

.footer-logo {
	display: inline-block;
	vertical-align: top;
}

.qr-weixin {
 	display: inline-block;
	margin-left: 30px;
	font-size: 11px;
	text-align: center;
}
.footer-text {
	text-align: center;
	margin: 25px 0 10px 0;
	}
.footer-partner {
	text-align: center;
	
}
.footer-partner h5 {
	margin-top: 0;
	margin-bottom: 0; 
	display: inline-block;
	vertical-align: bottom;
	font-weight: bold;
}
.footer-partner img {
	margin-left: 30px;
}

/*css3 animate*/


/*1*/

.active.cloud-bg header h1 {
    position: relative;
}

.active.cloud-bg header h1 {
    transition-duration: 1.2s;
    transition-delay: 0.6s;
    margin-top: 50px;
    opacity: 1;
}

.active.cloud-bg header h2 {
    transition-duration: 1.2s;
    transition-delay: 0.3s;
    margin-top: 0;
    opacity: 1;
}

.active.cloud-bg header h3 {
    transition-duration: 1.2s;
    transition-delay: 0.5s;
    margin-top: 0;
    opacity: 1;
}

.active.cloud-bg header .btn {
    margin-top: 0;
    opacity: 1;
}

.active.cloud-bg .navbar {
    margin-top: 0;
    transition-duration: 1.5s;
    transition-delay: 1.5s;
    opacity: 1;
}


/*2*/

.active .article h1 {
    transition-duration: 1s;
    transition-delay: 0.3s;
    margin-top: 0;
    opacity: 1;
}

.active .article h2 {
    transition-duration: 1s;
    transition-delay: 0.5s;
    margin-top: 0;
    opacity: 1;
}

.active .article h6 {
    transition-duration: 1.4s;
    transition-delay: 0.8s;
    margin-right: 0;
    opacity: 1;
}

.active .half .docker {
    right: -66%;
    transition-duration: 1.4s;
    transition-delay: 0.8s;
    opacity: 1;
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
}

.active .half-alternate-two .half-big {
    margin-bottom: 0;
	margin-top: 50px;
    opacity: 1;
    transition-duration: 2s;
    transition-delay: 2s;
}


/*3*/

.active.cont-1 .cont-1-two .cont1-img-left {
    margin-left: auto;
	margin-right: auto;
    opacity: 1;
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
    transition-duration: 1.5s;
    transition-delay: 1s;
}

.active.cont-1 .cont-1-two .cont1-img-right {
    margin-left: auto;
	margin-right: auto;
    opacity: 1;
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
    transition-duration: 1.5s;
    transition-delay: 1s;
}

.active.cont-1 .cont-1-two .cont1-p-left {
    margin-left: 0;
    opacity: 1;
    transition-duration: 2s;
    transition-delay: 0.8s;
}

.active.cont-1 .cont-1-two .cont1-p-right {
    margin-right: 0;
    opacity: 1;
    transition-duration: 2s;
    transition-delay: 0.8s;
}


/*4*/

.active.cont-2 img {
    margin-bottom: 0%;
    opacity: 1;
    transition-duration: 1s;
    transition-delay: 0.3s;
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
}

.active.cont-2 p {
    opacity: 1;
    transition-duration: 1.5s;
    transition-delay: 0.5s;
    margin-top: 0;
    margin-bottom: 8%;
}


/*5*/

.active.cont-3 img {
    opacity: 1;
    transition-duration: 1.5s;
    transition-delay: 1s;
    margin-top: 0%;
}

.active.cont-3 p {
    opacity: 1;
    transition-duration: 1.5s;
    transition-delay: 0.5s;
}


/*6*/

.active.cont-4 img {
    opacity: 1;
    transition-duration: 2s;
    transition-delay: 0.1s;
    margin-bottom: 0;
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
}

.company-manager {
	text-align: center;
}
.company-manager .manager {
	display: inline-block;
	padding: 0 20px;
	vertical-align: middle;
	position: relative;
}
.company-manager .manager div {
	position: absolute;
	text-align: left;
	color: #FFF;
	width: 330px;
	height: 200px;
	padding: 40px;
}
.company-manager .manager div.intr-mid {
	background: url(../pics/bg-manager-mid.svg) no-repeat;
	right: -65px;
	
}
.company-manager .manager div.intr-left {
	background: url(../pics/bg-manager-left.svg) no-repeat;
	right: 80px;
	padding-top: 60px;
}
.company-manager .manager div.intr-right {
	background: url(../pics/bg-manager-right.svg) no-repeat;
	left: 80px;
	padding-top: 60px;
}
.company-manager .manager h5 {
	color: #FFF;
}
.carousel-indicators {
	bottom: -50px;
}
.carousel-inner > .item > a > img, .carousel-inner > .item > img, .img-responsive, .thumbnail a > img, .thumbnail > img {
	margin: 0 auto;
}
/*@media screen*/

@media screen and (min-height: 550px) and (max-height: 680px) {
    .cont-1 img {
        width: 320px;
    }
    .cont-4 img {
        width: 440px;
    }
    .cont-4 .cont-center {
        vertical-align: top;
        padding-top: 4%;
    }
}

@media screen and (min-height: 680px) and (max-height: 700px) {
    .cont-1 img {
        width: 360px;
    }
    .cont-4 img {
        width: 500px;
    }
    .cont-4 .cont-center {
        vertical-align: top;
        padding-top: 4%;
    }
}

@media screen and (min-width: 1024px) and (max-width: 1336px) {
    .cont-1 img {
        width: 260px;
    }
    .cont-1-two p {
        margin-bottom: 8%;
    }
    .cont-2 .article h1,
    .cont-3 .article h1 {
        font-size: 30px;
    }
    .cont-4 .cont-center {
        vertical-align: top;
        padding-top: 4%;
    }
}

@media screen and (min-width: 600px) and (max-width: 1024px) {
    .active .cloud-bg header h1 {
        font-size: 80px;
    }
    .active .cloud-bg header h2 {
        font-size: 32px;
    }
    .active .cloud-bg header h3 {
        font-size: 16px;
    }
    .docker {
        display: none;
    }
    .half .half-alternate-two .half-big {
        display: none;
    }
    .half .half-alternate-two .half-small {
        display: block;
        margin-bottom: 10%;
    }
    .active .half .half-alternate-two .half-big {
        display: none;
    }
    .active .half .half-alternate-two .half-small {
        display: block;
        margin-bottom: 10%;
    }
    .active .alternate-cont {
        margin-top: 0%;
        margin-left: 20%;
    }
    .alternate-cont {
        margin-top: 0%;
        margin-left: 20%;
    }
    .cont-1 img {
        width: 320px;
    }
    .cont-1-two p {
        margin-bottom: 8%;
    }
    .cont-2 .cont-2-p {
        margin-top: 0;
    }
    .active.cont-2 .article h1 {
        text-align: center;
        font-size: 32px;
    }
    .active .cont1-p-left,
    .active .cont1-p-right,
    .active.cont-2 p {
        font-size: 16px;
        text-align: center;
    }
    .cont-2 img {
        margin: 0;
    }
    .active.cont-3 .article h1 {
        text-align: left;
        font-size: 32px;
        margin-left: 5%;
    }
    .active.cont-3 p {
        font-size: 16px;
        margin-left: 5%;
    }
    .footer-logo,
    .qr-weixin {
        display: none;
    }
}

@media screen and (max-width: 600px) {
    .cloud-bg header h1 {
        font-size: 80px;
    }
    .cloud-bg header h2 {
        font-size: 32px;
    }
    .cloud-bg header h3 {
        font-size: 16px;
    }
    .alternate {
        margin-bottom: 10%;
    }
    .docker {
        display: none;
    }
    .half .half-alternate-two .half-big {
        display: none;
    }
    .half .half-alternate-two .half-small {
        display: block;
    }
    .alternate-cont {
        margin-top: 5%;
    }
    .cont-1-two p {
        margin-bottom: 8%;
    }
    .cont-2 img {
        margin-left: 0;
    }
    .cont-2 .article h1, .cont-3 .article h1,
    {
        text-align: center;
        font-size: 32px;
        color: #2d4863;
    }
    .cont-2 p, .cont-3 p {
        padding: 0 15px;
        font-size: 14px;
        text-align: center;
        color: #365371;
    }
    .active.cont-3 .article h1 {
        text-align: left;
        font-size: 32px;
        margin-left: 5%;
    }
    .cont-3 p {
        padding-left: 6%;
    }
    .active.cont-3 img {
        margin-top: 30%;
    }
    .cont-4 .row .article h1 {
        font-size: 40px;
    }
    .cont-4 .row .article h2 {
        font-size: 14px;
    }
    .footer-bg {
        margin-bottom: 20px;
    }
    .footer-bg p {
        padding-left: 5%;
    }
    .alternate {
        margin-bottom: 10%;
    }
    .cont-2 img {
        margin-left: 0;
    }
    .cont-2 .article h1,
    .cont-3 .article h1 {
        text-align: center;
        font-size: 32px;
    }
    .cont-2 p {
        padding: 0 15px;
        font-size: 14px;
    }
    .cont-3 p {
        padding-left: 5%;
    }
    .cont-4 .row .article h1 {
        font-size: 40px;
    }
    .cont-4 .row .article h2 {
        font-size: 14px;
    }
    .cont-4 .cont-center {
        vertical-align: top;
        padding-top: 10%;
    }
    .footer-bg { 
        padding-bottom: 20px;
        height: 250px;
    }
    .footer-bg p {
        padding-left: 5%;
    }
    .footer-logo,
    .qr-weixin {
        display: none;
    }
}