/*导航适配*/

@media(max-width:768px) {
	.navbar {
		height: 72px;
	}
}


/*页脚适配*/

@media (max-width: 992px) {
	.footer-main .footer-aboutus li {
		display: inline-block;
		margin-left: 15px;
	}
}

@media (max-width:992px) {
	.carousel-indicators li {
		background-color: #737f8d;
		border: 0;
		border-radius: 0;
		color: #FFF;
		font-size: 18px;
		height: 50px;
		line-height: 50px;
		margin: 0 0 0 1px;
		text-align: center;
		text-indent: 0;
		width: 110px;
	}
	.carousel-indicators li.active {
		background-color: #00bdda;
		border: 0;
		border-radius: 0;
		height: 50px;
		text-align: center;
		width: 110px;
	}
}


/*头部样式适配*/

@media(max-width:768px) {
	.header-index h1 {
		font-size: 24px;
	}
}


/*按钮适配*/

@media(max-width: 769px) {
	.button {
		display: block;
	}
	.nav {
		display: none;
	}
	.navbar-toggle {
		position: absolute;
		top: 10px;
		right: 20px;
		z-index: 999;
	}
	.cover {
		display: none;
		width: 100%;
		height: 100%;
		background: #000000;
		opacity: 0.8;
		position: fixed;
		left: 0;
		top: 0;
	}
	.nav .dropdown,
	.nav #solution {
		position: relative;
	}
	.nav .dropdown-click~ul,
	.nav #solution-menu {
		position: absolute;
		left: 0;
		top: 25px;
	}
}

@media(min-width: 769px) {
	.button {
		display: none;
	}
}


/*手机端导航*/

@media(max-width: 414px) {
	.footer-slogan {
		display: none;
	}
	.button {
		display: block;
	}
	.nav {
		display: none;
	}
	.navbar-toggle {
		position: absolute;
		top: 15px;
		right: 20px;
		z-index: 999;
	}
	.cover {
		display: none;
		width: 100%;
		height: 100%;
		background: #000000;
		opacity: 0.8;
		position: fixed;
		left: 0;
		top: 0;
	}
	.navbar-form {
		display: none;
	}
	.navbar-default .navbar-collapse,
	.navbar-default .navbar-form {
		border: none;
	}
	.collapse {
		width: 100%;
		height: 100%;
		/*margin-top: 30px;*/
		padding-left: 50px;
	}
	.nav .dropdown,
	.nav #solution {
		position: relative;
	}
	.nav .dropdown-click~ul,
	.nav #solution-menu {
		position: absolute;
		left: 0;
		top: 25px;
	}
	.scroll {
		display: none;
		height: 600px;
	}
	.nav {
		overflow-y: auto;
		height: 700px;
		overflow-x: hidden;
	}
	.dropdown-menu {
		background-color: rgba(0, 0, 0, 0.1);
		width: 110%;
	}
	.nav #solution-menu .nav-about {
		position: absolute;
		left: 0;
		top: 0px;
		margin-right: 0;
	}
	/* 首页样式 --- 产品特点 */
	.product-feature .media-object {
		width: 33px;
	}
	.product-feature .media-heading {
		color: #5a6879;
		font-size: 14px;
		margin-bottom: 9px;
	}
	.product-feature .media-content {
		color: #666;
		min-height: 120px;
		width: 85%;
	}
	.left {
		display: none;
	}
	.right {
		display: none;
	}
	#caption-img img {
		width: 150px;
		height: 200px;
	}
	#caption-word h1 {
		font-size: 18px !important;
	}
	#caption-word p {
		font-size: 14px;
	}
	#caption-word a {
		font-size: 14px;
	}
	#features {
		width: 80%;
		margin-top: 90px;
	}
	.carousel-indicators {
		margin-top: 50px;
	}
	.tec-comtwo li {
		padding-top: 30px;
	}
	.experience li img {
		width: 80%;
	}
	.dynamic dl dt a {
		width: 380px;
		font-size: 18px;
		color: #00b9df;
	}
	.news dl dt a {
		width: 380px;
		font-size: 18px;
		color: #00b9df;
	}
	#slogan-food h1 {
		padding-top: 35px;
		padding-bottom: 20px;
		font-size: 20px !important;
		text-align: center;
	}
	.btn a {
		width: 42px;
		height: 20px;
	}
	.footer-slogan .btn {
		margin-top: 20px;
		display: block;
		margin: auto;
	}
	.environment .logo {
		width: 80%;
	}
	#scene-seckill header img {
		height: 150px;
		margin-top: 80px;
	}
	.solution header h1 {
		font-size: 25px;
		margin-top: 20px;
		font-weight: 300;
		text-align: center;
	}
	.solution header h2 {
		text-align: center;
	}
	.solution header form {
		display: flex;
		margin: 30px 50px;
	}
	.cloud {
		padding-top: 150px;
		padding-right: 15px;
		padding-left: 15px;
		margin-right: auto;
		margin-left: auto;
	}
	#scene-cicd header img {
		height: 150px;
		margin-top: 80px;
	}
	#scene-cicd header h1 {
		font-size: 36px;
		margin-top: 20px;
		font-weight: 300;
		text-align: center;
	}
	#scene-bigdata header img {
		height: 150px;
		margin-top: 80px;
	}
	#scene-stresstesting header img {
		height: 150px;
		margin-top: 80px;
	}
	#scene-stresstesting header h1 {
		font-size: 26px;
		margin-top: 20px;
		font-weight: 300;
		text-align: center;
	}
	.title-size {
		font-size: 24px !important;
	}
	.resolve-question h1 {
		font-size: 24px !important;
	}
	.header-container h1 {
		font-size: 18px;
		font-weight: 300;
		margin: 190px 0 0 0;
		text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.4);
	}
	.header-index-h1 h1 {
		margin-top: 160px;
	}
	.logo-sole {
		margin-top: 20px;
	}
	.navbar-fixed-top .navbar-collapse {
		max-height: 100% !important;
	}
	.dropdown-menu a {
		color: rgba(255, 255, 255, 0.6);
	}
	.nav-about {
		position: absolute;
		top: 240px;
		left: 28px;
	}
	.content-h1 h1 {
		font-size: 18px;
	}
	#product-price header h5 {
		margin-bottom: 20px;
	}
	#product-price .price-card.pro {
		margin-right: 12px;
		margin-bottom: 25px;
	}
	#product-price .price-card.company {
		margin-left: 10px;
	}
	.container-img img {
		width: 70%;
		height: 70%;
		margin-top: 75px;
	}
	.resolve-question {
		background: #00bdda url(../pics/bg-index-01.png) no-repeat bottom center;
		background-size: 190%;
		height: 470px;
	}
	.resolve-question h1 {
		padding-top: 60px;
	}
	.feature-img img {
		display: block;
		margin: auto;
		width: 70%;
	}
	.feature-logo img {
		width: 70%;
		display: block;
		margin: 0 auto;
	}
	.header h1 {
		font-size: 30px !important;
	}
	.service {
		margin-top: 30px;
	}
	#product header h1 {
		font-size: 36px;
	}
	#product header h2 {
		width: 90%;
		display: inline-block;
		font-size: 18px;
		font-weight: bold;
	}
	#product header h4 {
		width: 90%;
		display: inline-block;
		font-size: 11px;
		line-height: 2;
	}
	.header-solution-h1 h1 {
		font-size: 25px !important;
	}
	.header-solution-h1 h2 {
		font-size: 16px !important
	}
	#scene-bigdata header p {
		line-height: 2;
		width: 90%;
		display: block;
		margin: auto;
	}
	#product-price .btn {
		width: 80%;
		background-color: #62be50;
		border-radius: 6px;
	}
	#aboutus header {
		padding-top: 70px;
	}
	#product header form {
		margin-top: 50px;
	}
	#aboutus header p {
		line-height: 1.5;
	}
	.header-index-h4 h1 {
		padding-top: 30px;
		padding-bottom: 20px;
		font-size: 36px !important;
		display: inline-block;
		text-align: left;
	}
	.header-index h2 {
		font-size: 36px;
	}
	.header-index form {
		margin-top: 80px;
	}
	.btn-white {
		width: 60%;
		height: 50px;
		padding-top: 10px;
		border-radius: 50px;
		border: 2px solid #ffeb00;
		font-size: 16px;
		color: #000;
		background: #ffeb00;
	}
	#companyapp header.main-header h2 {
		font-size: 36px;
	}
	#case-miaosha-bottom {
		width: 300px;
		font-size: 18px;
		padding-top: 24px;
	}
	#product .product-feature h2 {
		margin: 30px 0 16px 0;
	}
	#product-price tbody th {
		font-size: 20px;
	}
	#product-price tbody td {
		font-size: 16px;
	}
	#product-price thead th {
		font-size: 14px;
	}
	.solution header form {
		display: none;
	}
	.footer-help li {
		margin-bottom: 20px;
	}
}

/*苹果五*/
@media(max-width: 375px){
	.footer-slogan{
		display: none;
	}
	.product-feature {
		padding: 60px 0;
	}
	.text-center a{
		margin-top: 20px;
	}
	.dynamic dl dt a{
		width: 230px;
		font-size: 14px;
		color: #00b9df;
	}
	.news dl dt a{
		width: 230px;
		font-size: 16px;
		color: #00b9df;
	}
	#slogan-food h1{
		font-size: 16px !important;
	}
	.footer-help li{
		width: 100%;
	}
	.header-container h1 {
		margin: 180px 0 0 0;
		font-size: 14px;
	}
	.header-index h2 {
    		font-size: 24px;
	}
	.resolve-question{
		height: 390px;
	}
	.product-feature-h2{
		margin-top: 40px;
	}
	.index-carousel{
		padding-top: 45px;
	}
	.environment{
		padding-bottom: 40px;
	}
	#experience-bot{
		padding-bottom: 45px;
	}
	.experience h1{
		padding-top: 50px;
	}
	.news-trends{
		padding-bottom: 35px;
		padding-top: 45px;
	}
	 #case-miaosha-bottom{
	    width: 200px;
	    font-size: 18px;
	    padding-top: 24px;
	}
	.environment h1{
		padding-top: 45px;
	}
	.tec-com h1 {
	    padding-top: 45px;
	}
	.footer-main .footer-aboutus{
		padding-bottom: 60px;
	}
	.tec-comtwo{
		padding-bottom: 60px;
	}
	.solution header form {
		display: none;
	}
	#scene-cicd header img{
		height: 100px;
	}
	.solution-content article{
		padding-bottom: 0px;
	}
	.box-btn-freetry{
		margin: 0;
	}
	#scene-bigdata header p{
		font-size: 12px;
	}
	#scene-stresstesting header p{
		font-size: 12px;
	}
	.solution header h2 {
		font-size: 16px;
	}
	#product-price .price-card{
		width: 250px;
	}
	#product-price thead th{
		font-size: 12px;
	}
	#product-price tbody th{
		font-size: 16px;
	}
	#product-price tbody td{
		font-size: 12px;
	}
	#aboutus .partner dd{
		padding:40px 0;
	}
	#product .product-feature h2 small {
	    font-size: 12px;
	}
	.footer-help li{
		margin-bottom: 30px;
	}
	.carousel-indicators{
		padding-top: 50px;
	}
	.carousel-indicators li {
	    color: #FFF;
	    font-size: 10px;
	    height: 30px; 
	    width: 67px;
	    line-height: 30px;
	}
	.carousel-indicators li.active {
	    background-color: #00bdda;
	    border: 0;
	    border-radius: 0;
	    height: 30px;
	    text-align: center;
	    width: 67px;
	}
	.dropdown-menu a {
	    font-size: 12px;
	    color: rgba(255,255,255,0.4);
	    display: inline-block;
	    margin: 0 8px 8px 0;
	}
	.dropdown-menu {
	    background-color: rgba(0,0,0,0.1);
	    width: 110%;
	}
	.row {
	    margin-right: 0; 
	    margin-left: -15px;
	}

}

@media(max-width: 769px) {
	#product-craner .header-index img {
		width: 60%;
	}
	#product-craner .index-carousel .carousel-caption1 {
		height: 256px;
		width: 256px;
		margin: 10px;
		padding-top: 0;
		background-color: #FFF;
		border-radius: 10px;
		position: relative;
	}
}

/*应用模块手机适配*/
#product-craner .feature-mobile {
		display: none;
	}
#product-craner .feature-mobile {
	text-align: center;
}
#product-craner .feature-mobile h1 {
	font-size: 36px;
	color: #666;
}
#product-craner .feature-mobile h2 {
	font-size: 20px;
	font-weight: 200;
	margin-top: 15px;
	margin-bottom: 50px;
}
#product-craner .feature-mobile header h1 {
	display: none;
}
#product-craner .feature-mobile header h2 {
	font-size: 18px;
	margin-bottom: 20px;
}
#product-craner .feature-mobile h3 {
	font-size: 16px;
	font-weight: bold;
	margin-top: 10px;
}
#product-craner .feature-mobile p {
	margin-bottom: 20px;
	font-size: 14px;
}
#product-craner .feature-mobile img {
	width: 10%;
	margin: 0 auto;
}
@media(max-width: 769px){
	#product-craner .feature-pc {
		display: none!important;
	}
	#product-craner .feature-mobile {
		display: block;
		margin-top: 20px;
		width: 80%;
	}
}
@media(max-width: 769px){
	#product-craner .other-info .btn-bar button{
		display: block;
		margin: 20px auto;
	}
}

@media(max-width: 769px){
	.button{display:block;}
	.nav{
		display: none;
	}
	.navbar-toggle{
		position: absolute;
		top: 10px;
		right: 20px;
		z-index: 999;
	}
	.cover{
		display: none;
		width: 100%;
		height: 100%;
		background: #000000;
		opacity: 0.8;
		position: fixed;
		left: 0;
		top: 0;
	}
	.nav .dropdown,.nav #solution{
		position: relative;
	}
	.nav .dropdown-click~ul,.nav #solution-menu{
		position: absolute;
		left: 0;
		top: 25px;
	}
}

@media(max-width: 769px){
	#product-craner .feature-pc {
		display: none!important;
	}
	#product-craner .feature-mobile {
		display: block;
		margin-top: 20px;
		width: 80%;
	}
}
@media(max-width: 769px){
	#product-craner .other-info .btn-bar button{
		display: block;
		margin: 20px auto;
	}
}

/*----------------------------------------------
-Starfields
@description: styles for the canvas starfield
-----------------------------------------------  */
@media screen and (min-width: 48em) {
	.starfield, .starfields {
		z-index:4;
		position:absolute;
		top:0;
		left:0;
		height:100%;
		width:100%;
		opacity: 0.6;
	}

	.starfield--entrance{
		opacity: 1;
		will-change: opacity;
		animation: starfield-entrance 7s ease both;
	}

	@keyframes starfield-entrance{
		from{
			opacity: 1;
		}
		to{
			opacity: 0.5;
		}
	}
}