/* 重置系统默认样式 */
body {
	background-color: #f3f5f7;
	color: #3D3D3D;
	font-family: 'PingHei', 'PingFang SC', 'Helvetica Neue', 'Helvetica', 'STHeitiSC-Light', 'Arial', sans-serif;
	font-weight: 400;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizelegibility;
}
body, html {
	height: 100%;
}
ul, li {
	list-style: none;
	margin: 0;
	padding: 0;
}

/* cover bootstrap css */
.btn {
	border-radius: 20px;
	font-size: 14px;
	height: 40px;
	padding-top: 7px;
	width: 125px;
}
.btn-default {
	background-color: transparent;
	border-color: #CCC;
	color: #CCC;
}
.btn-primary {
	background-color: #00bdda;
	border-color: #00bdda;
}
.nav > li {
	position: static;
}
.dropdown-menu {
	background-color: rgba(0,0,0,0.6);
	width: 100%;
}
.dropdown-menu h2 {
	font-size: 14px;
	color: rgba(255,255,255,0.6);
}
.dropdown-menu a {
	font-size: 11px;
	color: rgba(255,255,255,0.4);
	display: inline-block;
	margin: 0 20px 20px 0; 
}
.navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > li > a:hover {
	color: #00bdda;
}
.dropdown-menu a:hover {
	color: #00bdda;
	text-decoration: none;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:focus, .navbar-default .navbar-nav > .open > a:hover {
	background-color: transparent;
	color: #00bdda;
}

/* 通用头部样式 */
.nav-main {
	background-color: transparent;
	border: 0;
	margin: 0;
	min-height: 72px;
	padding: 17px 0;
}
.nav-main .navbar-nav > li > a {
	color: #CCC;
	height: 38px;
	padding-top: 9px;
	padding-bottom: 0;
	padding-left: 6px;
	padding-right: 6px;
}
.nav-main .navbar-nav > .active > a, .nav-main .navbar-nav > .active > a:focus, .nav-main .navbar-nav > .active > a:hover {
	background-color: transparent;
	color: #00bdda;
}
.nav-main .navbar-brand {
	background-color: transparent;
	height: 38px;
	padding-top: 0;
	padding-bottom: 0;
	
}
.nav-main .navbar-form {
	margin: 0;
	padding-left: 27px;
}
.nav-main .btn-default {
	background-color:transparent;
	border: 1px solid #81D4FA;
	border-radius: 19px;
	color: #81D4FA;
	font-size: 12px;
	height: 38px;
	padding: 0;
	width: 38px;
}
.nav-main .btn-default.login {
	border: 1px solid #CCC;
	color: #CCC;
}
.nav-scroll {
	background-color: rgba(0,0,0,0.6)!important;
}







/* 通用底部样式 */
.footer-main {
	background: #5a6879;
	color: rgba(255,255,255,0.6);
	font-size: 11px;
}
.footer-main h1 {
	color: #FFF;
	font-size: 14px;
	margin: 0;
}
.footer-main a {
	color: rgba(255,255,255,0.6);
}
.footer-main em, .footer-main em a {
	color: #00bde2;
	font-style: normal;
	font-size: 14px;
}
.footer-main .footer-help {
	border-bottom: 1px solid rgba(255,255,255,0.3);
	text-align: center;
	padding-top: 79px;
	padding-bottom: 60px;
}
.footer-main .footer-help i {
	color: rgba(255,255,255,0.6);
	font-size: 30px;
	margin-bottom: 20px;
}
.footer-main .footer-help h1 {
	margin-bottom: 20px;
}
.footer-main .footer-help p {
	margin-bottom: 25px;
	padding: 0 25px;
}
.footer-main .footer-aboutus {
	padding-top: 54px;
	padding-bottom: 110px;
}
.footer-main .footer-aboutus h1 {
	margin-bottom: 16px;
}
.footer-main .footer-aboutus li {
	margin-bottom: 8px;
}
.footer-main .footer-aboutus .social-network a {
	color: rgba(255,255,255,0.6);
	display: inline-block;
	font-size: 28px;
	margin-bottom: 12px;
	margin-right: 12px;
}
.footer-main .footer-aboutus .social-network a:hover {
	color: rgba(255,255,255,1);
}
.footer-main .copyright {
	padding-bottom: 30px;
	text-align: center;
}
.footer-slogan {
	background-color: #f3f5f7;
	height: 144px;
}
.footer-slogan h1 {
	color: #5a6879;
	font-size: 30px;
	margin: 0;
	padding-top: 52px;
}
.footer-slogan .btn {
	margin-top: 50px;
}








/* 首页通用样式 */
#index {
	height: 100%;
}
#index section h1 {
	color: #5a6879;
	font-size: 36px;
	font-weight: bold;
	margin: 0;
	text-align: center;
}
#index hr {
	border-color: #5a6879;
	margin-bottom: 50px;
	margin-top: 30px;
	text-align: center;
	width: 150px;
	
}

/* 首页样式 --- 轮播 */
.index-carousel {
	padding-top: 90px;
	padding-bottom: 40px;
}
.index-carousel .header h1 {
	color: #00b9df;
	font-size: 50px;
	font-weight: bold;
	margin-top: 0;
	margin-bottom: 80px;
	text-align: center;
}
.index-carousel .header h2 {
	font-size: 18px;
	line-height: 18px;
	margin-top: 0;
	margin-bottom: 30px;
	opacity: 0.4;
	text-align: center;
	vertical-align: middle;
}
.carousel-indicators {
	font-size: 0;
	left: 0;
	margin-left: 0;
	width: 100%;
}
.carousel-inner {
	height: 420px;
}
.carousel-indicators {
	margin: 0;
	bottom: 0;
}
.carousel-indicators li {
	background-color: #737f8d;
	border: 0;
	border-radius: 0;
	color: #FFF;
	font-size: 18px;
	height: 60px;
	line-height: 60px;
	margin: 0 0 0 1px;
	text-align: center;
	text-indent: 0;
	width: 167px;
}
.carousel-indicators li.active {
	background-color: #00bdda;
	border: 0;
	border-radius: 0;
	height: 60px;
	text-align: center;
	width: 167px;
}
.carousel-control {
	background: #f3f5f7!important;
	color: #5a6879;
	height: 120px;
	opacity: 1;
	text-shadow: none;
	top: 115px;
	width: 44px;
	z-index: 1001;
}
.carousel-control:hover, .carousel-control:active {
	color: #5a6879;
}
.carousel-caption {
	bottom: 0;
	left: 0;
	top: 0;
	right: 0;
	width: 100%;
}
.carousel-caption img {
	margin-top: 20px;
}
.carousel-caption h1 {
	color: #5a6879;
	font-size: 24px!important;
	margin-top: 40px!important;
	margin-bottom: 32px!important;
	text-align: left!important;
	text-shadow: none;
}
.carousel-caption p {
	color: #404040;
	font-size: 18px;
	text-align: left;
	text-shadow: none;
}
.carousel-caption p a {
	font-size: 14px;
	text-align: left;
	text-shadow: none;
}

/* 首页样式 --- 头部 */
.header-index {
	background-image: url('../pics/bg-index-header.jpg');
	background-size: cover;
	color: #FFF;
	min-height: 650px;
	height: 100%;
	overflow: hidden;
	position: relative;
	text-align: center;
}
.header-index h1 {
	font-size: 32px;
	font-weight: 300;
	margin: 200px 0 0 0;
	text-shadow: 0px 0px 4px rgba(0,0,0,0.4);
}
.header-index h2 {
	font-size: 54px;
	font-weight: bold;
	font-weight: 500;
	letter-spacing: 1px;
	margin: 35px 0 0 0;
}
.header-index h3 {
	background-color: rgba(204,0,77,0.6);
	border-radius: 10px;
	font-size: 12px;
	height: 20px;
	padding-top: 3px;
	letter-spacing: 2px;
	margin: 27px auto 0 auto;
	width: 155px;
}
.header-index form {
	margin-top: 145px;
}
.header-index form .btn{
	margin-left: 10px;
	margin-right: 10px;
}
.header-index footer {
	bottom: 15px;
	color: rgba(255,255,255,0.6);
	font-size: 42px;
	left: 0;
	position: absolute;
	width: 100%;
}


/* 首页样式 --- 产品特点 */
.product-feature {
	padding: 135px 0;
}
.product-feature .media-left {
	padding-right: 20px;
} 
.product-feature .media-object {
	width: 66px;
}
.product-feature .media-heading {
	color: #5a6879;
	font-size: 24px;
	margin-bottom: 9px;
}
.product-feature .media-content {
	color: #666;
	min-height: 120px;
	width: 85%;
}

/* 首页样式 --- 解决问题 */
.resolve-question {
	background: #00bdda url(../pics/bg-index-01.png) no-repeat bottom center;
	background-size: auto 530px;
	height: 730px;
}
.resolve-question h1 {
	color: #FFF!important;
	padding-top: 80px;
}

/* 首页样式 --- 多环境支持 */
.environment {
	background-color: #f3f5f7;
	padding-bottom: 85px;
}
.environment h1 {
	padding-top: 90px;
}
.environment h2 {
	font-size: 14px;
	line-height: 2;
	margin-bottom: 50px;
	text-align: center;
}
.environment li {
	padding: 25px 0;
	text-align: center;
}
.environment .logo{
	height: 50px;
}

/* 首页样式 --- 技术和组件 */
.tec-com h1 {
	padding-top: 90px;
}
.tec-com .row div {
	padding: 0 20px;
}
.tec-com h2 {
	color: #00b9df;
	font-size: 14px;
	font-weight: bold;
	margin: 15px 0 10px 0;
}
.tec-com p {
	color: #00b9df;
	height: 100px;
}
.tec-com .logo{
	height: 40px;
}

/* 首页样式 --- 成功经验 */
.experience {
	margin-bottom: 90px;
}
.experience h1 {
	padding-top: 90px;
}
.experience hr {
	margin-bottom: 85px!important;
}
.experience li a {
	background-color: #f3f5f7;
	color: #5a6879;
	display: block;
	font-size: 24px;
	height: 165px;
	line-height: 165px;
	margin-bottom: 26px;
	overflow: hidden;
	text-align: center;
	vertical-align: middle;
}
.experience li a .logo {
	display: none;
	margin: 15% auto;
	text-align: center;
	height: 70%;
}
.experience li a:hover {
	background-color: #7a7a7a;
}
.experience li a:hover .logo {
	display: block;
}
.experience li a:hover em {
	display: none;
}
.experience li em {
	font-style: normal;
}

/* 解决方案样式 */
.solution header  {
	background-size: cover;
	color: #FFF;
	height: 600px;
	overflow: hidden;
	position: relative;
	text-align: center;
}
.solution header h1 {
	font-size: 50px;
	font-weight: 300;
	margin: 180px 0 0 0;
	text-shadow: 0px 0px 4px rgba(0,0,0,0.4);
}
.solution header h2 {
	font-size: 18px;
	font-weight: bold;
	font-weight: 500;
	letter-spacing: 1px;
	line-height: 2;
	margin: 35px 0 0 0;
}
.solution header form {
	margin-top: 50px;
}
.solution header form .btn{
	margin-left: 10px;
	margin-right: 10px;
}
.solution-content {
	position: relative;
	z-index: 10001;
}
.solution-content .container {
	background: #FFF;
	border-radius: 0 25px 0 25px;
	box-shadow: 0 0 4px rgba(0,0,0,0.2);
	margin-top: -75px; 
	margin-bottom: 70px; 
}
.solution-content article {
	border-right: 1px solid #EEE;
	margin: 55px 0;
	padding: 0 40px 60px 40px;
}
.solution-content h1 {
	color: #00bdda;
	font-size: 30px;
	font-weight: 600;
	margin: 0;
}
.solution-content h2 {
	color: #5a6879;
	font-size: 18px;
	margin: 0;
}
.solution-content h3 {
	font-size: 18px;
	font-weight: bold;
	margin: 0 0 25px 0;
}
.solution-content hr {
	border-color: #999;
	margin: 25px 0 45px 0;
	width: 80px;
}
.solution-content p {
	color: #666;
	line-height: 1.5;
	margin-bottom: 45px;
}
.solution-content ul {
	margin-bottom: 45px;
	margin-left: 2em;
}
.solution-content li {
	color: #666;
	margin-bottom: 0.5em;
	padding-left: 1.2em;
	position: relative;
}
.solution-content li:before {
	content: "・";
	color: #00bdda;
	font-weight: 600;
	left: 0;
	position: absolute;
	top: 0;
}
.solution-content img {
	margin-bottom: 45px;
}

.solution-content dl {
	padding: 55px 0;
}
.solution-content dd .btn {
	background-color: #f8f8f8;
	border-radius: 15px;
	border: 0;
	color: #333;
	height: 30px;
	line-height: 30px;
	margin: 0 4px 6px 0;
	padding: 0 20px;
	width: auto;
}
.solution-content dd .btn:hover {
	background-color: #EEE;
}
.solution-content blockquote {
	margin-bottom: 45px;
}
.solution-content blockquote h1 {
	font-size: 18px;
	font-weight: bold;
	margin-bottom: 35px;
}
.solution-content blockquote p {
	font-size: 18px;
}	

#solution-finance .header-solution {
	background-image: url(../pics/bg-solution-01.jpg);
}
#solution-tradition .header-solution {
	background-image: url(../pics/bg-solution-02.jpg);
}
#solution-internet .header-solution {
	background-image: url(../pics/bg-solution-03.jpg);
}
#solution-o2o .header-solution {
	background-image: url(../pics/bg-solution-04.jpg);
}
#solution-bio .header-solution {
	background-image: url(../pics/bg-solution-05.jpg);
}
#solution-operator .header-solution {
	background-image: url(../pics/bg-solution-06.jpg);
}

#product {
	height: 100%;
	background-color: #FFF;
}
#product header {
	background-image: url(../pics/pic-product-01.jpg);
}
#product header h1 {
	font-size: 50px;
	margin-top: 145px;
}
#product header h2 {
	font-size: 18px;
	font-weight: bold;
}
#product header h4 {
	font-size: 11px;
	line-height: 2;
}
#product header form {
	margin-top: 90px;
}
#product section:nth-child(2n) {
	background-color: #FFF;
}
#product section:nth-child(2n+1) {
	background-color: #f3f5f7;
}
#product .product-feature h2 {
	font-size: 24px;
	font-weight: bold;
	margin: 30px 0 30px 0;
}
#product .solution-enter {
	background-color: #FFF;
	padding-top: 95px;
	padding-bottom: 105px;
	text-align: center;
}
#product .solution-enter a {
	color: #999;
	display: inline-block;
	font-size: 11px;
	margin-top: 12px;
}

#aboutus {
	background-color: #FFF;
	height: 100%;
}
#aboutus header {
	background-image: url(../pics/pic-aboutus-01.png);
	padding-top: 200px;
	text-align: left;
}
#aboutus header h1 {
	font-size: 50px;
	font-weight: bold;
	text-align: right;
	margin: 0;
}
#aboutus header p {
	line-height: 2;
}
#aboutus header hr {
	margin-left: 0;
	border-color: #00bdda;
	width: 220px;
}
#aboutus section {
	background-color: #FFF;
}
#aboutus .member h3 {
	color: #5a6879;
	font-size: 30px;
}
#aboutus .member h3 small {
	font-size: 15px;
}
#aboutus .member p {
	color: #666;
	font-size: 12px;
}




