/* 重置系统默认样式 */
body {
	background-color: #f9f9fb;
	color: #3D3D3D;
	font-family: 'PingHei', 'PingFang SC', 'Helvetica Neue', 'Helvetica', 'STHeitiSC-Light', 'Arial', sans-serif;
	font-weight: 400;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizelegibility;
}
body, html {
	height: 100%;
}
ul,li {
	list-style: none;
	margin: 0;
	padding: 0;
}

/* cover bootstrap css */
.btn {
	border-radius: 20px;
	font-size: 14px;
	height: 40px;
	padding-top: 7px;
	width: 125px;
}
.btn-default {
	background-color: transparent;
	border-color: #CCC;
	color: #CCC;
}
.btn-primary {
	background-color: #00bdda;
	border-color: #00bdda;
}

/* 通用头部样式 */
.nav-main {
	background-color: transparent;
	border: 0;
	margin: 0;
	min-height: 72px;
	padding: 17px 0;
}
.nav-main .navbar-nav > li > a {
	color: #CCC;
	height: 38px;
	padding-top: 9px;
	padding-bottom: 0;
	padding-left: 6px;
	padding-right: 6px;
}
.nav-main .navbar-nav > .active > a, .nav-main .navbar-nav > .active > a:focus, .nav-main .navbar-nav > .active > a:hover {
	background-color: transparent;
	color: #00bdda;
}
.nav-main .navbar-brand {
	background-color: transparent;
	height: 38px;
	padding-top: 0;
	padding-bottom: 0;
	
}
.nav-main .navbar-form {
	margin: 0;
	padding-left: 27px;
}
.nav-main .btn-default {
	background-color:transparent;
	border: 1px solid #81D4FA;
	border-radius: 19px;
	color: #81D4FA;
	font-size: 12px;
	height: 38px;
	padding: 0;
	width: 38px;
}
.nav-main .btn-default.login {
	border: 1px solid #CCC;
	color: #CCC;
}


/* 通用底部样式 */
.footer-main {
	background: #5a6879;
	color: rgba(255,255,255,0.6);
	font-size: 11px;
}
.footer-main h1 {
	color: #FFF;
	font-size: 14px;
	margin: 0;
}
.footer-main a {
	color: rgba(255,255,255,0.6);
}
.footer-main em, .footer-main em a {
	color: #00bde2;
	font-style: normal;
	font-size: 14px;
}
.footer-main .footer-help {
	border-bottom: 1px solid rgba(255,255,255,0.3);
	text-align: center;
	padding-top: 79px;
	padding-bottom: 60px;
}
.footer-main .footer-help i {
	color: rgba(255,255,255,0.6);
	font-size: 30px;
	margin-bottom: 20px;
}
.footer-main .footer-help h1 {
	margin-bottom: 20px;
}
.footer-main .footer-help p {
	margin-bottom: 25px;
	padding: 0 25px;
}
.footer-main .footer-aboutus {
	padding-top: 54px;
	padding-bottom: 110px;
}
.footer-main .footer-aboutus h1 {
	margin-bottom: 16px;
}
.footer-main .footer-aboutus li {
	margin-bottom: 8px;
}
.footer-main .footer-aboutus .social-network a {
	color: rgba(255,255,255,0.6);
	display: inline-block;
	font-size: 28px;
	margin-bottom: 12px;
	margin-right: 12px;
}
.footer-main .footer-aboutus .social-network a:hover {
	color: rgba(255,255,255,1);
}
.footer-main .copyright {
	padding-bottom: 30px;
	text-align: center;
}
.footer-slogan {
	background-color: #f3f5f7;
	height: 144px;
}
.footer-slogan h1 {
	color: #5a6879;
	font-size: 30px;
	padding-top: 50px;
}
.footer-slogan .btn {
	margin-top: 50px;
}








/* 首页通用样式 */
section h1 {
	color: #5a6879;
	font-size: 36px;
	font-weight: bold;
	margin: 0;
	text-align: center;
}
#index hr {
	border-color: #5a6879;
	margin-bottom: 50px;
	margin-top: 30px;
	text-align: center;
	width: 150px;
	
}


/* 登录注册样式 */
.login {
	background: #b1b8c0 url(../pics/bg-login-01.jpg) no-repeat;
	background-size: cover;
	height: 100%;
	padding-top: 160px;
	position: relative;
	text-align: center;
}
.login .logo {
	opacity: 0.34;
	width: 82px;
}
.login h1 {
	font-size: 24px;
	margin-top: 15px;
	margin-bottom: 20px;
	color: rgba(0,0,0,0.8);
}
.login footer {
	bottom: 25px;
	color: rgba(0,0,0,0.5);
	font-size: 11px;
	left: 0;
	position: absolute;
	text-align: center;
	width: 100%;
}
.login footer ul {
	font-size: 0;
	margin-bottom: 25px;
}
.login footer li {
	display: inline-block;
	margin: 0 10px;
}
.login footer li a {
	color: rgba(0,0,0,0.6);
	font-size: 14px;
}
.login .btn {
	background-color: rgba(0,0,0,0.3);
	border: 0 none;
	border-radius: 25px;
	color: rgba(0,0,0,0.5);;
	font-size: 18px;
	font-weight: 400;
}
.login .btn:hover {
	background-color: rgba(0,0,0,0.3);
	border: 0 none;
	border-radius: 25px;
	color: rgba(0,0,0,0.5);;
	font-size: 18px;
	font-weight: 400;
}
.login .content {

}

.loginForm {
	margin: 0 auto;
	width: 315px;
}
.loginForm .form-group {
	margin-bottom: 0;
	position: relative;
}
.loginForm .form-control {
	background-color: #FFF;
	border: 0;
	border-bottom: 1px solid rgba(0,0,0,0.2);
	border-top: 1px solid rgba(0,0,0,0.2);
	border-radius: 0;
	font-size: 15px;
	height: 62px;
	margin-top: -1px;
	position: relative;
	text-align: center;
	z-index: 101;
}
.loginForm .form-control:focus {
	box-shadow: none;
}
.loginForm .input-first {
	border-radius: 25px 25px 0 0;
	margin-top: 0;
}
.loginForm .input-last {
	border-radius: 0 0 25px 25px;
}
.loginForm .input-single {
	border-radius: 25px;
}
.loginForm .btn {
	background-color: rgba(0,0,0,0.3);
	border: 0 none;
	border-radius: 0 0 25px 25px;
	color: rgba(0,0,0,0.5);;
	font-size: 18px;
	font-weight: 400;
	height: 70px;
	margin-top: -25px;
	padding-top: 27px;
	position: relative;
	width: 100%;
}
.loginForm .prompt-box {
	background: #FFF; 
	border: 1px solid #EEE; 
	border-radius: 3px;
	box-shadow: 0px 0px 4px rgba(0,0,0,0.2);
	display: none;
	font-size: 11px;
	padding: 10px; 
	position: absolute;
	right: -225px; 
	text-align: left;
	top: 10px; 
	width: 200px;    
}
.loginForm .prompt-box .arrow {
	border-color: transparent;
	border-style: solid;
	display: block;
	height: 0;
	position: absolute;
	width: 0;
	border-width: 11px;
	border-left-width: 0;
	border-right-color: #EEE;
	left: -11px;
	top: 7px;
}
.loginForm .prompt-box .arrow:after {
	border-color: transparent;
	border-style: solid;
	display: block;
	height: 0;
	position: absolute;
	width: 0;
	border-width: 10px;
	content: "";
	border-left-width: 0;
	border-right-color: #fff;
	bottom: -10px;
	content: " ";
	left: 1px;
}
.loginForm span.ico {
	background-color: #FFF;
	border-radius: 7px;
	color: #ff794e;
	display: none;
	height: 14px;
	left: -24px;
	position: absolute;
	top: 24px;
	width: 14px;
}
.loginForm span.ico i {
	color: #ff794e;
	font-size: 20px;
	left: -1px;
	position: absolute;
	top: -2px;
}
.loginForm .has-error .form-control {
	background-color: #feebe9;
}
.loginForm .has-error .prompt-box {
	color: #f57c6c;
}
.loginForm .has-error span.ico {
	display: block;
}
.loginForm .has-error .form-control:focus {
	background-color: #FFF;
	box-shadow: none;
	border-top: 1px solid rgba(0,0,0,0.2);
}
.login .switch {
	margin-top: 10px;
}
.login .switch a {
	color: rgba(0,0,0,0.6);
	font-size: 11px;
}
#login {
	background: #b1b8c0 url(../pics/bg-login-01.jpg) no-repeat;
	padding-top: 160px;
}
#register {
	background: #b1b8c0 url(../pics/bg-login-01.jpg) no-repeat;
	padding-top: 100px;
}
#reset-password {
	background: #b1b8c0 url(../pics/bg-login-01.jpg) no-repeat;
	padding-top: 160px;
}
#notification h1 {
	margin: 0;
	padding-bottom: 35px;
	padding-top: 30px;
}



/* 首页样式 --- 轮播 */
.index-carousel {
	padding-top: 90px;
	padding-bottom: 40px;
}
.carousel-indicators {
	font-size: 0;
	left: 0;
	margin-left: 0;
	width: 100%;
}
.carousel-inner {
	height: 420px;
}
.carousel-indicators {
	margin: 0;
	bottom: 0;
}
.carousel-indicators li {
	background-color: #737f8d;
	border: 0;
	border-radius: 0;
	color: #FFF;
	font-size: 18px;
	height: 60px;
	line-height: 60px;
	margin: 0 0 0 1px;
	text-align: center;
	text-indent: 0;
	width: 167px;
}
.carousel-indicators li.active {
	background-color: #00bdda;
	border: 0;
	border-radius: 0;
	height: 60px;
	text-align: center;
	width: 167px;
}
.carousel-control {
	background: #f3f5f7!important;
	color: #5a6879;
	height: 120px;
	opacity: 1;
	text-shadow: none;
	top: 115px;
	width: 44px;
	z-index: 1001;
}
.carousel-control:hover, .carousel-control:active {
	color: #5a6879;
}
.carousel-caption {
	bottom: 0;
	left: 0;
	top: 0;
	right: 0;
	width: 100%;
}
.carousel-caption img {
	margin-top: 20px;
}
.carousel-caption h1 {
	color: #5a6879;
	font-size: 24px;
	margin-top: 40px;
	margin-bottom: 32px;
	text-align: left;
	text-shadow: none;
}
.carousel-caption p {
	color: #404040;
	font-size: 18px;
	text-align: left;
	text-shadow: none;
}
.carousel-caption p a {
	font-size: 14px;
	text-align: left;
	text-shadow: none;
}

/* 首页样式 --- 头部 */
.header-index {
	background-image: url('../pics/bg-index-header.jpg');
	background-size: cover;
	color: #FFF;
	height: 100%;
	min-height: 600px;
	overflow: hidden;
	position: relative;
	text-align: center;
}
.header-index h1 {
	font-size: 32px;
	font-weight: 300;
	margin: 200px 0 0 0;
	text-shadow: 0px 0px 4px rgba(0,0,0,0.4);
}
.header-index h2 {
	font-size: 54px;
	font-weight: bold;
	font-weight: 500;
	letter-spacing: 1px;
	margin: 35px 0 0 0;
}
.header-index h3 {
	background-color: rgba(204,0,77,0.6);
	border-radius: 10px;
	font-size: 12px;
	height: 20px;
	padding-top: 3px;
	letter-spacing: 2px;
	margin: 27px auto 0 auto;
	width: 155px;
}
.header-index form {
	margin-top: 145px;
}
.header-index form .btn{
	margin-left: 10px;
	margin-right: 10px;
}
.header-index footer {
	bottom: 25px;
	color: rgba(255,255,255,0.6);
	font-size: 42px;
	left: 0;
	position: absolute;
	width: 100%;
}


/* 首页样式 --- 产品特点 */
.product-feature {
	padding: 135px 0;
}
.product-feature .media-left {
	padding-right: 20px;
} 
.product-feature .media-object {
	width: 66px;
}
.product-feature .media-heading {
	color: #5a6879;
	font-size: 24px;
	margin-bottom: 9px;
}
.product-feature .media-content {
	color: #666;
	min-height: 120px;
	width: 85%;
}

/* 首页样式 --- 解决问题 */
.resolve-question {
	background: #00bdda url(../pics/bg-index-01.png) no-repeat bottom center;
	background-size: auto 530px;
	height: 730px;
}
.resolve-question h1 {
	color: #FFF!important;
	padding-top: 80px;
}

/* 首页样式 --- 多环境支持 */
.environment {
	background-color: #f3f5f7;
	padding-bottom: 85px;
}
.environment h1 {
	padding-top: 90px;
}
.environment h2 {
	font-size: 14px;
	line-height: 2;
	margin-bottom: 50px;
	text-align: center;
}
.environment li {
	padding: 25px 0;
	text-align: center;
}
.environment .logo{
	height: 50px;
}

/* 首页样式 --- 技术和组件 */
.tec-com h1 {
	padding-top: 90px;
}
.tec-com .row div {
	padding: 0 20px;
}
.tec-com h2 {
	color: #00b9df;
	font-size: 14px;
	font-weight: bold;
	margin: 15px 0 10px 0;
}
.tec-com p {
	color: #00b9df;
	height: 100px;
}
.tec-com .logo{
	height: 40px;
}

/* 首页样式 --- 成功经验 */
.experience {
	margin-bottom: 90px;
}
.experience h1 {
	padding-top: 90px;
}
.experience hr {
	margin-bottom: 85px!important;
}
.experience li a {
	background-color: #f3f5f7;
	color: #5a6879;
	display: block;
	font-size: 24px;
	height: 165px;
	line-height: 165px;
	margin-bottom: 26px;
	overflow: hidden;
	text-align: center;
	vertical-align: middle;
}
.experience li a .logo {
	display: none;
	margin: 15% auto;
	text-align: center;
	height: 70%;
}
.experience li a:hover {
	background-color: #7a7a7a;
}
.experience li a:hover .logo {
	display: block;
}
.experience li a:hover em {
	display: none;
}
.experience li em {
	font-style: normal;
}
