<% extend "../../common.html" %>
<% block 'keywords': %>一键部署，PaaS 平台、PaaS、Mesos、Docker<% end %>
<% block 'description': %>通过数人云可一键部署Docker容器化应用，Spark、Hadoop、Jenkins等分布式应用。从而快速搭建微服务和大数据生产环境.<% end %>
<% block 'title': %>一键部署企业级应用 - 数人云<% end %>
<% block 'bodyContent': %>
<% include '../../common_views/nav.html' %>
<div id="CA-spark" class="company-app">
    <header class="main-header">
        <div class="container">
            <img src="pics/logo-spark.svg" width="50%" class="app-logo">
            <h2>Spark 是目前最流行的大数据处理框架，基于内存运算、DAG 引擎等特性，其运算速度可以达到 Hadoop 的100倍。通过数人云，可以一键部署基于 Mesos 调度的 Spark
                集群，快速进行数据分析。</h2>
            <a class="btn btn-lg btn-white" href="http://shurenyun.mikecrm.com/f.php?t=dgEk0S" target="_blank"
               id="CA-spark-top">申请试用</a>
            <h3>一键部署 ・ 与HDFS轻松集成 ・ 快速获得大数据分析能力</h3>
            <a href="#" class="ico-arrow-down"><img src="pics/ico-arrow-down.png" width="45"></a>
        </div>
    </header>

    <section class="companyapp-feature02">
        <div class="container">
            <h2>一键部署</h2>
            <h3>一键部署 Spark VS 自己搭建 Spark 集群</h3>
            <img src="pics/spark-pic-01.svg" width="100%">
            <h3>一键部署 Spark+HDFS VS 自己搭建和配置 Spark+HDFS 集群</h3>
            <img src="pics/spark+hdfs-pic-02.svg" width="100%">
        </div>
    </section>

    <section class="platform-vantage">
        <div class="container">
            <h2>数人云平台自身优势</h2>
            <ul class="show-line-v">
                <li>
                    <div class="left-box">
                        <span class="title">一秒扩容</span>
                        <span class="circle"></span>
                    </div>
                    <dl class="right-box">
                        <dt>10倍流量体验依然顺畅</dt>
                        <dd>根据客户实际需求，</dd>
                        <dd>秒级动态伸缩业务应用实例个数，</dd>
                        <dd>保障业务应用的高性能。</dd>
                    </dl>
                </li>
                <li>
                    <div class="left-box">
                        <span class="title">自动恢复</span>
                        <span class="circle"></span>
                    </div>
                    <dl class="right-box">
                        <dt>保障业务永不掉线</dt>
                        <dd>自动发现和恢复应用实例，</dd>
                        <dd>保障客户应用的高可用。</dd>
                    </dl>
                </li>
                <li>
                    <div class="left-box">
                        <span class="title">一键部署、在线升级、灰度发布</span>
                        <span class="circle"></span>
                    </div>
                    <dl class="right-box">
                        <dt>10每天迭代产品</dt>
                        <dd>通过容器化业务应用，</dd>
                        <dd>配合数人云操作系统，</dd>
                        <dd>在不影响在线业务的同时</dd>
                        <dd>轻松实现在线升级和灰度发布。</dd>
                    </dl>
                </li>
                <li>
                    <div class="left-box">
                        <span class="title">自动分配、混跑业务</span>
                        <span class="circle"></span>
                    </div>
                    <dl class="right-box">
                        <dt>资源利用率提高3~5倍</dt>
                        <dd>可将不同应用和任务混跑在同一个集群中，</dd>
                        <dd>提高资源利用率。</dd>
                    </dl>
                </li>
            </ul>
            <a class="btn btn-lg btn-white" href="http://shurenyun.mikecrm.com/f.php?t=dgEk0S" target="_blank"
               id="CA-spark-bottom">申请试用</a>
        </div>
    </section>
</div>
<% include '../../common_views/footer.html' %>
<% end %>