<% extend "../../common.html" %>
<% block 'keywords': %>数人云,容器,Container,PaaS平台,Docker,SRE,DevOps,微服务,Kubernetes,Squid,Hawk，Swan,Dataman Os,分布式,金融容器云,Octopus,Springcloud,Mesos,容器编排，K8S servicemesh CI/CD 持续集成 持续交付 云原生 CloudNative Microservice 容器云 serverless 应用编排<% end %>
<% block 'description': %>数人云是基于 Mesos 和 Docker 技术的云操作系统，致力于打造最轻量化的PaaS平台，可实现应用的快速发布和弹性扩展。支持混合云管理，实现一站式的微服务架构集群系统，帮助用户快速建立并稳定运维高性能生产环境，解决从客户到云资源的最后一公里。<% end %>
<% block 'title': %>数人云产品 - 基于容器的最轻量化 PaaS 平台<% end %>
<% block 'bodyContent': %>
<% include '../../common_views/nav.html' %>
<div id="product-craner">
    <header class="header-recruit">
        <h3>加入我们</h3>
        <h5>我们致力营造开放透明的工作环境，让团队的每一名成员都有机会发挥潜能，也确保每个人的意见都获得尊重。 我们诚邀跟我们一样力求突破。</h5>
    </header>

    <section id="job-detail" class="job-detail">
        <div class="container detail-container">
            <p class="job-top"><img src="pics/arrow/arrow-l.svg"><a href="./recruit.html#recruit-jobs">全部岗位</a></p>
            <hr>
            <h2 class="row">
                <span class="col-md-10">解决方案架构师</span>
                <small class="col-md-2">北京</small>
            </h2>
            <div class="job-duty">
                <h4>岗位职责：</h4>
                <p>1. 【产品售前】为意向客户进行专业的数人云产品介绍，包括产品演示、测试（POC）和培训宣讲工作</p>
                <p>2. 【架构和策略咨询】为客户提供IT基础架构向云平台升级的咨询，为客户业务上云改造提出建议</p>
                <p>3. 【文档和招标文件】承担或组织售前和投标过程中的文档工作，参与编写产品培训材料</p>
                <p>4. 【项目沟通】在项目的实施阶段，早期也会参与一些部署和后期培训等工作；解决客户在产品使用中遇到的问题，收集、整理和反馈客户对产品的需求及问题</p>
            </div>
            <div class="job-asked">
                <h4>岗位要求：</h4>
                <p>1. 统招本科以上学历，有过实际开发经验，8年以上IT工作经验 —— 写过代码、讲过方案、攒过文档、管过项目，四居其三。</p>
                <p>2. 有过IOE、华为等知名IT公司工作经历，具有丰富的复杂业务软件系统的售前咨询和实施经验，特别是在金融、电信、能源等行业的大型项目领域。</p>
                <p>3. 熟悉Linux的基本操作和原理，熟悉基于J2EE架构的企业软件，熟悉企业常用的网络和存储配置方案，承担过企业应用的开发工作（编程语言不限）。</p>
                <p>4. 了解云计算、虚拟化技术框架，了解 Docker、Mesos、Kubernetes、Openstack 等相关技术者优先</p>
                <p>5. 具有良好的技术和项目文档编写能力，良好的客户沟通能力，善于总结问题、提炼问题</p>
            </div>
            <div class="job-footer">
                简历请发送至：hr@dataman-inc.com
            </div>
            <hr>
        </div>
    </section>

    <% include '../../common_views/footer.html' %>
</div>
<!--<a href="https://github.com/Dataman-Cloud/crane" target="_blank"><img style="position: absolute; top: 0; left: 0; border: 0;" src="./pics/fork-me-on-github.png" alt="Fork me on GitHub" width="120"></a>-->
<% end %>
