<% extend "../../common.html" %>
<% block 'keywords': %>数人云,容器,Container,PaaS平台,Docker,SRE,DevOps,微服务,Kubernetes,Squid,Hawk，Swan,Dataman Os,分布式,金融容器云,Octopus,Springcloud,Mesos,容器编排，K8S servicemesh CI/CD 持续集成 持续交付 云原生 CloudNative Microservice 容器云 serverless 应用编排<% end %>
<% block 'description': %>数人云是基于 Mesos 和 Docker 技术的云操作系统，致力于打造最轻量化的PaaS平台，可实现应用的快速发布和弹性扩展。支持混合云管理，实现一站式的微服务架构集群系统，帮助用户快速建立并稳定运维高性能生产环境，解决从客户到云资源的最后一公里。<% end %>
<% block 'title': %>数人云产品 - 基于容器的最轻量化 PaaS 平台<% end %>
<% block 'bodyContent': %>
<% include '../../common_views/nav.html' %>
<div id="product-craner">
    <header class="header-recruit">
        <h3>加入我们</h3>
        <h5>我们致力营造开放透明的工作环境，让团队的每一名成员都有机会发挥潜能，也确保每个人的意见都获得尊重。 我们诚邀跟我们一样力求突破。</h5>
    </header>

    <section id="job-detail" class="job-detail">
        <div class="container detail-container">
            <p class="job-top"><img src="pics/arrow/arrow-l.svg"><a href="./recruit.html#recruit-jobs">全部岗位</a></p>
            <hr>
            <h2 class="row">
                <span class="col-md-10">大客户销售总监</span>
                <small class="col-md-2">北京/上海/广州</small>
            </h2>
            <div class="job-duty">
                <h4>岗位职责：</h4>
                <p>1、根据公司制定的销售计划，完成既定的销售任务；</p>
                <p>2、协助公司领导完善销售策略，并根据客户需求提供调整方案；</p>
                <p>3、负责重点客户的开发和关系维护；</p>
                <p>4、负责已合作客户的合作意见收集，反馈，跟进客户回款进度；</p>
            </div>
            <div class="job-asked">
                <h4>岗位要求：</h4>
                <p>1、有IT相关背景知识，熟悉银行、金融、电信、政府、能源等任一行业客户的需求，拥有相关行业客户资源；</p>
                <p>2、本科及以上学历，至少有8年以上IT销售经验，有云计算解决方案行业销售管理经验者优先；</p>
                <p>3、较强的客户开发能力、谈判能力、团队协作能力；</p>
                <p>4、有在500强企业及创业公司双重背景经验佳，了解云计算、IaaS, PaaS, SaaS等解决方案和服务的优先；</p>
            </div>
            <div class="job-footer">
                简历请发送至：hr@dataman-inc.com
            </div>
            <hr>
        </div>
    </section>

    <% include '../../common_views/footer.html' %>
</div>
<!--<a href="https://github.com/Dataman-Cloud/crane" target="_blank"><img style="position: absolute; top: 0; left: 0; border: 0;" src="./pics/fork-me-on-github.png" alt="Fork me on GitHub" width="120"></a>-->
<% end %>
