<% extend "../../common.html" %>
<% block 'keywords': %>数人云,容器,Container,PaaS平台,Docker,SRE,DevOps,微服务,Kubernetes,Squid,Hawk，Swan,Dataman Os,分布式,金融容器云,Octopus,Springcloud,Mesos,容器编排，K8S servicemesh CI/CD 持续集成 持续交付 云原生 CloudNative Microservice 容器云 serverless 应用编排<% end %>
<% block 'description': %>数人云是基于 Mesos 和 Docker 技术的云操作系统，致力于打造最轻量化的PaaS平台，可实现应用的快速发布和弹性扩展。支持混合云管理，实现一站式的微服务架构集群系统，帮助用户快速建立并稳定运维高性能生产环境，解决从客户到云资源的最后一公里。<% end %>
<% block 'title': %>数人云产品 - 基于容器的最轻量化 PaaS 平台<% end %>
<% block 'bodyContent': %>
<% include '../../common_views/nav.html' %>
<div id="product-craner">
    <header class="header-recruit">
        <h3>加入我们</h3>
        <h5>我们致力营造开放透明的工作环境，让团队的每一名成员都有机会发挥潜能，也确保每个人的意见都获得尊重。 我们诚邀跟我们一样力求突破。</h5>
    </header>

    <section id="job-detail" class="job-detail">
        <div class="container detail-container">
            <p class="job-top"><a href="./recruit.html#recruit-jobs">全部岗位</a></p>
            <hr><h2 class="row">
            <span class="col-md-10">项目经理</span>
            <small class="col-md-2">北京</small>
        </h2>
            <div class="job-duty">
                <h4>岗位职责：</h4>
                <p>1、负责官方微信、微博、头条号等社交媒体/自媒体日常运营，日常内容发布、推广、用户互动等；</p>
                <p>2、独立策划、撰写、翻译原创内容，负责微信原创内容的产出；</p>
                <p>3、定期总结、调整更适合的技术内容方向；</p>
                <p>4、分析运营数据，定期输出数据效果反馈；</p>
                <p>5、与其他技术自媒体账号互推沟通，完成阅读量、粉丝增长等KPI；</p>
            </div>
            <div class="job-asked">
                <h4>岗位要求：</h4>
                <p>1、对IT技术有浓厚的兴趣，关注创新、科技等方向；</p>
                <p>2、市场营销、传媒、IT、新闻等相关专业优先；</p>
                <p>3、一年及以上策划或撰稿等工作经验，从事或接触过IT行业者优先；</p>
                <p>4、有一定的微信、微博、第三方自媒体平台等运营经验；</p>
                <p>5、有较好的文字功底，思维活跃；</p>
                <p>6、有责任心，重视团队协作以及创新能力；</p>
            </div>
            <div class="job-footer">
                简历请发送至：hr@dataman-inc.com
            </div>
        </div>
    </section>

    <% include '../../common_views/footer.html' %>
</div>
<!--<a href="https://github.com/Dataman-Cloud/crane" target="_blank"><img style="position: absolute; top: 0; left: 0; border: 0;" src="./pics/fork-me-on-github.png" alt="Fork me on GitHub" width="120"></a>-->
<% end %>
