<% extend "../../common.html" %>
<% block 'keywords': %>数人云,容器,Container,PaaS平台,Docker,SRE,DevOps,微服务,Kubernetes,Squid,Hawk，Swan,Dataman Os,分布式,金融容器云,Octopus,Springcloud,Mesos,容器编排，K8S servicemesh CI/CD 持续集成 持续交付 云原生 CloudNative Microservice 容器云 serverless 应用编排<% end %>
<% block 'description': %>数人云是基于 Mesos 和 Docker 技术的云操作系统，致力于打造最轻量化的PaaS平台，可实现应用的快速发布和弹性扩展。支持混合云管理，实现一站式的微服务架构集群系统，帮助用户快速建立并稳定运维高性能生产环境，解决从客户到云资源的最后一公里。<% end %>
<% block 'title': %>数人云产品 - 基于容器的最轻量化 PaaS 平台<% end %>
<% block 'bodyContent': %>
<% include '../../common_views/nav.html' %>
<div id="product-craner">
    <header class="header-squid">
        <img src="pics/squid/squid-logo.png">
        <h1>加入我们</h1>
        <h2>招聘</h2>
        <!--<form style="margin-top: 30px;">-->
            <!--<footer>-->
                <!--<a target="_blank" class="banner-btn" href="http://shurenyun.mikecrm.com/IEPkGK">-->
                    <!--&lt;!&ndash;<img class="img-up-down" src="pics/squid/squid-decline.png" width="134px">&ndash;&gt;-->
                    <!--申请试用-->
                <!--</a>-->
            <!--</footer>-->
        <!--</form>-->

        <footer><i class="fa fa-angle-down fa-up-down"></i></footer>
    </header>

    <section class="summary squid-summary">
        <div class="container"><img src="pics/aa81.png">
            <h2>Characteristic</h2>
            <p>
                <strong>数人云高并发消息处理平台 Squid</strong><br>
                一体化异步微服务平台，基于容器云平台打造，支持同步和异步模式。它具有高可用、高并发、无侵入性扩展业务、服务依赖实时跟踪以及自动伸缩等特性，无缝融合物理机、虚拟机及容器，从而实现微服务统一管理、配置、监控。
            </p>
        </div>
    </section>

    <% include '../../common_views/footer.html' %>
</div>
<!--<a href="https://github.com/Dataman-Cloud/crane" target="_blank"><img style="position: absolute; top: 0; left: 0; border: 0;" src="./pics/fork-me-on-github.png" alt="Fork me on GitHub" width="120"></a>-->
<% end %>
