<% extend "../../common.html" %>
<% block 'keywords': %>数人云,容器,Container,PaaS平台,Docker,SRE,DevOps,微服务,Kubernetes,Squid,Hawk，Swan,Dataman Os,分布式,金融容器云,Octopus,Springcloud,Mesos,容器编排，K8S servicemesh CI/CD 持续集成 持续交付 云原生 CloudNative Microservice 容器云 serverless 应用编排<% end %>
<% block 'description': %>数人云是基于 Mesos 和 Docker 技术的云操作系统，致力于打造最轻量化的PaaS平台，可实现应用的快速发布和弹性扩展。支持混合云管理，实现一站式的微服务架构集群系统，帮助用户快速建立并稳定运维高性能生产环境，解决从客户到云资源的最后一公里。<% end %>
<% block 'title': %>数人云产品 - 基于容器的最轻量化 PaaS 平台<% end %>
<% block 'bodyContent': %>
<% include '../../common_views/nav.html' %>
<div id="product-craner">
    <header class="header-recruit">
        <h3>加入我们</h3>
        <h5>我们致力营造开放透明的工作环境，让团队的每一名成员都有机会发挥潜能，也确保每个人的意见都获得尊重。 我们诚邀跟我们一样力求突破。</h5>
    </header>

    <section id="recruit-jobs" class="recruit-jobs">
        <div class="container recruit-container">
            <h1>招聘岗位</h1>
            <h2>Job position</h2>
            <hr>
            <div class="recruit-position">
                <a class="recruit-link" href="./architect.html#job-detail">
                    <h4>解决方案架构师</h4>
                    <p>
                        <span class="col-md-9 col-xs-12 address">地点：北京</span>
                        <span class="col-md-3 col-xs-12 job-disc">查看详情 <img src="pics/arrow/arrow-r.svg"></span>
                    </p>
                </a>
            </div>
            <div class="recruit-position">
                <a class="recruit-link" href="./content-operation.html#job-detail">
                    <h4>内容运营</h4>
                    <p>
                        <span class="col-md-9 col-xs-12 address">地点：北京</span>
                        <span class="col-md-3 col-xs-12 job-disc">查看详情 <img src="pics/arrow/arrow-r.svg"></span>
                    </p>
                </a>
            </div>
            <div class="recruit-position">
                <a class="recruit-link" href="director-sales.html#job-detail">
                    <h4>大客户销售总监</h4>
                    <p>
                        <span class="col-md-9 col-xs-12 address">地点：北京/上海/广州</span>
                        <span class="col-md-3 col-xs-12 job-disc">查看详情 <img src="pics/arrow/arrow-r.svg"></span>
                    </p>
                </a>
            </div>
        </div>
    </section>

    <% include '../../common_views/footer.html' %>
</div>
<!--<a href="https://github.com/Dataman-Cloud/crane" target="_blank"><img style="position: absolute; top: 0; left: 0; border: 0;" src="./pics/fork-me-on-github.png" alt="Fork me on GitHub" width="120"></a>-->
<% end %>
