<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<meta name="keywords" content="大数据, 数人科技, 北京数人科技有限公司, 北京数人, Dataman">
<meta name="description" content="数人科技专注于实现云时代的分布式操作系统，帮助企业开启云的力量。数人云是国内第一款基于Mesos的企业级云操作系统，可以为企业提供目前最成熟的Docker生产环境。让容器技术在生产环境落地。">
<meta name="author" content="王璞, 肖德时, 谢乐冰">
<title>数人云 - 云时代的操作系统 数人科技</title>
<link rel="shortcut icon" type="image/x-icon" href="pics/favicon.ico" />
<!--build:css css/price-style.css-->
<link rel="stylesheet" href="js/bower_components/bootstrap/dist/css/bootstrap.min.css">
<link rel="stylesheet" href="css/style.css">
<!--endbuild-->
</head>

<body id="product-price">
<header class="main-header">
	<div class="container">
		<nav class="navbar" data-ng-include="'/common/nav.html'"></nav>
		<h2>数人云 & 服务报价</h2>
		<h5>新注册用户，免费使用 <em>30</em> 天</h5>
		<div class="price-card-bar">
			<div class="price-card pro">
				<header>专业版</header>
				<h1><sup>&yen;</sup> 1200</h1>
				<h3>Agent / 月</h3>
				<h4>7×24小时</h4>
        <a href="/index.html?register=true">
          <button class="btn btn-success">立即试用</button>
        </a>
			</div>
			<div class="price-card">
				<header>无限制<br>企业功能试用版</header>
				<h1><sup>&yen;</sup> 0</h1>
				<h3>Agent / 月</h3>
				<h4>5×8小时</h4>
        <a href="/index.html?register=true">
          <button class="btn btn-success">立即试用</button>
        </a>
			</div>
			<div class="price-card company">
				<header>企业版</header>
				<h1>010-64776698</h1>
				<h3>联系销售人员</h3>
				<h4>010-64776698</h4>
        <a href="http://shurenyun.mikecrm.com/f.php?t=iHW5ve" target="_blank">
          <button class="btn btn-success">免费咨询</button>
        </a>
			</div>
		</div>
	</div>
</header>

<section>
	<div class="container">
		<table class="table table-responsive">
			<thead>
				<tr>
					<th></th>
					<th>无限制<br>企业功能试用版</th>
					<th>专业版</th>
					<th>企业版</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<th>1. 集群管理</th>
					<th></th>
					<th></th>
					<th></th>
				</tr>
				<tr>
					<td>1.1 主机管理</td>
					<td><span class="glyphicon glyphicon-ok"></span></td>
					<td><span class="glyphicon glyphicon-ok"></span></td>
					<td><span class="glyphicon glyphicon-ok"></span></td>
				</tr>
				<tr>
					<td>1.2 监控告警</td>
					<td><span class="glyphicon glyphicon-ok"></span></td>
					<td><span class="glyphicon glyphicon-ok"></span></td>
					<td><span class="glyphicon glyphicon-ok"></span></td>
				</tr>
				<tr>
					<td>1.3 跨云管理</td>
					<td>开发中...</td>
					<td>开发中...</td>
					<td>开发中...</td>
				</tr>
			</tbody>
			<tbody>
				<tr>
					<th>2. 应用管理</th>
					<th></th>
					<th></th>
					<th></th>
				</tr>
				<tr>
					<td>2.1 自动扩展（Auto Scaling）</td>
					<td><span class="glyphicon glyphicon-ok"></span></td>
					<td><span class="glyphicon glyphicon-ok"></span></td>
					<td><span class="glyphicon glyphicon-ok"></span></td>
				</tr>
				<tr>
					<td>2.2 自动恢复（Failover）</td>
					<td><span class="glyphicon glyphicon-ok"></span></td>
					<td><span class="glyphicon glyphicon-ok"></span></td>
					<td><span class="glyphicon glyphicon-ok"></span></td>
				</tr>
				<tr>
					<td>2.3 微服务支持</td>
					<td><span class="glyphicon glyphicon-ok"></span></td>
					<td><span class="glyphicon glyphicon-ok"></span></td>
					<td><span class="glyphicon glyphicon-ok"></span></td>
				</tr>
				<tr>
					<td>2.4  数据持久化</td>
					<td><span class="glyphicon glyphicon-ok"></span></td>
					<td><span class="glyphicon glyphicon-ok"></span></td>
					<td><span class="glyphicon glyphicon-ok"></span></td>
				</tr>
				<tr>
					<td>2.5 日志查询</td>
					<td><span class="glyphicon glyphicon-ok"></span></td>
					<td><span class="glyphicon glyphicon-ok"></span></td>
					<td><span class="glyphicon glyphicon-ok"></span></td>
				</tr>
			</tbody>
			<tbody>
				<tr>
					<th>3. 应用市场</th>
					<th></th>
					<th></th>
					<th></th>
				</tr>
				<tr>
					<td>3.1 一键部署</td>
					<td>开发中...</td>
					<td>开发中...</td>
					<td>开发中...</td>
				</tr>
				<tr>
					<td>3.2 第三方应用</td>
					<td>开发中...</td>
					<td>开发中...</td>
					<td>开发中...</td>
				</tr>
			</tbody>
			<tbody>
				<tr>
					<th>4. 其他</th>
					<th></th>
					<th></th>
					<th></th>
				</tr>
				<tr>
					<td>4.1 开放 API</td>
					<td><span class="glyphicon glyphicon-ok"></span></td>
					<td><span class="glyphicon glyphicon-ok"></span></td>
					<td><span class="glyphicon glyphicon-ok"></span></td>
				</tr>
				<tr>
					<td>4.2 子账户</td>
					<td></td>
					<td></td>
					<td><span class="glyphicon glyphicon-ok"></span></td>
				</tr>
				<tr>
					<td>4.3 企业技术支持</td>
					<td></td>
					<td></td>
					<td><span class="glyphicon glyphicon-ok"></span></td>
				</tr>
			</tbody>
		</table>
    <div class="box-btn-freetry">
      <a href="/index.html?register=true" target="_blank" class="btn btn-success btn-freetry">
          立即注册，免费体验试用版
      </a>
      <p class="text-center">如有疑问，请拨打咨询电话：<strong>010-64776698</strong></p>
    </div>
	</div>
</section>

<!--build:js js/price-script.js-->
<script src="js/bower_components/jquery/dist/jquery.min.js"></script>
<script src="js/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<!--endbuild-->
<script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "//hm.baidu.com/hm.js?cd74c0fcc0c51aecc3bb276315e35e6a";
  var s = document.getElementsByTagName("script")[0];
  s.parentNode.insertBefore(hm, s);
})();
</script>
</body>
</html>
