<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<meta name="keywords" content="大数据, 数人科技, 北京数人科技有限公司, 北京数人, Dataman">
<meta name="description" content="数人科技专注于实现云时代的分布式操作系统，帮助企业开启云的力量。数人云是国内第一款基于Mesos的企业级云操作系统，可以为企业提供目前最成熟的Docker生产环境。让容器技术在生产环境落地。">
<meta name="author" content="王璞, 肖德时, 谢乐冰">
<title>数人云 - 云时代的操作系统 数人科技</title>
<link rel="shortcut icon" type="image/x-icon" href="pics/favicon.ico" />
<!--build:css css/miaosha-style.css-->
<link rel="stylesheet" href="js/bower_components/bootstrap/dist/css/bootstrap.min.css">
<link rel="stylesheet" href="css/project.css">
<link href="css/style.css" rel="stylesheet">
<!--endbuild-->

</head>

<body id="case-miaosha">
<header class="main-header">
	<div class="container" style="positon: relative">
		<nav class="navbar" data-ng-include="'/common/nav.html'"></nav>
        <div class="row">
            <div class="col-md-7">
                <img src="pics/miaosha-pic-02.png" class="img-responsive">
            </div>
            <div class="col-md-5">
                <img src="pics/miaosha-pic-01.png">
                <h1>Hold住百万秒杀！</h1>
                <img src="pics/miaosha-pic-03.png">
                <div>
                    <a href="http://shurenyun.mikecrm.com/f.php?t=7UrsBM" target="_blank">立即试用</a>
                    <a href="http://shurenyun.mikecrm.com/f.php?t=7yiQ9X " target="_blank" style=" font-size: 14px; ">
                      <span class="glyphicon glyphicon-download-alt"></span> 下载秒杀技术白皮书
                    </a>
                </div>
                
            </div>
        </div>
		<!-- <a href="http://shurenyun.mikecrm.com/f.php?t=7UrsBM" class="btn btn-success btn-lg" style="position: absolute; right: 360px; top:550px;" target="_blank">申请试用</a> -->
	</div>
</header>

<div class="case-miaosha-01"></div>
<div class="case-miaosha-02"></div>
<div class="case-miaosha-03"></div>
<div class="case-miaosha-04"></div>
<div class="box-btn-freetry">
    <a href="http://shurenyun.mikecrm.com/f.php?t=7UrsBM" target="_blank" class="btn btn-success btn-freetry">
        立即注册，免费体验试用版
    </a>
    <p class="text-center">如有疑问，请拨打咨询电话：<strong>010-64776698</strong></p>
</div>

<script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "//hm.baidu.com/hm.js?cd74c0fcc0c51aecc3bb276315e35e6a";
  var s = document.getElementsByTagName("script")[0];
  s.parentNode.insertBefore(hm, s);
})();
</script>
<!--build:js js/miaosha-script.js-->
<script src="js/bower_components/jquery/dist/jquery.min.js"></script>
<script src="js/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<!--endbuild-->
</body>
</html>