<body id="case-miaosha">
<header class="main-header">
	<div class="container" style="positon: relative">
		<nav class="navbar" data-ng-include="'/common/nav.html'"></nav>
        <div class="row">
            <div class="col-md-7">
                <img src="pics/miaosha-pic-02.png" class="img-responsive">
            </div>
            <div class="col-md-5">
                <img src="pics/miaosha-pic-01.png">
                <h1>Hold住百万秒杀！</h1>
                <img src="pics/miaosha-pic-03.png">
                <div>
                    <a href="http://shurenyun.mikecrm.com/f.php?t=7UrsBM" target="_blank">立即试用</a>
                    <a href="http://shurenyun.mikecrm.com/f.php?t=7yiQ9X " target="_blank" style=" font-size: 14px; ">
                      <span class="glyphicon glyphicon-download-alt"></span> 下载秒杀技术白皮书
                    </a>
                </div>
                
            </div>
        </div>
		<!-- <a href="http://shurenyun.mikecrm.com/f.php?t=7UrsBM" class="btn btn-success btn-lg" style="position: absolute; right: 360px; top:550px;" target="_blank">申请试用</a> -->
	</div>
</header>

<div class="case-miaosha-01"></div>
<div class="case-miaosha-02"></div>
<div class="case-miaosha-03"></div>
<div class="case-miaosha-04"></div>
<div class="box-btn-freetry">
    <a href="http://shurenyun.mikecrm.com/f.php?t=7UrsBM" target="_blank" class="btn btn-success btn-freetry">
        立即注册，免费体验试用版
    </a>
    <p class="text-center">如有疑问，请拨打咨询电话：<strong>010-64776698</strong></p>
</div>
</body>