<% extend "../common.html" %>
<% block 'keywords': %>数人云，数人科技，容器，Container，容器云，云原生，镜像仓库，容器集群管理，Docker，Docker镜像，Mesos，Marathon，DCOS，PaaS平台，数人云操作系统，灰度发布 ，微服务，服务发现，持续集成，镜像构建，CICD，持续交付 ，DevOps，敏捷开发，自动化，金融容器云，高并发，秒杀，容器编排，docker compose，应用编排，弹性扩缩 弹性伸缩<% end %>
<% block 'description': %>数人云是基于 Mesos 和 Docker 技术的云操作系统，致力于打造最轻量化的PaaS平台，可实现应用的快速发布和弹性扩展。支持混合云管理，实现一站式的微服务架构集群系统，帮助用户快速建立并稳定运维高性能生产环境，解决从客户到云资源的最后一公里。<% end %>
<% block 'title': %>关于数人云 - 基于容器的最轻量化 PaaS 平台<% end %>
<% block 'bodyContent': %>
<% include '../common_views/nav.html' %>
<div id="aboutus">
    <header class="header-index">
        <div class="container">
            <div class="row">
                <div class="col-md-4 header-index-h4">
                    <h1>About Us</h1>
                </div>
                <div class="col-md-7 col-md-offset-1">
                    <p>数人科技隶属于北京数字世纪科技有限公司，由原 Google 架构师王璞博士于2014年创立，其核心团队来自于 Google、RedHat 和 HP。数人科技致力于打造下一代轻量级PaaS平台，将应用弹性做到极致。<br>
                        “数人云”是一款部署在公有云、私有云以及混合云之上的企业级云操作系统，旨在帮助用户在云端快速建立并稳定运行一个高性能生产环境，将应用弹性做到极致，实现一站式的微服务架构集群系统。<br>
                        基于领先的 Mesos 和 Docker 技术，数人云可为用户的业务系统带来高可用的服务质量，快速的性能伸缩，高效的资源利用以及便捷的可视化管理和监控；同时，数人云保证用户的计算资源和数据完全为用户私有可控。
                    </p>
                    <hr>
                    <p><strong>数人云可让用户获得：</strong></p>

                    <p>一键伸缩 —— 满足业务爆发增长需求<br>
                        资源池化 —— 提高资源利用率<br>
                        混合云管理 —— 多环境支持&无缝迁移<br>
                        一键部署 —— 快速搭建企业生产环境<br>
                        简化运维 —— 快速实现 DevOps<br>
                        服务高可用 —— 自动容错，永不掉线</p>
                </div>
            </div>
        </div>
    </header>

    <section class="member" id="member">
        <div class="container">
            <h2>创始团队</h2>
            <hr>
            <div class="row">
                <div class="col-md-4">
                    <div class="thumbnail">
                        <img src="pics/photo-ceo.jpg" alt="...">
                        <div class="caption">
                            <h3>王璞
                                <small>创始人&CEO</small>
                            </h3>
                            <p>美国 George Mason 大学计算机博士。曾先后供职于 Google、Groupon 和 StumbleUpon
                                等硅谷互联网公司。擅长分布式计算、大规模机器学习、海量数据处理。曾担任 Google 广告部门数据平台构架师，负责管理每秒访问量全球最高的架构平台。</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="thumbnail">
                        <img src="pics/photo-cto.jpg" alt="...">
                        <div class="caption">
                            <h3>肖德时
                                <small>CTO</small>
                            </h3>
                            <p>前 RedHat 内部工具组 Team Leader，擅长企业内部工具的设计及实现。
                                在数人科技负责开源项目的选型和整合，让众多开源项目无缝连接，提供更加强大、更加弹性、更加稳定的运算能力。</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="thumbnail">
                        <img src="pics/photo-coo.jpg" alt="...">
                        <div class="caption">
                            <h3>谢乐冰
                                <small>COO</small>
                            </h3>
                            <p>在德国工作十年，回国后加盟惠普电信运营商部门。
                                拥有多年项目经验和创业公司工作经验。在数人科技负责互联网数据搜集和处理，擅长技术应用领域，为电商、招聘、电信、互联网金融等行业提供服务。</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 joinus-link">
                    <a href="http://www.lagou.com/gongsi/j37868.html" id="aboutus-btn-joinus">work with us ></a>
                </div>
            </div>
        </div>
    </section>

    <section class="partner" id="partner">
        <div class="container">
            <h1>合作伙伴</h1>
            <hr>
            <dl>
                <dt>
                <h2>公有云合作伙伴</h2>
                </dt>
                <dd>
                    <img src="pics/logo/logo-ucloud.svg">
                    <img src="pics/logo/logo-tengxunyun.svg">
                    <img src="pics/logo/logo-aliyun.png">
                    <img src="pics/logo/logo-cds.png">
                    <img src="pics/logo/logo-windows-azure.png">
                </dd>
                <dt>
                <h2>私有云合作伙伴</h2>
                </dt>
                <dd>
                    <img src="pics/logo/logo-easystack.png">
                </dd>
                <dt>
                <h2>IT 厂商</h2>
                </dt>
                <dd>
                    <img src="pics/logo/logo-cisco.png">
                    <img src="pics/logo/logo-huawei.png">
                    <img src="pics/logo/logo-ms-opentechnologies.png">
                </dd>
                <dt>
                <h2>开源技术&行业组织</h2>
                </dt>
                <dd>
                    <img src="pics/logo/logo-chinayun.png">
                    <img src="pics/logo/logo-kaiyuanshe.png">
                    <img src="pics/logo/logo-dockone.png">
                    <img src="pics/logo/logo-coscl.png">
                </dd>
                <dt>
                <h2>商业合作伙伴</h2>
                </dt>
                <dd>
                    <!--<a alt="高阳科技" target="_blank" href="http://http://www.hisuntech.com/hisun.php">
                        <img alt="高阳科技" src="../pics/logo/gaoyangjinxin.png"></a>-->
                    <a alt="yonghong" target="_blank" href="http://www.yonghongtech.com/index.html">
                        <img alt="yonghong" src="pics/logo/logo-yonghong.png"></a>
                    <a alt="ti" target="_blank" href="http://www.pingcap.com/">
                        <img alt="ti" src="pics/logo/logo-ti.png"></a>
                    <a alt="51cache" target="_blank" href="https://portal.51cache.com/index.php?controller=login&action=login">
                        <img alt="51cache" src="pics/logo/logo-51cache.png"></a>
                    <a alt="qiniu" target="_blank" href="http://www.qiniu.com/">
                        <img alt="qiniu" src="pics/logo/logo-qiniu.png"></a>
                    <a alt="youpaiyun" target="_blank" href="https://www.upyun.com/zh/index.html">
                        <img alt="youpaiyun" src="pics/logo/logo-youpaiyun.png"></a>
                    <a alt="coding" target="_blank" href="https://coding.net/">
                        <img alt="coding" src="pics/logo/logo-coding.png"></a>
                    <a alt="yunzhihui" target="_blank" href="http://www.cloudwise.com/">
                        <img alt="yunzhihui" src="pics/logo/logo-yunzhihui.png"></a>
                    <a alt="yunsuo" target="_blank" href="http://www.yunsuo.com.cn/">
                        <img alt="yunsuo" src="pics/logo/logo-yunsuo.png"></a>
                    <a alt="ping" target="_blank" href="https://www.pingxx.com">
                        <img alt="ping" src="pics/logo/logo-ping.png"></a>
                    <a alt="huanxin" target="_blank" href="http://www.easemob.com/">
                        <img alt="huanxin" src="pics/logo/logo-huanxin.png"></a>
                    <a alt="GrowingIO" target="_blank" href="https://www.growingio.com">
                        <img alt="GrowingIO" src="pics/logo/logo-GrowingIO.png"></a>
                    <a alt="oneapm" target="_blank" href="http://www.oneapm.com">
                        <img alt="oneapm" src="pics/logo/logo-oneapm.png"></a>
                    <a alt="yegou" target="_blank" href="https://www.wilddog.com/">
                        <img alt="yegou" src="pics/logo/logo-yegou.png"></a>
                    <a alt="上海英拿信息技术有限公司" target="_blank" href="#">
                        <img alt="上海英拿信息技术有限公司" src="pics/logo/logo-inner-service.png"></a>
                    <a alt="亚信数据" target="_blank" href="http://www.dataos.io/">
                        <img alt="亚信数据" src="pics/logo/logo-yaxinshuju.png"></a>
                </dd>
                <dt>
                <h2>科研机构</h2>
                </dt>
                <dd>
                    <img src="pics/logo/logo-qinghua.png">
                </dd>
            </dl>
        </div>
    </section>
    <% include '../common_views/footer.html' %>
</div>
<% end %>
