<% extend "../common.html" %>
<% block 'keywords': %>数人云,容器,Container,PaaS平台,Docker,SRE,DevOps,微服务,Kubernetes,Squid,Hawk，Swan,Dataman Os,分布式,金融容器云,Octopus,Springcloud,Mesos,容器编排，K8S servicemesh CI/CD 持续集成 持续交付 云原生 CloudNative Microservice 容器云 serverless 应用编排<% end %>
<% block 'description': %>数人云是基于 Mesos 和 Docker 技术的云操作系统，致力于打造最轻量化的PaaS平台，可实现应用的快速发布和弹性扩展。支持混合云管理，实现一站式的微服务架构集群系统，帮助用户快速建立并稳定运维高性能生产环境，解决从客户到云资源的最后一公里。<% end %>
<% block 'title': %>数人云产品 - 基于容器的最轻量化 PaaS 平台<% end %>
<% block 'bodyContent': %>
<% include '../common_views/nav.html' %>
<div id="product-craner">
    <header class="header-recruit">
        <h3>加入我们</h3>
        <h5>我们致力营造开放透明的工作环境，让团队的每一名成员都有机会发挥潜能，也确保每个人的意见都获得尊重。 我们诚邀跟我们一样力求突破。</h5>
    </header>

    <section id="job-detail" class="job-detail">
        <div class="container detail-container">
            <p class="job-top"><img src="pics/arrow/arrow-l.svg"><a href="./recruit.html#recruit-jobs">全部岗位</a></p>
            <hr>
            <h2 class="row">
                <span class="col-md-10">内容运营</span>
                <small class="col-md-2">北京</small>
            </h2>
            <div class="job-duty">
                <h4>岗位职责：</h4>
                <p>1、自媒体的内容策划、生产及渠道分发，维护和管理微信群；</p>
                <p>2、国内外活跃技术社区维护；</p>
                <p>3、网站搜索引擎及关键词优化；</p>
                <p>4、新媒体活动策划，文案及推广；</p>
                <p>5、团队协作，线上线下品牌活动支持；</p>
                <p>6、与其他新媒体账号合作推广，增强品牌形象，完成粉丝增长指标；</p>
                <p>7、利用专业运营数据分析工具，分析粉丝自媒体运营指标，提高运营效率与效果；</p>
            </div>
            <div class="job-asked">
                <h4>岗位要求：</h4>
                <p>1、有技术背景或云计算相关公司新媒体运营经验；</p>
                <p>2、熟悉TOB行业文化，善于把握用户的各层次需求，熟悉热点传播规律；</p>
                <p>3、有良好的文字功底和新闻热点敏感性，具备出色的策划能力；</p>
                <p>4、头脑灵活、乐于接受新事物，主观能动性强，具备良好的团队协作精神；</p>
                <p>加分项：熟悉使用ps、AI、编辑器等新媒体内容制作工具</p>
            </div>
            <div class="job-footer">
                简历请发送至：hr@dataman-inc.com
            </div>
            <hr>
        </div>
    </section>

    <% include '../common_views/footer.html' %>
</div>
<!--<a href="https://github.com/Dataman-Cloud/crane" target="_blank"><img style="position: absolute; top: 0; left: 0; border: 0;" src="./pics/fork-me-on-github.png" alt="Fork me on GitHub" width="120"></a>-->
<% end %>
