<% extend "../common.html" %>
<% block 'keywords': %>数人云，数人科技，容器，Container，容器云，云原生，镜像仓库，容器集群管理，Docker，Docker镜像，Mesos，Marathon，DCOS，PaaS平台，数人云操作系统，灰度发布 ，微服务，服务发现，持续集成，镜像构建，CICD，持续交付 ，DevOps，敏捷开发，自动化，金融容器云，高并发，秒杀，容器编排，docker compose，应用编排，弹性扩缩 弹性伸缩<% end %>
<% block 'description': %>数人云是基于 Mesos 和 Docker 技术的云操作系统，致力于打造最轻量化的PaaS平台，可实现应用的快速发布和弹性扩展。支持混合云管理，实现一站式的微服务架构集群系统，帮助用户快速建立并稳定运维高性能生产环境，解决从客户到云资源的最后一公里<% end %>
<% block 'title': %>数人云 - 基于容器的最轻量化 PaaS 平台<% end %>
<% block 'bodyContent': %>
<% include '../common_views/nav.html' %>
    <div id="index">
        <header class="header-index">
            <div class="header-container">
                <h1>数人云 - 轻量级 P a a S 平台</h1>
                <h2>将应用弹性做到极致</h2>
                <h3>The Ultimate Flexibility</h3>
                <form>
                    <a type="button" class="btn btn-primary" data-ng-href="{/FRONTEND_URL.register/}"
                       id="home-btn-register">免费注册</a>
                    <a type="button" class="btn btn-default" data-ng-href="{/FRONTEND_URL.demo/}" id="home-btn-demo">查看Demo</a>
                </form>
                <footer><a href="#product-feature"><i class="fa fa-angle-down scroll-down"></i></a></footer>
            </div>
            <div class="hero-clouds"></div>
        </header>
        <section class="product-feature" id="product-feature">
            <div class="container">
                <ul class="row">
                    <li class="col-md-4">
                        <div class="media">
                            <div class="media-left">
                                <img class="media-object" src="pics/ico-feature-01.svg" width="100%">
                            </div>
                            <div class="media-body">
                                <h4 class="media-heading">一键伸缩</h4>
                                <p class="media-content">秒级扩展1000个容器实例轻松应对高并发</p>
                            </div>
                        </div>
                    </li>
                    <li class="col-md-4">
                        <div class="media">
                            <div class="media-left">
                                <img class="media-object" src="pics/ico-feature-02.svg" width="100%">
                            </div>
                            <div class="media-body">
                                <h4 class="media-heading">资源池化</h4>
                                <p class="media-content">将 Docker 化容器应用与 Spark 等大数据应用混跑在同一集群提高资源利用率</p>
                            </div>
                        </div>
                    </li>
                    <li class="col-md-4">
                        <div class="media">
                            <div class="media-left">
                                <img class="media-object" src="pics/ico-feature-03.svg" width="100%">
                            </div>
                            <div class="media-body">
                                <h4 class="media-heading">混合云管理</h4>
                                <p class="media-content">支持公有云、私有云及混合云<br>支持物理机和虚拟机</p>
                            </div>
                        </div>
                    </li>
                    <li class="col-md-4">
                        <div class="media">
                            <div class="media-left">
                                <img class="media-object" src="pics/ico-feature-04.svg" width="100%">
                            </div>
                            <div class="media-body">
                                <h4 class="media-heading">一键部署</h4>
                                <p class="media-content">一键部署 Docker 容器化应用，及 Spark、Hadoop 等分布式应用</p>
                            </div>
                        </div>
                    </li>
                    <li class="col-md-4">
                        <div class="media">
                            <div class="media-left">
                                <img class="media-object" src="pics/ico-feature-05.svg" width="100%">
                            </div>
                            <div class="media-body">
                                <h4 class="media-heading">简化运维</h4>
                                <p class="media-content">统一监控各种应用和集群资源使用情况，简化运维管理</p>
                            </div>
                        </div>
                    </li>
                    <li class="col-md-4">
                        <div class="media">
                            <div class="media-left">
                                <img class="media-object" src="pics/ico-feature-06.svg" width="100%">
                            </div>
                            <div class="media-body">
                                <h4 class="media-heading">保障高可用</h4>
                                <p class="media-content">自动迁移故障服务器上的应用实例，保障服务高可用</p>
                            </div>
                        </div>
                    </li>
                </ul>
                <div class="text-center">
                    <a href="./product.html" class="btn btn-primary">了解详情 <i class="fa fa-arrow-circle-o-right"></i>
                    </a>
                </div>
            </div>
        </section>
        <section class="resolve-question">
            <h1>数人云能解决哪些问题？</h1>
        </section>
        <section class="product-feature">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 col-md-offset-1">
                        <img src="pics/pic-product-09.svg" width="100%">
                    </div>
                    <div class="col-md-5 col-md-offset-1">
                        <h2 style="margin-top: 80px;">金融容器云
                            <small>构建开放业务新形态</small>
                        </h2>
                        <p style="line-height:1.5">作为基于 Docker 的新一代轻量级 PaaS
                            平台，数人金融容器云实现秒级启停，帮助客户及时响应高并发等新型业务需求；同时，借助容器技术，数人金融容器云使应用的交付变得标准，极大地消除技术部署的局限性，提高客户产品的交付及运维效率。<br><br>
                        </p>
                        <a href="./solution-finance.html" >了解更多 >></a>
                    </div>


                </div>
            </div>
        </section>
        <section class="index-carousel">
            <div class="container">
                <% include '../common_views/scene-slide.html' %>
            </div>
        </section>
        <section class="environment">
            <div class="container">
                <h1>多环境支持 & 无缝迁移</h1>
                <hr>
                <h2>数人云操作系统、可安装在公有云、私有云、混合云之上。支持物理机、虚拟机。<br>可在多平台间无缝迁移。帮助用户保持统一的开发运维体验。</h2>
                <ul class="row">
                    <li class="col-md-4"><img src="pics/logo/logo-ucloud.svg" class="logo"></li>
                    <li class="col-md-4"><img src="pics/logo/logo-aliyun.svg" class="logo"></li>
                    <li class="col-md-4"><img src="pics/logo/logo-microsoft.svg" class="logo"></li>
                    <li class="col-md-4"><img src="pics/logo/logo-tengxunyun.svg" class="logo"></li>
                    <li class="col-md-4"><img src="pics/logo/logo-openstack.svg" class="logo"></li>
                    <li class="col-md-4"><img src="pics/logo/logo-redhat.png" class="logo"></li>
                    <li class="col-md-4"><img src="pics/logo/logo-vmware.svg" class="logo"></li>
                    <li class="col-md-4"><img src="pics/logo/logo-centos.svg" class="logo"></li>
                    <li class="col-md-4"><img src="pics/logo/logo-ubuntu.svg" class="logo"></li>
                </ul>
            </div>
        </section>
        <section class="tec-com">
            <div class="container">
                <h1>技术 & 组件</h1>
                <hr>
                <ul class="row">
                    <li class="col-md-4">
                        <div>
                            <img src="pics/ico/ico-mesos.svg" class="logo">
                            <h2>Mesos</h2>
                            <p>分布式操作系统内核，也是数人云操作系统的核心组件。将整个集群抽象为一个资源池，可像用一台电脑一样管理整个集群资源。</p>
                        </div>
                    </li>
                    <li class="col-md-4">
                        <div>
                            <img src="pics/ico/ico-docker.svg" class="logo">
                            <h2>Docker</h2>
                            <p>Docker 容器是数人云操作系统的核心组件。使用数人云可轻松发布和管理 Docker 容器化应用（包括 Docker Hub 及其他第三方平台上的 Docker
                                镜像）。</p>
                        </div>
                    </li>
                    <li class="col-md-4">
                        <div>
                            <img src="pics/ico/ico-marathon.svg" class="logo">
                            <h2>Marathon</h2>
                            <p>Mesos 的框架之一，云操作系统重要组件。用于发布和管理长期运行的应用。如：web 应用，数据库，微服务应用等。</p>
                        </div>
                    </li>
                    <li class="col-md-4">
                        <div>
                            <img src="pics/ico/ico-chronos.svg" class="logo">
                            <h2>Chronos</h2>
                            <p>一个具备容错特性的作业调度器。用于创建和管理定时任务以及复杂的 ETL 流程。</p>
                        </div>
                    </li>
                    <li class="col-md-4">
                        <div>
                            <img src="pics/ico/ico-jenkins.svg" class="logo">
                            <h2>Jenkins</h2>
                            <p>开源的持续集成工具。可帮助企业快速获得持续集成能力，加快产品迭代。</p>
                        </div>
                    </li>
                    <li class="col-md-4">
                        <div>
                            <img src="pics/ico/ico-dashboard.svg" class="logo">
                            <h2>云操作系统仪表盘</h2>
                            <p>通过统一界面，管理应用和集群。可随时监控每一个应用、集群、主机的运行健康状态。</p>
                        </div>
                    </li>
                    <li class="col-md-4">
                        <div>
                            <img src="pics/ico/ico-log.svg" class="logo">
                            <h2>云操作系统日志管理</h2>
                            <p>统一收集应用和集群主机日志，能够快速查询和检索，帮助企业快速定位问题。</p>
                        </div>
                    </li>
                    <li class="col-md-4">
                        <div>
                            <img src="pics/ico/ico-API.svg" class="logo">
                            <h2>云操作系统API</h2>
                            <p>提供 API 接口，可与多种第三方应用，或企业自有管理系统对接整合。 在云操作系统上定制化扩展企业特有功能。</p>
                        </div>
                    </li>
                    <li class="col-md-4">
                        <div>
                            <img src="pics/ico/ico-companyapp.svg" class="logo">
                            <h2>企业应用平台</h2>
                            <p>一键部署常用的 Docker 容器化应用，以及 Spark、Hadoop、Kafka、Cassandra 等分布式应用。</p>
                        </div>
                    </li>
                </ul>
            </div>
        </section>
        <section class="experience">
            <div class="container">
                <h1>云操作系统和 Mesos 成功经验</h1>
                <hr>
                <!--<ul class="row">
                    <li class="col-md-2">
                        <a href="javascript:;">
                            <em>去哪儿</em>
                            <img src="pics/logo/logo-qunar.jpg" class="logo">
                        </a>
                    </li>
                    <li class="col-md-2">
                        <a href="javascript:;">
                            <em>Kuick</em>
                            <img src="pics/logo/logo-kuick.jpg" class="logo">
                        </a>
                    </li>
                    <li class="col-md-2">
                        <a href="javascript:;">
                            <em>普惠金融</em>
                            <img src="pics/logo/logo-puhui.jpg" class="logo">
                        </a>
                    </li>
                    <li class="col-md-2">
                        <a href="javascript:;">
                            <em>微旋基因</em>
                            <img src="pics/logo/logo-weixuan.jpg" class="logo">
                        </a>
                    </li>
                    <li class="col-md-2">
                        <a href="javascript:;">
                            <em>浙江移动</em>
                            <img src="pics/logo/logo-zhejiang.jpg" class="logo">
                        </a>
                    </li>
                    <li class="col-md-2">
                        <a href="javascript:;">
                            <em>某电力</em>
                            <img src="pics/logo/logo-dianli.jpg" class="logo">
                        </a>
                    </li>
                    <li class="col-md-2">
                        <a href="javascript:;">
                            <em>爱奇艺</em>
                            <img src="pics/logo/logo-iqiyi.jpg" class="logo">
                        </a>
                    </li>
                    <li class="col-md-2">
                        <a href="javascript:;">
                            <em>苹果</em>
                            <img src="pics/logo/logo-apple.jpg" class="logo">
                        </a>
                    </li>
                    <li class="col-md-2">
                        <a href="javascript:;">
                            <em>Hubspot</em>
                            <img src="pics/logo/logo-hubspot.jpg" class="logo">
                        </a>
                    </li>
                    <li class="col-md-2">
                        <a href="javascript:;">
                            <em>Airbnb</em>
                            <img src="pics/logo/logo-airbnb.jpg" class="logo">
                        </a>
                    </li>
                    <li class="col-md-2">
                        <a href="javascript:;">
                            <em>Twitter</em>
                            <img src="pics/logo/logo-twitter.jpg" class="logo">
                        </a>
                    </li>
                    <li class="col-md-2">
                        <a href="javascript:;">
                            <em>Verizon</em>
                            <img src="pics/logo/logo-verrizon.jpg" class="logo">
                        </a>
                    </li>
                </ul>-->
                <ul class="row">
                    <li class="col-md-2">
                    	
                            <img src="pics/1@3x.png" class="logo desaturate">
                    </li>
                    <li class="col-md-2">
                            <img src="pics/2@3x.png" class="logo desaturate">
                    </li>
                    <li class="col-md-2">
                            <img src="pics/3@3x12.png" class="logo desaturate">
                    </li>
                    <li class="col-md-2">
                            <img src="pics/4@3x.png" class="logo desaturate">
                    </li>
                    <li class="col-md-2">
                            <img src="pics/5@3x.png" class="logo desaturate">
                    </li>
                    <li class="col-md-2">
                            <img src="pics/31@3x 2.png" class="logo desaturate">
                    </li>
                    <li class="col-md-2">
                            <img src="pics/6@3x.png" class="logo desaturate">
                    </li>
                    <li class="col-md-2">
                            <img src="pics/7@3x.png" class="logo desaturate">
                    </li>
                    <li class="col-md-2">
                            <img src="pics/8@3x.png" class="logo desaturate">
                    </li>
                    <li class="col-md-2">
                            <img src="pics/9@3x.png" class="logo desaturate">
                    </li>
                    <li class="col-md-2">
                            <img src="pics/10@3x.png" class="logo desaturate">
                    </li>
                    <li class="col-md-2">
                            <img src="pics/11@3x.png" class="logo desaturate">
                    </li>
                </ul>
            </div>
        </section>
        <section class="news-trends">
        		<div class="container news-trends">
        			<h1>新闻 & 动态</h1>
                <hr>
                <div class="dynamic">
	                <dl class="col-md-6">
	                		<dt nowrap="nowrap">作为基于Docker的新一代轻量级PaaS平台 ？</dt>
	                		<dd>2016 / 06 / 13</dd>
	                </dl>
	                <dl class="col-md-6">
	                		<dt>秒级扩展1000个容器实例然后你回家呢水电费按规划规划和 ？</dt>
	                		<dd>2016 / 06 / 13</dd>
	                </dl>
	                <dl class="col-md-6">
	                		<dt>作为基于Docker的新一代轻量级PaaS平台 ？</dt>
	                		<dd>2016 / 06 / 13</dd>
	                </dl>
	            </div> 
	            <div class="news">
	                <dl class="col-md-6">
	                		<dt>作为基于Docker的新一代轻量级PaaS平台 ？</dt>
	                		<dd>2016 / 06 / 13</dd>
	                </dl>
	                <dl class="col-md-6">
	                		<dt>作为基于Docker的新一代轻量级PaaS平台 ？</dt>
	                		<dd>2016 / 06 / 13</dd>
	                </dl>
	                <dl class="col-md-6">
	                		<dt>作为基于Docker的新一代轻量级PaaS平台 ？</dt>
	                		<dd>2016 / 06 / 13</dd>
	                </dl>
              </div>
                <footer>
                		<ul>
                			<li><a href="http://blog.dataman-inc.com/tag/news">新闻·</a><a href="http://blog.dataman-inc.com/tag/events">活动 >></a></li>
                			
                		</ul>
                </footer>
        		</div>
        </section>
        <% include '../common_views/footer.html' %>
    </div>
<% end %>