<% extend "../common.html" %>
<% block 'keywords': %>数人云,容器,Container,PaaS平台,Docker,SRE,DevOps,微服务,Kubernetes,Squid,Hawk，Swan,Dataman Os,分布式,金融容器云,Octopus,Springcloud,Mesos,容器编排，K8S servicemesh CI/CD 持续集成 持续交付 云原生 CloudNative Microservice 容器云 serverless 应用编排
<% end %>
<% block 'description': %>数人云是国内领先的容器服务商，致力于打造轻量级PaaS平台，使用户能够在云主机、虚拟机甚至物理机上快速建立并稳定运行一个高扩展性的生产环境，将应用弹性做到极致。数人云为客户提供领先的企业级容器解决方案，帮助传统企业实现IT业务转型，更好地应对业务变化，已先后服务众多金融、能源、广电等行业。
<% end %>
<% block 'title': %>数人云 - 基于容器的极轻量化 PaaS 平台
<% end %>
<% block 'bodyContent': %>
<% include '../common_views/nav.html' %>
<div id="index">
    <header id="header-index">
        <div id="carousel-example-generic" class="carousel slide" style="height: 650px" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators carousel-indicators-header">
                <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                <li data-target="#carousel-example-generic" data-slide-to="3"></li>
                <li data-target="#carousel-example-generic" data-slide-to="4"></li>
            </ol>
            <div class="carousel-inner carousel-header" role="listbox">
                <div class="item active">
                    <div class="carousel-caption">
                        <header class="header-index">
                            <div class="header-container">
                                <h1>构建灵动新IT</h1>
                                <h2>数人云微服务 On PaaS - 企业 IT 架构转型领导者</h2>
                                <ul class="row version-btn">
                                    <li class="dropdown group-btn enterprise" id="enterprise">
                                        <a type="button" class="btn dropdown-toggle btn-index-color"
                                           id="home-btn-register"
                                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                            企业版
                                        </a>
                                        <ul class="dropdown-menu enterprise-menu" id="enterprise-menu"
                                            aria-labelledby="dropdownMenu1">
                                            <li><a href="./product.html">DataMan OS 容器云平台</a></li>
                                            <li><a href="./octopus.html">分布式调度任务 Octopus</a></li>
                                            <li><a href="./squid.html">高并发消息处理平台 Squid</a></li>
                                            <li><a href="./product-hawk.html">分布式统一配置中心 Hawk</a></li>
                                        </ul>
                                    </li>
                                    <li class="dropdown group-btn open" id="open">
                                        <a type="button" class="btn dropdown-toggle btn-index-none"
                                           id="home-btn-demo" aria-haspopup="true" aria-expanded="false"
                                           data-toggle="dropdown">开源版
                                        </a>
                                        <ul class="dropdown-menu open-menu" id="open-menu"
                                            aria-labelledby="dropdownMenu1" style="display: none">
                                            <!--<li><a href="./product-crane.html">容器管理面板 Crane</a></li>-->
                                            <li><a href="./product-swan.html">Mesos 调度器 Swan</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </header>
                    </div>
                </div>
                <div class="item">
                    <div class="carousel-caption">
                        <a target="_blank" href="http://www.huodongxing.com/event/2419823143000?qd=%E5%AE%98%E7%BD%91">
                            <header class="header-index header-index-banner4">
                                <div class="header-container"></div>
                            </header>
                        </a>
                        <a target="_blank" href="http://www.huodongxing.com/event/2419823143000?qd=%E5%AE%98%E7%BD%91">
                            <header class="header-index header-index-banner4-mobile"></header>
                        </a>
                    </div>

                </div>
                <div class="item">
                    <div class="carousel-caption">
                        <a target="_blank" href="http://blog.shurenyun.com/biao-ti-1wei-fu-wu-2017nian-du-bao-gao-chu-lu-4da-ke-hu-hua-xiang-15chuan-tong-qi-ye-yi-ling-pao/">
                            <header class="header-index header-index-banner5">
                                <div class="header-container"></div>
                            </header>
                        </a>
                        <a target="_blank" href="http://www.huodongxing.com/event/2419823143000?qd=%E5%AE%98%E7%BD%91">
                            <header class="header-index header-index-banner5-mobile"></header>
                        </a>
                    </div>

                </div>
                <div class="item">
                    <div class="carousel-caption">
                        <header class="header-index header-index-banner2">
                            <div class="header-container">
                                <h1>领先的云计算开源技术实践者</h1>
                                <hr>
                                <p>丰富深入的行业案例沉淀、成熟可靠的生产系统产品验证、</p>
                                <p>资深分布式应用研发团队、开放多样的开源技术布道。</p>
                            </div>
                        </header>
                    </div>
                </div>
                <div class="item">
                    <div class="carousel-caption">
                        <header class="header-index header-index-banner3">
                            <div class="header-container header-container-pc">
                                <h1><span class="header-tit">EAMS</span><span class="bar"></span><span
                                        class="header-text">企业应用<br>架构管理系统</span></h1>
                                <p>全面升级为EAMS企业应用架构管理体系，助力企业向新IT架构转型</p>
                            </div>
                            <div class="header-container-mobile">
                                <h1><span class="header-tit">EAMS</span><br></h1>
                                <h2><span class="header-text">企业应用架构管理系统</span></h2>
                                <p>全面升级为EAMS企业应用架构管理体系，助力企业向新IT架构转型</p>
                            </div>
                        </header>
                    </div>
                </div>
            </div>

            <!-- Controls -->
            <a class="left carousel-control carousel-control-header" href="#carousel-example-generic" role="button"
               data-slide="prev">
                <span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control carousel-control-header" href="#carousel-example-generic" role="button"
               data-slide="next">
                <span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
        <footer><a target="_blank" href="http://shurenyun.mikecrm.com/IEPkGK"><img class="img-up-down" src="pics/squid/squid-decline.png"
                                                width="134px"></a></footer>
    </header>

    <section class="scenarios" style="background-color: #FFFFFF;">
        <div class="container">
            <h1>应用场景</h1>
            <div class="row">
                <div class="col-md-2 col-md-offset-1">
                    <img src="pics/index/yingyongchangjing_03.png">
                    <h3>互联网业务流量爆发</h3>
                </div>
                <div class="col-md-2">
                    <img src="pics/index/yingyongchangjing_07.png">
                    <h3>在线业务频繁发布</h3>
                </div>
                <div class="col-md-2">
                    <img src="pics/index/yingyongchangjing_05.png">
                    <h3>自动化运维</h3>
                </div>
                <div class="col-md-2">
                    <img src="pics/index/yingyongchangjing_09.png">
                    <h3>CI/CD持续集成/交付</h3>
                </div>
                <div class="col-md-2">
                    <img src="pics/index/yingyongchangjing_18.png">
                    <h3>容器集群管理应用</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-md-2 col-md-offset-1">
                    <img src="pics/index/yingyongchangjing_19.png">
                    <h3>批量任务管理</h3>
                </div>
                <div class="col-md-2">
                    <img src="pics/index/yingyongchangjing_20.png">
                    <h3>单体架构到微服务</h3>
                </div>
                <div class="col-md-2">
                    <img src="pics/index/yingyongchangjing_21.png">
                    <h3>迁移到X86</h3>
                </div>
                <div class="col-md-2">
                    <img src="pics/index/yingyongchangjing_11.png">
                    <h3>应用配置统一管理</h3>
                </div>
                <div class="col-md-2">
                    <img src="pics/index/yingyongchangjing_09.png">
                    <h3>监控日志标准化管理</h3>
                </div>
            </div>
        </div>
    </section>

    <section class="index-eams">
        <div class="container">
            <h1 class="title-size">企业应用管理架构</h1>
            <div class="emas-center-round">
                <div class="emas-text emas-octopus">
                    <h5><a href="./octopus.html">Octopus</a></h5>
                    <p>高效可靠的弹性调度云， 让你的任务更灵活自如。</p>
                </div>
                <div class="emas-text emas-squid">
                    <h5><a href="./squid.html">Squid</a></h5>
                    <p>灵活高效的一体化微服务平台， 轻松应对高并发。</p>
                </div>
                <div class="emas-text emas-container">
                    <h5><a href="#">容器</a></h5>
                </div>
                <div class="emas-text emas-service">
                    <h5><a href="#">微服务</a></h5>
                </div>
                <div class="emas-text emas-devops">
                    <h5><a href="#">DevOps</a></h5>
                </div>
                <div class="emas-text emas-open">
                    <h5><a href="#">开源</a></h5>
                </div>
                <div class="emas-text emas-sre">
                    <h5><a href="#">SRE</a></h5>
                </div>
                <div class="emas-text emas-springCloud">
                    <h5><a href="#">SpringCloud</a></h5>
                    <p>无缝兼容 springcloud 体系， 支撑业务快捷多变。</p>
                </div>
                <div class="emas-text emas-hawk">
                    <h5><a href="./product-hawk.html">Hawk</a></h5>
                    <p>分布式统一配置中心，配置集中管理、 实时推送，灵活应对灰度与预案。</p>
                </div>
                <div class="emas-round">
                    <P>数人云企业应用架构管理（EAMS）体系，旨在帮助企业保持传统IT优势的同时，赋以更好的敏捷性和自动化，跨过两者的鸿沟。</P>
                </div>
            </div>
        </div>
    </section>

    <section class="index-eams-mobile" style="width: 100%;">
        <div class="container">
            <h1 class="title-size">企业应用管理架构</h1>
            <div class="emas-center-round-mobile">
                <div class="emas-text-mobile emas-octopus-mobile">
                    <h5><a href="./octopus.html">Octopus</a></h5>
                </div>
                <div class="emas-text-mobile emas-squid-mobile">
                    <h5><a href="./squid.html">Squid</a></h5>
                </div>
                <div class="emas-text-mobile emas-container-mobile">
                    <h5><a href="#">容器</a></h5>
                </div>
                <div class="emas-text-mobile emas-service-mobile">
                    <h5><a href="#">微服务</a></h5>
                </div>
                <div class="emas-text-mobile emas-devops-mobile">
                    <h5><a href="#">DevOps</a></h5>
                </div>
                <div class="emas-text-mobile emas-open-mobile">
                    <h5><a href="#">开源</a></h5>
                </div>
                <div class="emas-text-mobile emas-sre-mobile">
                    <h5><a href="#">SRE</a></h5>
                </div>
                <div class="emas-text-mobile emas-cloud-mobile">
                    <h5><a href="#">SpringCloud</a></h5>
                </div>
                <div class="emas-text-mobile emas-hawk-mobile">
                    <h5><a href="#">Hawk</a></h5>
                </div>
                <div class="index-eams-annotation-mobile">
                    <p><a href="">EAMS: </a><span>数人云企业应用架构管理（EAMS）体系，旨在帮助企业保持传统IT优势的同时，赋以更好的敏捷性和自动化，跨过两者的鸿沟。</span></p>
                    <p><a href="./octopus.html">Octopus: </a><span>高效可靠的弹性调度云， 让你的任务更灵活自如。</span></p>
                    <p><a href="./squid.html">Squid: </a><span>灵活高效的一体化微服务平台， 轻松应对高并发。</span></p>
                    <!--<p><a href="#">Kelisa: </a><span>基于Dataman OS容器云平台的CI/CD环境，支持应用的持续构建、持续部署及可视化管理。</span></p>-->
                    <p><a href="./products/product-hawk.html">Hawk: </a><span>分布式统一配置中心，配置集中管理、 实时推送，灵活应对灰度与预案。</span></p>
                </div>
            </div>
        </div>
    </section>

    <section class="index-dmos">
        <div class="container">
            <h1 style="color: #333">数人云 DataMan OS 容器云平台</h1>
            <div id="carousel-about" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner" role="listbox">
                    <div class="item active">
                        <div class="row">
                            <div class="col-xs-6 col-md-3 index-dmos-item">
                                <div class="index-feature">
                                    <img src="pics/index-feature-01.png">
                                </div>
                                <div class="dmos-text">
                                    <h5 class="dmos-title">权限管理</h5>
                                    <p>根据企业规模、自定义用户组，实现不同机构成员之间的协作与隔离</p>
                                </div>
                            </div>
                            <div class="col-xs-6 col-md-3 index-dmos-item">
                                <div class="index-feature">
                                    <img src="pics/index-feature-02.png">
                                </div>
                                <div class="dmos-text">
                                    <h5>多级监控</h5>
                                    <p>针对平台、资源、应用的不同需求，提供多级监控方式，快速查看CPU、内存、IO 等多项指标</p>
                                </div>
                            </div>
                            <div class="col-xs-6 col-md-3 index-dmos-item">
                                <div class="index-feature">
                                    <img src="pics/index-feature-03.png">
                                </div>
                                <div class="dmos-text">
                                    <h5>日志收集及展示</h5>
                                    <p>收集标准输出日志及文件日志，并提供集中统一的日志查询与展示环境</p>
                                </div>
                            </div>
                            <div class="col-xs-6 col-md-3 index-dmos-item">
                                <div class="index-feature">
                                    <img src="pics/index-feature-04.png">
                                </div>
                                <div class="dmos-text">
                                    <h5>弹性扩容</h5>
                                    <p>定义扩容策略，通过增加或删减容器实例来实现业务能力的弹性伸缩，快速应对业 务突发增长</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="item">
                        <div class="row">
                            <div class="col-xs-6 col-md-3 index-dmos-item">
                                <div class="index-feature">
                                    <img src="pics/index-feature-05.png">
                                </div>
                                <div class="dmos-text">
                                    <h5 class="dmos-title">混合云管理</h5>
                                    <p>支持混合云的生产环境，可创建多个逻辑集群，满足企业的复杂资源规划需求</p>
                                </div>
                            </div>
                            <div class="col-xs-6 col-md-3 index-dmos-item">
                                <div class="index-feature">
                                    <img src="pics/index-feature-06.png">
                                </div>
                                <div class="dmos-text">
                                    <h5>高可用，故障恢复</h5>
                                    <p>平台支持高可用部署，确保平台服务连续性要求；业务应用通过多容器实例部署，确保业务连续性要求</p>
                                </div>
                            </div>
                            <div class="col-xs-6 col-md-3 index-dmos-item">
                                <div class="index-feature">
                                    <img src="pics/index-feature-07.png">
                                </div>
                                <div class="dmos-text">
                                    <h5>多应用混合部署</h5>
                                    <p>采用Mesos技术进行资源调度，支持混合部署容器服务，大数据服务等多种应用</p>
                                </div>
                            </div>
                            <div class="col-xs-6 col-md-3 index-dmos-item">
                                <div class="index-feature">
                                    <img src="pics/index-feature-08.png">
                                </div>
                                <div class="dmos-text">
                                    <h5>一键部署</h5>
                                    <p>从代码构建到应用发布上线，大大简化用户的应用发布过程，提高发布效率</p>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

                <!-- Controls -->


                <a class="left carousel-control carousel-control-dmos" href="#carousel-about" role="button"
                   data-slide="prev"
                   style="margin-top: -52px;">
                    <span></span>
                </a>
                <a class="right carousel-control" href="#carousel-about" role="button" data-slide="next"
                   style="margin-top: -52px;">
                    <span></span>
                </a>
            </div>
            <div class="text-center">
                <a href="./product.html" class="btn btn-details"><span class="details">了解详情</span><i
                        class="glyphicon glyphicon-chevron-right"></i></a>
            </div>
        </div>
    </section>

    <section class="index-dmos-mobile">
        <div class="container">
            <h1>数人云 DataMan OS 容器云平台</h1>
            <div class="column index-dmos-text-mobile">
                <div class="col-md-12">
                    <img src="pics/index-feature-01.png">
                    <h3>权限管理</h3>
                    <p>根据企业规模、自定义用户组，实现不同机构成员之间的协作与隔离</p>
                </div>
                <div class="col-md-12">
                    <img src="pics/index-feature-02.png">
                    <h3>多级监控</h3>
                    <p>针对平台、资源、应用的不同需求，提供多级监控方式，快速查看CPU、内存、IO 等多项指标</p>
                </div>
                <div class="col-md-12">
                    <img src="pics/index-feature-03.png">
                    <h3>日志收集及展示</h3>
                    <p>收集标准输出日志及文件日志，并提供集中统一的日志查询与展示环境</p>
                </div>
                <div class="col-md-12">
                    <img src="pics/index-feature-04.png">
                    <h3>弹性扩容</h3>
                    <p>定义扩容策略，通过增加或删减容器实例来实现业务能力的弹性伸缩，快速应对业 务突发增长</p>
                </div>
                <div class="col-md-12">
                    <img src="pics/index-feature-05.png">
                    <h3>混合云管理</h3>
                    <p>支持混合云的生产环境，可创建多个逻辑集群，满足企业的复杂资源规划需求</p>
                </div>
                <div class="col-md-12">
                    <img src="pics/index-feature-06.png">
                    <h3>高可用，故障恢复</h3>
                    <p>平台支持高可用部署，确保平台服务连续性要求；业务应用通过多容器实例部署，确保业务连续性要求</p>
                </div>
                <div class="col-md-12">
                    <img src="pics/index-feature-07.png">
                    <h3>多应用混合部署</h3>
                    <p>采用Mesos技术进行资源调度，支持混合部署容器服务，大数据服务等多种应用</p>
                </div>
                <div class="col-md-12">
                    <img src="pics/index-feature-08.png">
                    <h3>一键部署</h3>
                    <p>从代码构建到应用发布上线，大大简化用户的应用发布过程，提高发布效率</p>
                </div>
            </div>
        </div>
    </section>

    <section class="tec-com">
        <div class="container">
            <h1 class="title-size">技术组件</h1>
            <ul class="row tec-comtwo">
                <li class="col-md-4 col-xs-6">
                    <div>
                        <img src="pics/ico/ico-spring-cloud.svg" class="logo">
                        <h2>Spring Cloud</h2>
                        <p>当前最流行的微服务开发框架SpringCloud，数人云提供全面支持，包括配置中心，注册中心，服务治理中心，API Gateway等多个产品都无缝对接SpringCloud体系。</p>
                    </div>
                </li>
                <li class="col-md-4 col-xs-6">
                    <div>
                        <img src="pics/ico/ico-hawk.svg" class="logo">
                        <h2>Hawk</h2>
                        <p>数人云统一配置管理中心 Hawk，为分布式系统中的基础设施和微服务应用提供集中化的外部配置支持，实现了对服务端和客户端中环境变量，配置文件，动态属性配置的抽象映射，并支持配置的灰度下发，历史版本控制等先进功能。配置接口完全兼容 Spring Cloud Config，后台管理功能则通过 open API的形式对外开放，满足企业多样化的定制需求。</p>
                    </div>
                </li>
                <li class="col-md-4 col-xs-6">
                    <div>
                        <img src="pics/ico/ico-nemo.svg" class="logo">
                        <h2>Nemo</h2>
                        <p>Nemo提供基于Kubernetes的容器化管理，使用自服务形式，通过一体化管理控制台，提供通用中间件的集群部署、管理和监控，也提供中间件自身特性的管理和监控。Nemo深度集成行业OSB(Open Service Broker)标准，沉淀生产环境最佳实践，标准化提升中间件的管理、性能、安全</p>
                    </div>
                </li>
                <li class="col-md-4 col-xs-6">
                    <div>
                        <img src="pics/ico/ico-coral.svg" class="logo">
                        <h2>Coral</h2>
                        <p>数人云微服务治理中心 Coral，为微服务体系提供注册与治理的能力，是服务调用者和服务提供者之间的桥梁和网络。Coral 完全兼容 spring cloud eureka 的接口，并能治理使用 ribbon，hystrix 等 spring cloud 组件的微服务应用，无缝接入 spring cloud 体系，提供企业级的服务治理能力。</p>
                    </div>
                </li>
                <li class="col-md-4 col-xs-6">
                    <div>
                        <img src="pics/ico/ico-octopus.svg" class="logo">
                        <h2>Octopus</h2>
                        <p>Octopus 基于数人云DataMan OS 容器云平台，传统的定时作业程序可以无缝迁移到容器云上运行，通过取代传统的Linux Cron/Spring Batch Job/Quartz，做到分布式环境下批量作业任务的全域统一配置，统一监控，任务高可用以及分片并行。</p>
                    </div>
                </li>
                <li class="col-md-4 col-xs-6">
                    <div>
                        <img src="pics/ico/ico-whale.svg" class="logo">
                        <h2>API Gateway-Whale</h2>
                        <p>轻松创建，发布，维护，监控和保护API，只需在控制台轻松操作，即可暴露微服务的API给客户端应用。提供流量管理，授权和访问控制，监控以及版本控制。</p>
                    </div>
                </li>
                <li class="col-md-4 col-xs-6">
                    <div>
                        <img src="pics/ico/ico-k8s.png" class="logo logo-sole">
                        <h2>Kubernetes</h2>
                        <p>云原生管理跨多台主机容器化应用的开源系统。</p>
                    </div>
                </li>
                <li class="col-md-4 col-xs-6">
                    <div>
                        <img src="pics/ico/ico-mesos.svg" class="logo">
                        <h2>Mesos</h2>
                        <p>分布式操作系统内核，也是数人云 DataMan OS 容器云平台的核心组件。将整个集群抽象为一个资源池，可像用一台电脑一样管理整个集群资源。</p>
                    </div>
                </li>
                <li class="col-md-4 col-xs-6">
                    <div>
                        <img src="pics/ico/ico-docker.svg" class="logo">
                        <h2>Docker</h2>
                        <p>Docker 容器是数人云 DataMan OS 容器云平台的核心组件。使用数人云可轻松发布和管理 Docker 容器化应用（包括 Docker Hub 及其他第三方平台上的 Docker 镜像）。
                        </p>
                    </div>
                </li>
                <li class="col-md-4 col-xs-6">
                    <div>
                        <img src="pics/ico/ico-swan.png" class="logo logo-sole">
                        <h2>Swan</h2>
                        <p>Swan 是基于 Mesos 实现的应用调度框架，帮助用户轻松发布应用，实现应用的滚动更新，并根据用户指定的策略做应用的健康检测和故障转移。</p>
                    </div>
                </li>
            </ul>
        </div>
    </section>
    <section class="experience">
        <div class="container">
            <h1 class="title-size">经典案例</h1>
            <div class="row" style="width: 100%">
                <ul class="col-md-6 col-xs-4" id="experience-bot">
                    <li class="col-md-4 col-xs-4">
                        <img src="pics/logo/guodian@3x.png" class="logos">
                    </li>
                    <li class="col-md-4 col-xs-4">
                        <img src="pics/logo/yunnan@3x.png" class="logos">
                    </li>
                    <li class="col-md-4 col-xs-4">
                        <img src="pics/logo/shangjiao@3x.png" class="logos">
                    </li>
                    <li class="col-md-4 col-xs-4">
                        <img src="pics/logo/guangfa@3x.png" class="logos">
                    </li>
                    <li class="col-md-4 col-xs-4">

                        <img src="pics/logo/hengfeng@3x.png" class="logos">
                    </li>

                    <li class="col-md-4 col-xs-4">
                        <img src="pics/logo/sifulan@3x.png" class="logos">
                    </li>

                    <li class="col-md-4 col-xs-4">
                        <img src="pics/logo/logo1@3x.png" class="logos">
                    </li>
                    <li class="col-md-4 col-xs-4">
                        <img src="pics/logo/logo2@3x.png" class="logos">
                    </li>
                    <li class="col-md-4 col-xs-4">
                        <img src="pics/logo/logo3@3x.png" class="logos">
                    </li>
                    <li class="col-md-4 col-xs-4">
                        <img src="pics/logo/logo4@3x.png" class="logos">
                    </li>
                    <li class="col-md-4 col-xs-4">

                        <img src="pics/logo/logo5@3x.png" class="logos">
                    </li>
                    <li class="col-md-4 col-xs-4">
                        <img src="pics/logo/logo6@3x.png" class="logos">
                    </li>
                </ul>
                <ul class="col-md-6 col-xs-4" id="experience-introduce">
                    <li class="col-md-12 experience-introduce">
                        <h4>某大型证券交易所</h4>
                        <p>完成开发、集成、仿真、预发布、生产五大环境建设</p>
                        <p>实现界面化部署和细粒度的资源分配</p>
                        <p>构建对进群、主机、进程多层监控体系</p>
                        <p>一期借助容器云搭建端到端高效软件过程平台，实现 CI/CD</p>
                        <p>二期着重改进优化各功能模块，新增测试类型</p>
                    </li>
                    <li class="col-md-12 experience-introduce">
                        <h4>某大型能源国企</h4>
                        <p>提供 PaaS 平台技术支撑</p>
                        <p>在容器云产品基础上与 OpenStack 进行深入集成</p>
                        <p>提供完整的云环境治理管控平台能力</p>
                        <p>提升信息化项目交付的自动化、标准化水平</p>
                    </li>
                </ul>
            </div>
        </div>
    </section>
    <section class="experience-mobile">
        <div class="container">
            <h1 class="title-size">经典案例</h1>
            <div class="column experience-mobile-logos-box">
                <ul class="experience-mobile-logos" id="experience-bot-mobile">
                    <li>
                        <img src="pics/logo/guodian@3x.png" class="logos-mobile">
                    </li>
                    <li>
                        <img src="pics/logo/yunnan@3x.png" class="logos-mobile">
                    </li>
                </ul>
                <ul class="experience-mobile-logos">
                    <li>
                        <img src="pics/logo/shangjiao@3x.png" class="logos-mobile">
                    </li>
                    <li>
                        <img src="pics/logo/guangfa@3x.png" class="logos-mobile">
                    </li>
                </ul>
                <ul class="experience-mobile-logos">
                    <li>
                        <img src="pics/logo/hengfeng@3x.png" class="logos-mobile">
                    </li>
                    <li>
                        <img src="pics/logo/sifulan@3x.png" class="logos-mobile">
                    </li>
                </ul>
                <ul class="experience-mobile-logos">
                    <li>
                        <img src="pics/logo/logo1@3x.png" class="logos-mobile">
                    </li>
                    <li>
                        <img src="pics/logo/logo2@3x.png" class="logos-mobile">
                    </li>
                </ul>
                <ul class="experience-mobile-logos">
                    <li>
                        <img src="pics/logo/logo3@3x.png" class="logos-mobile">
                    </li>
                    <li>
                        <img src="pics/logo/logo4@3x.png" class="logos-mobile">
                    </li>
                </ul>
                <ul class="experience-mobile-logos">
                    <li>
                        <img src="pics/logo/logo5@3x.png" class="logos-mobile">
                    </li>
                    <li>
                        <img src="pics/logo/logo6@3x.png" class="logos-mobile">
                    </li>
                </ul>
                <ul class="col-md-12 experience-introduce-mobile-box" id="experience-introduce-mobile-box">
                    <li class="col-md-12 experience-introduce-mobile">
                        <h4>某大型证券交易所</h4>
                        <p>完成开发、集成、仿真、预发布、生产五大环境建设</p>
                        <p>实现界面化部署和细粒度的资源分配</p>
                        <p>构建对进群、主机、进程多层监控体系</p>
                        <p>一期借助容器云搭建端到端高效软件过程平台，实现 CI/CD</p>
                        <p>二期着重改进优化各功能模块，新增测试类型</p>
                    </li>
                    <li class="col-md-12 experience-introduce-mobile">
                        <h4>某大型能源国企</h4>
                        <p>提供 PaaS 平台技术支撑</p>
                        <p>在容器云产品基础上与 OpenStack 进行深入集成</p>
                        <p>提供完整的云环境治理管控平台能力</p>
                        <p>提升信息化项目交付的自动化、标准化水平</p>
                    </li>
                </ul>
            </div>
        </div>
    </section>
    <section>
        <div class="container news-trends">
            <h1 class="title-size">新闻动态</h1>
            <div class="row" id="news-box">
                <div class="dynamic col-md-5 col-sm-12 col-md-offset-1">

                    <dl>
                        <dt>
                            <a target="_blank" href="http://blog.shurenyun.com/untitled-125/">
                                数人云入选创业邦2017中国企业服务创新成长50强
                            </a>
                        </dt>
                        <dd>01 DECEMBER 2017</dd>
                    </dl>

                    <dl>
                        <dt>
                            <a target="_blank"
                               href="http://blog.shurenyun.com/biao-ti-1wei-fu-wu-2017nian-du-bao-gao-chu-lu-4da-ke-hu-hua-xiang-15chuan-tong-qi-ye-yi-ling-pao/">
                                数人云2017微服务年度报告出炉：15%传统企业已领跑
                            </a>
                        </dt>
                        <dd>12 JANUARY 2018</dd>
                    </dl>

                    <dl>
                        <dt>
                            <a target="_blank" href="http://blog.shurenyun.com/shu-ren-yun-sheng-tai-jia-su-du-xi-shou-hua-yun-shu-ju-gong-ying-yun-shang-wei-lai/">
                                数人云生态加速度 携手华云数据共赢云上未来
                            </a>
                        </dt>
                        <dd>28 DECEMBER 2017</dd>
                    </dl>

                </div>
                <div class="news col-md-5 col-sm-12 col-md-offset-1">

                    <dl>
                        <dt>
                            <a target="_blank" href="http://blog.shurenyun.com/qi-ye-ji-rong-qi-yun-ping-tai-lian-meng-biao-zhun-zai-shu-ren-yun-paas-innovationda-hui-fa-bu/">
                                《企业级容器云平台》联盟标准在数人云PaaS Innovation大会发布
                            </a>
                        </dt>
                        <dd>17 JANUARY 2017</dd>
                    </dl>

                    <dl>
                        <dt>
                            <a target="_blank" href="http://blog.shurenyun.com/untitled-85/">
                                双态IT驱动PaaS进阶 ，数人云产品体系全面升级EAMS
                            </a>
                        </dt>
                        <dd>14 AUGUST 2017</dd>
                    </dl>

                    <dl>
                        <dt>
                            <a target="_blank" href="http://blog.shurenyun.com/untitled-101/">
                                数人云和首都在线达成战略合作，共生共赢
                            </a>
                        </dt>
                        <dd>25 SEPTEMBER 2017</dd>
                    </dl>

                </div>
            </div>
            <footer>
                <span class="news-events"><a href="http://blog.shurenyun.com/tag/news">新闻</a> · <a
                        href="http://blog.shurenyun.com/tag/events">活动</a></span>
            </footer>
        </div>

    </section>
    <% include '../common_views/footer.html' %>
</div>
<% end %>
