<% extend "../common.html" %>
<% block 'keywords': %>数人云，数人科技，容器，Container，容器云，云原生，镜像仓库，容器集群管理，Docker，Docker镜像，Mesos，Marathon，DCOS，PaaS平台，数人云操作系统，灰度发布 ，微服务，服务发现，持续集成，镜像构建，CICD，持续交付 ，DevOps，敏捷开发，自动化，金融容器云，高并发，秒杀，容器编排，docker compose，应用编排，弹性扩缩 弹性伸缩<% end %>
<% block 'description': %>数人云是基于 Mesos 和 Docker 技术的云操作系统，致力于打造最轻量化的PaaS平台，可实现应用的快速发布和弹性扩展。支持混合云管理，实现一站式的微服务架构集群系统，帮助用户快速建立并稳定运维高性能生产环境，解决从客户到云资源的最后一公里。<% end %>
<% block 'title': %>数人云产品 - 基于容器的最轻量化 PaaS 平台<% end %>
<% block 'bodyContent': %>
<% include '../common_views/nav.html' %>
<div id="product-craner">
    <header class="octopus-header">
        <img src="pics/octopus/octopus-01.png">
        <h1>数人弹性调度云</h1>
        <h2>高效可靠的弹性调度云，让你的作业更灵活自如</h2>
        <form>
            <button disabled="disabled" class="btn btn-primary" type="button">马上体验</button>
            <!--<div><a href="#" target="_blank"><i class="fa fa-github"></i> GitHub-->
                <!--Project</a></div>-->
        </form>

        <footer><i class="fa fa-angle-down fa-up-down"></i></footer>
    </header>

    <section class="summary">
        <div class="container">
            <img src="pics/craner-02.png">
            <h2>Characteristic</h2>
            <p>
                <strong>关于树人弹性调度云 Octopus</strong><br>
                基于容器云平台打造高效易用的定时任务调度系统。支持多种作业类型和模式，具有资源动态平衡以及框架、业务隔离的功能，而且无缝融合物理机、虚拟机以及容器，从而实现调度作业统一监控管理，全面高可用。
            </p>
        </div>
    </section>

    <section class="scenarios" style="background-color: #FFFFFF;">
        <div class="container-fluid">
            <h1 style=" font-weight: 300;color: #333;">应用场景</h1>
            <h2>Scenarios</h2>
            <div class="row">
                <div class="col-md-6">
                    <img src="pics/octopus/octopus-scenarios-1.jpg">
                    <h3>Scenarios-1</h3>
                    <p>快速搭建开发/测试环境，一键部署，节省运维主机资源成本。</p>
                </div>
                <div class="col-md-6">
                    <img src="pics/octopus/octopus-scenarios-2.jpg">
                    <h3 style="color: #a6d132;">Scenarios-2</h3>
                    <p>应用隔离，极大提高数据中心资源利用率。</p>
                </div>
                <div class="col-md-6">
                    <img src="pics/octopus/octopus-scenarios-3.jpg">
                    <h3 style="color: #6cdbba;">Scenarios-3</h3>
                    <p>基于 Docker SwarmKit 实现规模集群管理，应用弹性扩缩。</p>
                </div>
                <div class="col-md-6">
                    <img src="pics/octopus/octopus-scenarios-4.jpg">
                    <h3>Scenarios-1</h3>
                    <p>快速搭建开发/测试环境，一键部署，节省运维主机资源成本。</p>
                </div>
            </div>
        </div>
    </section>

    <section class="index-carousel feature-pc">
        <div class="container">
            <h1 style=" font-weight: 300; color: #333;">功能特性</h1>
            <h2>Feature</h2>
            <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner" role="listbox">
                    <div class="item active">
                        <div class="carousel-caption">
                            <header>
                                <h1>Feature-1</h1>
                                <h2 style="color:#aedb8a">多种作业类型与作业模式</h2>
                            </header>
                            <div class="row">
                                <div class="col-md-6">
                                    <img src="pics/octopus/octopus-feature-01.jpg">
                                    <h3>Shell任务</h3>
                                    <p>提供任意脚本语言，无缝迁移Cron Table</p>
                                </div>
                                <div class="col-md-6">
                                    <img src="pics/octopus/octopus-feature-02.jpg">
                                    <h3>JAVA任务</h3>
                                    <p>提供灵活编程模式，满足不同的业务需求</p>
                                </div>
                                <div class="col-md-6">
                                    <img src="pics/octopus/octopus-feature-03.jpg">
                                    <h3>消息任务</h3>
                                    <p>提提供消息驱动，支持作业间串接</p>
                                </div>
                                <div class="col-md-6">
                                    <img src="pics/octopus/octopus-feature-04.jpg">
                                    <h3>分布式运行与本地任务模式</h3>
                                    <p>提供分片、分区处理模式，以及Daemon模式，满足业务灵活并行处理</p>
                                </div>
                            </div>
                            <footer>
                                <img src="pics/craner-Feature-0-1.png">
                            </footer>
                        </div>
                    </div>

                    <div class="item">
                        <div class="carousel-caption">
                            <header>
                                <h1>Feature-2</h1>
                                <h2 style="color:#8adbbf;">资源动态平衡</h2>
                            </header>
                            <div class="row">
                                <div class="col-md-12">
                                    <img src="pics/octopus/octopus-feature-05.jpg">
                                    <h3>人工指定运行节点，系统自动平衡负载</h3>
                                    <p>灵活的运维配置与部署，高效资源利用，简便的管理</p>
                                </div>
                                <footer>
                                    <img src="pics/craner-Feature-0-4.png">
                                </footer>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="carousel-caption">
                            <header>
                                <h1>Feature-3</h1>
                                <h2 style="color:#8acfdb;">框架与业务隔离</h2>
                            </header>
                            <div class="row">
                                <div class="col-md-12">
                                    <img src="pics/octopus/octopus-feature-06.jpg">
                                    <h3>框架代码与业务代码隔离，集中化动态增加与删除作业</h3>
                                    <p>简化开发，避免冲突，业务无侵入，易于发布与维护，框架升级与业务脱离框架版本统一升级</p>
                                </div>
                                <footer>
                                    <img src="pics/craner-Feature-0-3.png">
                                </footer>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="carousel-caption">
                            <header>
                                <h1>Feature-4</h1>
                                <h2 style="color:#dbc78a;">秒级调度</h2>
                            </header>
                            <div class="row">
                                <div class="col-md-12">
                                    <img src="pics/octopus/octopus-feature-07.jpg">
                                    <h3>提供作业秒级触发</h3>
                                    <p></p>
                                </div>

                            </div>
                            <footer>
                                <img src="pics/craner-Feature-0-2.png">
                            </footer>
                        </div>
                    </div>

                    <div class="item">
                        <div class="carousel-caption">
                            <header>
                                <h1>Feature-5</h1>
                                <h2 style="color:#dbc78a;">资源混搭</h2>
                            </header>
                            <div class="row">
                                <div class="col-md-12">
                                    <img src="pics/octopus/octopus-feature-08.jpg">
                                    <h3>指出物理机、虚拟机以及容器</h3>
                                    <p></p>
                                </div>

                            </div>
                            <footer>
                                <img src="pics/craner-Feature-0-2.png">
                            </footer>
                        </div>
                    </div>
                </div>
                <a class="left carousel-control" href="#carousel-example-generic" role="button"
                   data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="right carousel-control" href="#carousel-example-generic" role="button"
                   data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
    </section>

    <section class="feature-mobile">
        <div class="container">
            <h1 style=" font-weight: 300; color: #333;">功能特性</h1>
            <h2>Feature</h2>
            <div class="feature-panel">
                <header>
                    <h1>Feature-1</h1>
                    <h2 style="color:#aedb8a">多种作业类型与作业模式</h2>
                </header>
                <div class="row">
                    <div class="col-md-12 m-r">
                        <img src="pics/octopus/octopus-feature-01.jpg">
                        <h3>Shell任务</h3>
                        <p>提供任意脚本语言，无缝迁移 Cron Table</p>
                    </div>
                    <div class="col-md-12 m-r">
                        <img src="pics/octopus/octopus-feature-02.jpg">
                        <h3>JAVA任务</h3>
                        <p>可以指定更新的实例数目分步更新，也可以全量更新。滚动更新策略可配</p>
                    </div>
                    <div class="col-md-12 m-r">
                        <img src="pics/octopus/octopus-feature-03.jpg">
                        <h3>消息任务</h3>
                        <p>提供任意脚本语言，无缝迁移Cron Table</p>
                    </div>
                    <div class="col-md-12 m-r">
                        <img src="pics/octopus/octopus-feature-04.jpg">
                        <h3>分布式运行与本地任务模式</h3>
                        <p>提供分片、分区处理模式，以及Daemon模式，满足业务灵活并行处理</p>
                    </div>
                </div>
            </div>
            <div class="feature-panel">
                <header>
                    <h1>Feature-2</h1>
                    <h2 style="color:#8adbbf;">资源动态平衡</h2>
                </header>
                <div class="row">
                    <div class="col-md-12 m-r">
                        <img src="pics/octopus/octopus-feature-05.jpg">
                        <h3>人工指定运行节点，系统自动平衡负载</h3>
                        <p>灵活的运维配置与部署，高效资源利用，简便的管理</p>
                    </div>
                </div>
            </div>
            <div class="feature-panel">
                <header>
                    <h1>Feature-3</h1>
                    <h2 style="color:#8acfdb;">框架与业务隔离</h2>
                </header>
                <div class="row">
                    <div class="col-md-12 m-r">
                        <img src="pics/octopus/octopus-feature-06.jpg">
                        <h3>框架代码与业务代码隔离，集中化动态增加与删除作业</h3>
                        <p>简化开发，避免冲突，业务无侵入，易于发布与维护，框架升级与业务脱离框架版本统一升级</p>
                    </div>
                </div>
            </div>
            <div class="feature-panel">
                <header>
                    <h1>Feature-4</h1>
                    <h2 style="color:#dbc78a;">秒级调度</h2>
                </header>
                <div class="row">
                    <div class="col-md-12 m-r">
                        <img src="pics/octopus/octopus-feature-07.jpg">
                        <h3>提供作业秒级触发</h3>
                        <p></p>
                    </div>
                </div>
            </div>
            <div class="feature-panel">
                <header>
                    <h1>Feature-5</h1>
                    <h2 style="color:#998adb;">资源混搭</h2>
                </header>
                <div class="row">
                    <div class="col-md-12 m-r">
                        <img src="pics/octopus/octopus-feature-08.jpg">
                        <h3>指出物理机、虚拟机以及容器</h3>
                        <p></p>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <section class="other-info">
        <img src="pics/craner-07.png">
        <div class="btn-bar">
            <button disabled="disabled">使用手册</button>
        </div>
        <div>
            <button disabled="disabled" type="button" class="apply">
                马上体验
            </button>
            <p>如有疑问，请拨打咨询电话：<strong>010-64776698</strong></p>
        </div>
    </section>
    <% include '../common_views/footer.html' %>
</div>
<!--<a href="https://github.com/Dataman-Cloud/crane" target="_blank"><img style="position: absolute; top: 0; left: 0; border: 0;" src="./pics/fork-me-on-github.png" alt="Fork me on GitHub" width="120"></a>-->
<% end %>
