<% extend "../common.html" %>
<% block 'keywords': %>数人云，数人科技，容器，Container，容器云，云原生，镜像仓库，容器集群管理，Docker，Docker镜像，Mesos，Marathon，DCOS，PaaS平台，数人云操作系统，灰度发布 ，微服务，服务发现，持续集成，镜像构建，CICD，持续交付 ，DevOps，敏捷开发，自动化，金融容器云，高并发，秒杀，容器编排，docker compose，应用编排，弹性扩缩 弹性伸缩
<% end %>
<% block 'description': %>数人云是基于 Mesos 和 Docker 技术的云操作系统，致力于打造最轻量化的PaaS平台，可实现应用的快速发布和弹性扩展。支持混合云管理，实现一站式的微服务架构集群系统，帮助用户快速建立并稳定运维高性能生产环境，解决从客户到云资源的最后一公里。
<% end %>
<% block 'title': %>数人云产品 - 基于容器的最轻量化 PaaS 平台
<% end %>
<% block 'bodyContent': %>
<% include '../common_views/nav.html' %>
<div id="product-craner">
	<header class="header-swan">
		<img src="pics/aa9.png">
		<h1>数人云 Mesos 调度器 Swan</h1>
		<h2>基于 Golang 的 Mesos 应用调度框架</h2>
		<form>
			<button class="btn btn-primary" type="button" onclick="window.open('http://shurenyun.mikecrm.com/4yWYYe')">免费申请试用</button>
			<div>
				<a href="https://github.com/Dataman-Cloud/crane" target="_blank"><i class="fa fa-github"></i> GitHub Project</a>
			</div>
		</form>

		<footer><i class="fa fa-angle-down"></i></footer>
	</header>

	<section class="summary">
		<div class="container"><img src="pics/aa81.png">
			<h2>Characteristic</h2>
			<p><strong>关于数人云 Mesos 调度器 Swan           </strong><br>Swan 是基于 Mesos 实现的应用调度框架，帮助用户轻松发布应用，实现应用的滚动更新，并根据用户指定的策略做应用的健康检测和故障转移。</p>
		</div>
	</section>

	<section class="scenarios">
		<div class="container">
			<h1 style=" font-weight: 300;color: #333;">应用场景</h1>
			<h2>Scenarios</h2>
			<div class="row">
				<div class="col-md-12 imgbig">
					<img src="pics/aa86.png">
					<h3>Mesos 环境应用管理</h3>
				</div>
			</div>
		</div>
	</section>

	<section class="index-carousel feature-pc">
		<div class="container" style="width: 100%;">
			<h1 style="font-weight: 300; color: #333">功能特性</h1>
			<h2>Feature</h2>
			<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
				<div class="carousel-inner" role="listbox">
					<div class="item active">
						<div class="row" style="width: 100%; margin-left: 50px;">
							<div class="col-md-3 carousel-caption1">
								<img src="pics/swan-031.png">
								<h3>发布应用</h3>
								<p>支持应用实例名称固定，便于监控和做服务发现。</p>
							</div>
							<div class="col-md-3 carousel-caption1">
								<img src="pics/swan-032.png">
								<h3>应用扩缩</h3>
								<p>支持手动扩缩，扩缩过程中保持实例ID连续。</p>
							</div>
							<div class="col-md-3 carousel-caption1">
								<img src="pics/swan-033.png">
								<h3>滚动更新</h3>
								<p>可以指定更新的实例数目分步更新，也可以全量更新。滚动更新策略可配。</p>
							</div>
							<div class="col-md-3 carousel-caption1">
								<img src="pics/swan-034.png">
								<h3>版本回滚</h3>
								<p>支持更新过程中手动回滚，任意一个实例更新失败后自动回滚。</p>
							</div>
							<div class="col-md-3 carousel-caption1">
								<img src="pics/swan-035.png">
								<h3>版本管理</h3>
								<p>支持应用多版本管理。</p>
							</div>
							<div class="col-md-3 carousel-caption1">
								<img src="pics/swan-036.png">
								<h3>健康检查</h3>
								<p>支持实例级别的健康检测，可配置健康检测策略。</p>
							</div>
							<div class="col-md-3 carousel-caption1">
								<img src="pics/swan-037.png">
								<h3>自动容错</h3>
								<p>可配置自动容错策略，根据策略自动恢复失败的实例。</p>
							</div>
							<div class="col-md-3 carousel-caption1">
								<img src="pics/swan-038.png">
								<h3>优雅终止</h3>
								<p>扩缩和滚动更新过程中，支持优雅终止实例。</p>
							</div>
						</div>
					</div>
				</div>
			</div>
	</section>

	<section class="feature-mobile" style="width: 100%;">
		<div class="container">
			<h1 style=" font-weight: 300; color: #333;">功能特性</h1>
			<h2>Feature</h2>
			<div class="feature-panel">
				<div class="row">
					<div class="col-md-12" style="padding:0px 40px">
						<img src="pics/swan-031.png">
						<h3>发布应用</h3>
						<p>支持应用实例名称固定，便于监控和做服务发现。</p>
					</div>
					<div class="col-md-12" style="padding:0px 40px">
						<img src="pics/swan-032.png">
						<h3>应用扩缩</h3>
						<p>支持手动扩缩，扩缩过程中保持实例ID连续。</p>
					</div>
					<div class="col-md-12" style="padding:0px 40px">
						<img src="pics/swan-033.png">
						<h3>滚动更新</h3>
						<p>可以指定更新的实例数目分步更新，也可以全量更新。滚动更新策略可配。</p>
					</div>
					<div class="col-md-12" style="padding:0px 40px">
						<img src="pics/swan-034.png">
						<h3>版本回滚</h3>
						<p>支持更新过程中手动回滚，任意一个实例更新失败后自动回滚。</p>
					</div>
					<div class="col-md-12" style="padding:0px 40px">
						<img src="pics/swan-035.png">
						<h3>版本管理</h3>
						<p>支持应用多版本管理。</p>
					</div>
					<div class="col-md-12" style="padding:0px 40px">
						<img src="pics/swan-036.png">
						<h3>健康检查</h3>
						<p>支持实例级别的健康检测，可配置健康检测策略。</p>
					</div>
					<div class="col-md-12" style="padding:0px 40px">
						<img src="pics/swan-037.png">
						<h3>自动容错</h3>
						<p>可配置自动容错策略，根据策略自动恢复失败的实例。</p>
					</div>
					<div class="col-md-12" style="padding:0px 40px">
						<img src="pics/swan-038.png">
						<h3>优雅终止</h3>
						<p>扩缩和滚动更新过程中，支持优雅终止实例。</p>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="other-info">
		<img src="pics/craner-07.png">
		<div class="btn-bar">
			<button onclick="window.open('https://dataman.gitbooks.io/crane/content/')">开发文档</button>
			<button onclick="window.open('https://dataman.gitbooks.io/crane/content/')">视频教程</button>
			<button onclick="window.open('https://dataman.gitbooks.io/crane/content/')">常见问题</button>
			<button onclick="window.open('https://dataman.gitbooks.io/crane/content/')">相关技术文档</button>
		</div>
		<div>
			<button type="button" class="apply" onclick="window.open('http://shurenyun.mikecrm.com/4yWYYe')">免费申请试用</button>
			<p>如有疑问，请拨打咨询电话：<strong>010-64776698</strong></p>
		</div>
	</section>
	<% include '../common_views/footer.html' %>
	</div>
	<!--<a href="https://github.com/Dataman-Cloud/crane" target="_blank"><img style="position: absolute; top: 0; left: 0; border: 0;" src="./pics/fork-me-on-github.png" alt="Fork me on GitHub" width="120"></a>-->
	<% end %>
