<% extend "../common.html" %>
<% block 'keywords': %>数人云，数人科技，容器，Container，容器云，云原生，镜像仓库，容器集群管理，Docker，Docker镜像，Mesos，Marathon，DCOS，PaaS平台，数人云操作系统，灰度发布 ，微服务，服务发现，持续集成，镜像构建，CICD，持续交付 ，DevOps，敏捷开发，自动化，金融容器云，高并发，秒杀，容器编排，docker compose，应用编排，弹性扩缩 弹性伸缩
<% end %>
<% block 'description': %>数人云是基于 Mesos 和 Docker 技术的云操作系统，致力于打造最轻量化的PaaS平台，可实现应用的快速发布和弹性扩展。支持混合云管理，实现一站式的微服务架构集群系统，帮助用户快速建立并稳定运维高性能生产环境，解决从客户到云资源的最后一公里。
<% end %>
<% block 'title': %>数人云产品 - 基于容器的最轻量化 PaaS 平台
<% end %>
<% block 'bodyContent': %>
<% include '../common_views/nav.html' %>
<div id="product-craner">
	<header class="header-sre">
		<img src="pics/SRE@3x.png">
		<h1>SRE （Site Reliability Engineering ）</h1>
		<h2>数人云于2016年11月推出SRE培训</h2>
		<form class="sre-form">
			<a type="button" class="btn btn-primary" href="./product-sre-offline-training.html" id="home-btn-register" title="线下培训">线下培训</a>
			<a type="button" class="btn btn-default" href="./product-sre-online-training.html" id="home-btn-demo" title="线上培训">线上培训</a>
		</form>
		<form>
			<div>
				<a href="./product-sre.html#lecturer">Introduction&nbsp;&nbsp;<i class="fa fa-angle-down"></i></a>
			</div>
		</form>
		<!--<footer><i class="fa fa-angle-down fa-up-down"></i></footer>-->
		<div class="train">
			<div class="container">
				<h2>关于数人云SRE 培训</h2>
				<p>SRE （Site Reliability Engineering ）是由Google最早提出的一个运维领域的崭新概念。它不仅代表了一种全新的运维理念和其伴随的崭新的工程领域，也代表了一套完整的系统运维体系和与其对应的最佳实践。</p>
				<p>数人云于2016年11月推出SRE培训（线上／线下），旨在通过对Google SRE实践的分析来阐释SRE 如何在项目的各个生命周期为其提供持续性支持。帮助国内企业运用SRE的理念来搭建适合企业的系统运维体系并有效地维护软件架构的性能和稳定。</p>
			</div>
		</div>
	</header>
	<section class="lecturer" id="lecturer">
		<div class="container">
			<h1>培训讲师</h1>
			<h2>lecturer</h2>
			<div class="row">
				<div class="col-md-4">
					<div class="thumbnail lecturer-inc-pics">
						<img class="about-people-pic" src="pics/about-syc.jpg" alt="...">
						<div class="caption lecturer-introduce">
							<h3>孙宇聪
                                <small>&nbsp;&nbsp;数人云技术顾问</small>
                            </h3>
							<p>前Google  SRE, 《SRE：Google运维解密》译者 。曾参与设计维护 Youtube 视频转码/存储/直播管理系统， 参与研发管理全球 Youtube CDN 网络， 后就职于 Google 内部云计算部门开发维护全球百万台服务器生命周期管理系统及任务管理系统。
							</p>
						</div>
					</div>
				</div>
				
				<div class="col-md-4">
					<div class="thumbnail">
						<img class="about-people-pic" src="pics/photo-ceo.jpg" alt="...">
						<div class="caption lecturer-introduce">
							<h3>王璞
                                <small>&nbsp;&nbsp;数人云CEO</small>
                            </h3>
							<p>美国 George Mason 大学计算机博士。擅长分布式计算、大规模机器学习、海量数据处理。曾担任 Google 广告部门数据平台构架师，负责管理每秒访问量全球最高的架构平台。
							</p>
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="thumbnail">
						<img class="about-people-pic" src="pics/photo-cto.jpg" alt="...">
						<div class="caption lecturer-introduce">
							<h3>肖德时
                                <small>&nbsp;&nbsp;数人云CTO</small>
                            </h3>
							<p>曾任红帽 Engineering Service 部门内部工具组 Team Leader，是国内第一代 Docker 代码贡献者。现负责数人云产品研发及架构设计工作，对 Docker 容器等云计算相关技术有深入研究。
							</p>
						</div>
					</div>
				</div>

				<div class="col-md-4">
					<div class="thumbnail">
						<img class="about-people-pic" src="pics/photo-coo.jpg" alt="...">
						<div class="caption lecturer-introduce">
							<h3>谢乐冰
                                <small>&nbsp;&nbsp;数人云COO</small>
                            </h3>
							<p>在德国工作十年，回国后加入惠普电信运营商部门，拥有多年项目经验和创业公司工作经验。在数人云负责产品售前和运营，专注企业级技术应用领域，为金融、电信、电商等行业提供服务。
							</p>
						</div>
					</div>
				</div>

				<div class="col-md-4">
					<div class="thumbnail">
						<img class="about-people-pic" src="pics/photo-zl.png" alt="...">
						<div class="caption lecturer-introduce">
							<h3>张亮
                                <small>&nbsp;&nbsp;数人云解决方案VP</small>
                            </h3>
							<p>IT从业经验14年以上，先后从事开发、架构、项目管理、技术管理等岗位，曾就职于 IBM，在大型企业数据中心运维方面积累了超过10年的架构和规划管理经验。复旦大学mse客座讲师。
							</p>
						</div>
					</div>
				</div>

				<div class="col-md-4">
					<div class="thumbnail">
						<img class="about-people-pic" src="pics/photo-pz.png" alt="...">
						<div class="caption lecturer-introduce">
							<h3>厐征 
                                <small>&nbsp;&nbsp;数人云运维总监</small>
                            </h3>
							<p>15 年以上运维工作经验。就职过宏碁戏谷、第三波、SQUARE ENIX CO., LTD. 等。2015年加入数人云，从事数人云平台运维管理，在 Mesos+Docker 应用实践方面有深入研究。
							</p>
						</div>
					</div>
				</div>
				<!--<div class="col-md-12 joinus-link">
					<a href="http://www.lagou.com/gongsi/j37868.html" id="aboutus-btn-joinus">work with us ></a>
				</div>-->
			</div>
		</div>
	</section>
	<section class="index-carousel feature-pc" id="particular">
		<div class="container" style="width: 100%;">
			<h1 style="font-weight: 300; color: #333">培训详情</h1>
			<h2>particular</h2>
			<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
				<div class="carousel-inner" role="listbox">
					<div class="item active">
						<div class="row" style="width: 100%">
							<div class="col-md-6">
								<div class="sre-details sre-details-item1">
									<h3>基础篇</h3>
									<p>SRE概览和Google SRE系统介绍</p>
								</div>
							</div>
							<div class="col-md-6">
								<div class="sre-details sre-details-item2">
									<h3>原理篇</h3>
									<p>SRE核心理念和基本原理</p>
								</div>
							</div>
							<div class="col-md-6">
								<div class="sre-details sre-details-item3">
									<h3>实践篇</h3>
									<p>SRE在值班、响应、追踪、负载均衡、分布式批处理等方面的具体实践</p>
								</div>
							</div>
							<div class="col-md-6">
								<div class="sre-details sre-details-item4">
									<h3>管理篇</h3>
									<p>SRE团队构建、团队管理以及和其他团队的沟通协作</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="ser-details-inc">
				<p>培训分为基础篇、原理篇、实践篇、管理篇四个主要部分，通过对 SRE的基础概念、指导思想、技术实践以及团队管理的介绍帮助参加培训的学员系统学习SRE的核心思想和操作实践。</p>
			</div>
	</section>
	<section class="feature-mobile" style="width: 100%;">
		<div class="container">
			<h1 style=" font-weight: 300; color: #333;">培训详情</h1>
			<h2>particular</h2>
			<div class="feature-panel">
				<div class="row">
					<div class="col-md-6 sre-details sre-details-item1">
						<h3>基础篇</h3>
						<p>SRE概览和Google SRE系统介绍</p>
					</div>
					<div class="col-md-6 sre-details sre-details-item2">
						<h3>原理篇</h3>
						<p>SRE核心理念和基本原理</p>
					</div>
					<div class="col-md-6 sre-details sre-details-item3">
						<h3>实践篇</h3>
						<p>SRE在值班、响应、追踪、负载均衡、分布式批处理等方面的具体实践</p>
					</div>
					<div class="col-md-6 sre-details sre-details-item4">
						<h3>管理篇</h3>
						<p>SRE团队构建、团队管理以及和其他团队的沟通协作</p>
					</div>
				</div>
			</div>
	</section>
	<section class="scenarios" style="background-color: #FFFFFF;">
		<div class="container">
			<div class="row">
				<div class="col-md-6">
					<a href="./product-sre-offline-training.html#sre-td">
						<div class="box baack-box">
							<h3>SRE 线下培训</h3>
							<p>
								<a href="./product-sre-offline-training.html">详情</a>
								<img src="pics/sre-right-b.png" alt="..." />
							</p>
						</div>
					</a>
					
				</div>
				<div class="col-md-6">
					<a href="./product-sre-online-training.html#dre-bg">
						<div class="box white-box">
							<h3>SRE 线上公开课</h3>
							<p>
								<a href="./product-sre-online-training.html">详情</a>
								<img src="pics/sre-right-h.png" alt="..." />
							</p>
						</div>
					</a>
				</div>
			</div>
		</div>
	</section>

	
	<section class="other-info" style="background-color:#FFFFFF">
		<div>
			<button type="button" class="apply2" onclick="window.open('http://shurenyun.mikecrm.com/QWtsrK')">咨询课程</button>
		</div>
	</section>
	<% include '../common_views/footer.html' %>
	</div>
	<!--<a href="https://github.com/Dataman-Cloud/crane" target="_blank"><img style="position: absolute; top: 0; left: 0; border: 0;" src="./pics/fork-me-on-github.png" alt="Fork me on GitHub" width="120"></a>-->
	<% end %>