<% extend "../common.html" %>
<% block 'keywords': %>数人云，数人科技，容器，Container，容器云，云原生，镜像仓库，容器集群管理，Docker，Docker镜像，Mesos，Marathon，DCOS，PaaS平台，数人云操作系统，灰度发布 ，微服务，服务发现，持续集成，镜像构建，CICD，持续交付 ，DevOps，敏捷开发，自动化，金融容器云，高并发，秒杀，容器编排，docker compose，应用编排，弹性扩缩 弹性伸缩
<% end %>
<% block 'description': %>数人云是基于 Mesos 和 Docker 技术的云操作系统，致力于打造最轻量化的PaaS平台，可实现应用的快速发布和弹性扩展。支持混合云管理，实现一站式的微服务架构集群系统，帮助用户快速建立并稳定运维高性能生产环境，解决从客户到云资源的最后一公里。
<% end %>
<% block 'title': %>数人云产品 - 基于容器的最轻量化 PaaS 平台
<% end %>
<% block 'bodyContent': %>
<% include '../common_views/nav.html' %>
<div id="product-craner">
	<header class="header-sre-on">
		<h1><span>SRE</span> 线上培训</h1>
		<h2>SRE （Site Reliability Engineering ）</h2>
		<h3>数人云于2016年10月推出SRE培训</h3>
		<form>
			<div>
				<a href="https://github.com/Dataman-Cloud/swan" target="_blank">Introduction&nbsp;&nbsp;<small>v</small></a>
			</div>
		</form>
		<!--<footer><i class="fa fa-angle-down fa-up-down"></i></footer>-->
	</header>
	<section class="scenarios">
		<div class="container">
			<div class="row">
				<div class="col-md-4">
					<div class="sre-bg sre-bg1">
						<h2>SRE来自Google 的 DevOps 理念及实践（上）</h2>
						<a href="#">
							<dl>
								<dt><img src="pics/sre-js-s.png"/></dt>
								<dd>讲师：孙宇聪</dd>
							</dl>
						</a>
					</div>
				</div>
				<div class="col-md-4">
					<div class="sre-bg sre-bg2">
						<h2>SRE来自Google 的 DevOps 理念及实践（下）</h2>
						<a href="#">
							<dl>
								<dt><img src="pics/sre-js-s.png"/></dt>
								<dd>讲师：孙宇聪</dd>
							</dl>
						</a>
					</div>
				</div>
				<div class="col-md-4">
					<div class="sre-bg sre-bg3">
						<h2>更新ing~</h2>
					</div>
				</div>
				<div class="col-md-4">
					<div class="sre-bg sre-bg4">
						<h2>更新ing~</h2>
					</div>
				</div>
				<div class="col-md-4">
					<div class="sre-bg sre-bg5">
						<h2>更新ing~</h2>
					</div>
				</div>
				<div class="col-md-4">
					<div class="sre-bg sre-bg6">
						<h2>更新ing~</h2>
					</div>
				</div>
			</div>
		</div>
	</section>

	
	<section class="other-info" style="background-color:#f3f5f7">
		<div>
			<button type="button" class="apply" onclick="window.open('http://shurenyun.mikecrm.com/4yWYYe')">咨询课程</button>
		</div>
	</section>
	<section class="other-info">
		<div class="btn-bar" style="margin-bottom: 200px;">
			<button onclick="window.open('https://dataman.gitbooks.io/crane/content/')">SRE线下公开课</button>
			<button onclick="window.open('./product-sre.html')">SRE培训详情</button>
		</div>
	</section>
	<% include '../common_views/footer.html' %>
	</div>
	<!--<a href="https://github.com/Dataman-Cloud/crane" target="_blank"><img style="position: absolute; top: 0; left: 0; border: 0;" src="./pics/fork-me-on-github.png" alt="Fork me on GitHub" width="120"></a>-->
	<% end %>