<% extend "../common.html" %>
<% block 'keywords': %>数人云，数人科技，容器，Container，容器云，云原生，镜像仓库，容器集群管理，Docker，Docker镜像，Mesos，Marathon，DCOS，PaaS平台，数人云操作系统，灰度发布 ，微服务，服务发现，持续集成，镜像构建，CICD，持续交付 ，DevOps，敏捷开发，自动化，金融容器云，高并发，秒杀，容器编排，docker compose，应用编排，弹性扩缩 弹性伸缩
<% end %>
<% block 'description': %>数人云是基于 Mesos 和 Docker 技术的云操作系统，致力于打造最轻量化的PaaS平台，可实现应用的快速发布和弹性扩展。支持混合云管理，实现一站式的微服务架构集群系统，帮助用户快速建立并稳定运维高性能生产环境，解决从客户到云资源的最后一公里。
<% end %>
<% block 'title': %>数人云产品 - 基于容器的最轻量化 PaaS 平台
<% end %>
<% block 'bodyContent': %>
<% include '../common_views/nav.html' %>
<div id="product-craner">
	<header class="header-sre-off">
		<h1><span>SRE</span> 线下培训</h1>
		<h2>SRE （Site Reliability Engineering ）</h2>
		<h3>数人云于2016年11月推出SRE培训</h3>
		<form>
			<div>
				<button class="btn btn-primary" type="button" onclick="window.open('http://shurenyun.mikecrm.com/QWtsrK')">免费咨询</button><br />
				<a href="./product-sre-offline-training.html#sre-td">Introduction&nbsp;&nbsp;<i class="fa fa-angle-down"></i></a>
			</div>
		</form>
		<!--<footer><i class="fa fa-angle-down fa-up-down"></i></footer>-->
	</header>
	<section class="sre-td" id="sre-td">
		<div class="container">
			<h2>培训详情</h2>
			<h5>particular</h5>
			<p>培训分为基础篇、原理篇、实践篇、管理篇四个主要部分,通过对 SRE的基础概念、指导思想、技术实践以及团队管理的介绍帮助参加培训的学员系统学习SRE的核心思想和操作实践</p>
			<div class="col-md-12">
				<table border="1" cellspacing="0" cellpadding="0">
					<tr>
						<td rowspan="2">基础篇</td>
						<td>基础概念篇</td>
						<td>SRE 介绍</td>
					</tr>
					<tr>
						<td></td>
						<td>Google的内部系统简介</td>
					</tr>
					<tr>
						<td rowspan="7">原理篇</td>
						<td>SRE原理（一）</td>
						<td>拥抱风险</td>
					</tr>
					<tr>
						<td></td>
						<td>服务等级目标</td>						
					</tr>
					<tr>
						<td></td>
						<td>消除抵消工作</td>
					</tr>
					<tr>
						<td>SRE原理（二）</td>
						<td>监控分布式系统</td>
					</tr>
					<tr>
						<td></td>
						<td>自动化的演进</td>
					</tr>
					<tr>
						<td></td>
						<td>发布工程</td>
					</tr>
					<tr>
						<td></td>
						<td>简单化</td>
					</tr>
					<tr>
						<td rowspan="18">实践篇</td>
						<td>SRE实践（一）</td>
						<td>基于时间序列数据的告警实践</td>
					</tr>
					<tr>
						<td></td>
						<td>值班</td>
					</tr>
					<tr>
						<td></td>
						<td>高效排错</td>
					</tr>
					<tr>
						<td>SRE实践（二）</td>
						<td>紧急响应</td>
					</tr>
					<tr>
						<td></td>
						<td>事故处理</td>
					</tr>
					<tr>
						<td></td>
						<td>事后分析：从故障中吸取教训</td>
					</tr>
					<tr>
						<td>SRE实践（三）</td>
						<td>事故追踪</td>
					</tr>
					<tr>
						<td></td>
						<td>可靠性测试</td>
					</tr>
					<tr>
						<td>SRE实践（四）</td>
						<td>SRE重的软件工程</td>
					</tr>
					<tr>
						<td></td>
						<td>前端负载均衡</td>
					</tr>
					<tr>
						<td></td>
						<td>数据中心内的负载均衡</td>
					</tr>
					<tr>
						<td></td>
						<td>过载处理</td>
					</tr>
					<tr>
						<td>SRE实践（五）</td>
						<td>处理级联事故</td>
					</tr>
					<tr>
						<td></td>
						<td>分布式状态一致性管理</td>
					</tr>
					<tr>
						<td>SRE实践（六）</td>
						<td>分布式批处理任务</td>
					</tr>
					<tr>
						<td></td>
						<td>数据处理流程</td>
					</tr>
					<tr>
						<td></td>
						<td>数据完整性</td>
					</tr>
					<tr>
						<td></td>
						<td>大规模发布</td>
					</tr>
					<tr>
						<td rowspan="7">管理篇</td>
						<td>SRE管理（一）</td>
						<td>提高SRE工作效率</td>
					</tr>
					<tr>
						<td></td>
						<td>处理突发事务</td>
					</tr>
					<tr>
						<td></td>
						<td>防止运维事务过多</td>
					</tr>
					<tr>
						<td>SRE管理（二）</td>
						<td>SRE的沟通与写作</td>
					</tr>
					<tr>
						<td></td>
						<td>SRE新人入职管理</td>
					</tr>
					<tr>
						<td></td>
						<td>借鉴其他领域的经验</td>
					</tr>
					<tr>
						<td></td>
						<td>总结</td>
					</tr>
				</table>
				<div class="sre-cycle">
					<div class="sre-cycle-item1">
						<span></span>
						<p>
							培训周期： <a href="#">2</a> 天<br />
							培训人数：为保证培训质量，建议培训人数不超过 <a href="#">30</a> 人
						</p>
					</div>
					<div class="sre-cycle-item2">
						<span></span>
						<p>“我们还可以根据具体要求定制专属于您的培训计划”</p>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="other-info" style="margin-top: -50px;">
		<div>
			<button type="button" class="apply3" onclick="window.open('http://shurenyun.mikecrm.com/QWtsrK')">咨询课程</button>
		</div>
	</section>
	<section class="offlineActivities" id="offlineActivities">
		<div class="container">
			<h2>线下活动</h2>
			<h5>Offline Activities</h5>
			<div class="row">
				<div class="col-md-4">
                    <div class="activeContent">
                        <a href="http://blog.dataman-inc.com/shurenyun-news-1213/" target="_blank">
                            <img class="about-activity-pic" src="pics/sre-offline-activity.png" alt="数人云携手复旦大学开授SRE选修课">
                            <div class="caption activeBorder">
                                <h3>数人云携手复旦大学开授SRE选修课</h3>
                                <p>2016年10月29日-12月10日，数人云与复旦大学合作面向复旦大学软件工程学院的软件工程硕士开授了《信息系统工程概论（SRE：大规模应用运维实践）》系列选修课程。课程为期七周，围绕SRE基本概念、SRE核心理念、SRE在运维方面的实践以及SRE的团队管理进行了详细的知识分享。</p>
                            </div>
                        </a>
                    </div>
				</div>


                <div class="col-md-4">
					<div class="activeContent">
						<a href="http://blog.dataman-inc.com/shurenyun-news-117/" target="_blank">
							<img class="about-activity-pic" src="pics/sre-offline-activity1.png" alt="数人云@微软新视界 探讨SRE在DevOps中的最佳实践">
							<div class="caption activeBorder">
								<h3>数人云@微软新视界 探讨SRE在DevOps中的最佳实践</h3>
								<p>1月14日，数人云CTO肖德时出席微软新视界DevOps专题开发者技术沙龙，并做 《SRE-DevOps在运维领域的具体实践》主题演讲，分享了SRE在运维领域的DevOps最佳实践。</p>
							</div>
						</a>
					</div>
                </div>

                <div class="col-md-4">
                    <div class="activeContent">
                        <div style="line-height: 338px;text-align: center;font-size: 18px;">
                            更新中~
                        </div>
                    </div>
                </div>
			</div>
		</div>
	</section>
	<section class="other-info">
		<div class="btn-bar" style="margin: 0 auto 200px;background-color: #f3f5f7;">
			<button onclick="window.open('./product-sre-online-training.html#dre-bg')">SRE线上公开课</button>
			<button onclick="window.open('./product-sre.html#particular')">SRE培训详情</button>
		</div>
	</section>
	<% include '../common_views/footer.html' %>
</div>
<!--<a href="https://github.com/Dataman-Cloud/crane" target="_blank"><img style="position: absolute; top: 0; left: 0; border: 0;" src="./pics/fork-me-on-github.png" alt="Fork me on GitHub" width="120"></a>-->
<% end %>