<% extend "../common.html" %>
<% block 'keywords': %>数人云，数人科技，容器，Container，容器云，云原生，镜像仓库，容器集群管理，Docker，Docker镜像，Mesos，Marathon，DCOS，PaaS平台，数人云操作系统，灰度发布 ，微服务，服务发现，持续集成，镜像构建，CICD，持续交付 ，DevOps，敏捷开发，自动化，金融容器云，高并发，秒杀，容器编排，docker compose，应用编排，弹性扩缩 弹性伸缩
<% end %>
<% block 'description': %>数人云是基于 Mesos 和 Docker 技术的云操作系统，致力于打造最轻量化的PaaS平台，可实现应用的快速发布和弹性扩展。支持混合云管理，实现一站式的微服务架构集群系统，帮助用户快速建立并稳定运维高性能生产环境，解决从客户到云资源的最后一公里。
<% end %>
<% block 'title': %>数人云产品 - 基于容器的最轻量化 PaaS 平台
<% end %>
<% block 'bodyContent': %>
<% include '../common_views/nav.html' %>
<div id="product-craner">
    <header class="header-squid">
        <img src="pics/squid/squid-logo.png">
        <h1>数人高并发微服务云平台</h1>
        <h2>灵活高效的一体化微服务平台，轻松应对高并发</h2>
        <form style="margin-top: 30px;">
            <button class="btn btn-primary" type="button" onclick="window.open('http://shurenyun.mikecrm.com/IEPkGK')">试用体验</button>
        </form>

        <footer><i class="fa fa-angle-down fa-up-down"></i></footer>
    </header>

    <section class="summary">
        <div class="container"><img src="pics/aa81.png">
            <h2>Characteristic</h2>
            <p>
                <strong>数人高并发微服务云平台 Squid</strong><br>
                一体化异步微服务平台基于容器云平台打造，支持同步和异步模式，具有高可用、高并发、无入侵性扩展业务、服务依赖实时跟踪以及自动
            </p>
        </div>
    </section>

    <section class="scenarios" style="background-color: #FFFFFF;">
        <div class="container">
            <h1 style=" font-weight: 300;color: #333;">应用场景</h1>
            <h2>Scenarios</h2>
            <div class="row">
                <div class="col-md-6">
                    <img src="pics/squid/squid-2.png">
                    <h3>秒杀抢购</h3>
                    <p>应对突发流量，避免访问突发性对于既有资源的破坏性调用</p>
                </div>
                <div class="col-md-6">
                    <img src="pics/squid/squid-3.png">
                    <h3 style="color: #a6d132;">中小型电商化应用</h3>
                    <p>一体化微服务管理与监控，无需构建庞大复杂的体系，且能平滑升级到大型微服务系统</p>
                </div>
            </div>
        </div>
    </section>

    <section class="index-carousel feature-pc">
        <div class="container" style="width: 100%;">
            <h1 style="font-weight: 300; color: #333">功能特性</h1>
            <h2>Feature</h2>
            <div id="carousel-about" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner" role="listbox">

                    <div class="item active">
                        <div class="row">
                            <div class="col-xs-6 col-md-4">
                                <div class="feature-thumbnail" style="height: 300px;">
                                    <img src="pics/squid/squid-4.png">
                                    <div class="caption">
                                        <h3>多种服务处理模式</h3>
                                        <p>同步模式: 同步编程模式，异步消息处理,灵活控制超时</p>
                                        <p>异步模式: 异步回调，编程以及消息处理双异步，降低系统开销</p>
                                        <p>无响应模式: 高效发送消息，无需关注响应</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-6 col-md-4">
                                <div class="feature-thumbnail" style="height: 300px;">
                                    <img src="pics/squid/squid-4.png">
                                    <div class="caption">
                                        <h3>框架与业务隔离</h3>
                                        <p>简化开发，避免冲突，框架对于业务无侵入</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-6 col-md-4">
                                <div class="feature-thumbnail" style="height: 300px;">
                                    <img src="pics/squid/squid-4.png">
                                    <div class="caption">
                                        <h3>无侵入扩展</h3>
                                        <p>提供智能化的组件插入机制，动态配置 扩展服务</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="item">
                        <div class="row">
                            <div class="col-xs-6 col-md-4">
                                <div class="feature-thumbnail" style="height: 300px;">
                                    <img src="pics/squid/squid-4.png">
                                    <div class="caption">
                                        <h3>依赖追踪</h3>
                                        <p>实时获取服务间调用依赖关系，消息来去一目了然</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-6 col-md-4">
                                <div class="feature-thumbnail" style="height: 300px;">
                                    <img src="pics/squid/squid-4.png">
                                    <div class="caption">
                                        <h3>丰富的一体化仪表盘</h3>
                                        <p>实时展示各类系统监控数据，并能无缝对接第三方监控系统</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-6 col-md-4">
                                <div class="feature-thumbnail" style="height: 300px;">
                                    <img src="pics/squid/squid-4.png">
                                    <div class="caption">
                                        <h3>自动伸缩扩展</h3>
                                        <p>系统自动扩展容器资源和消息系统分区，轻松应对突发流量</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="item">
                        <div class="row">
                            <div class="col-xs-6 col-md-4">
                                <div class="feature-thumbnail" style="height: 300px;">
                                    <img src="pics/squid/squid-4.png">
                                    <div class="caption">
                                        <h3>高并发高可用</h3>
                                        <p>可靠的服务调度机制确保服务高可用性，异步消息中转机制确保消息无损以及轻松应对高并发</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-6 col-md-4">
                                <div class="feature-thumbnail" style="height: 300px;">
                                    <img src="pics/squid/squid-4.png">
                                    <div class="caption">
                                        <h3>多级弹性服务治理</h3>
                                        <p>针对不同的服务可以配置不同的治理参数，并实时推送生效</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

                <!-- Controls -->


                <a class="left carousel-control" href="#carousel-about" role="button" data-slide="prev"
                   style="margin-top: -52px;">
                    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="right carousel-control" href="#carousel-about" role="button" data-slide="next"
                   style="margin-top: -52px;">
                    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
    </section>

    <section class="feature-mobile" style="width: 100%;">
        <div class="container">
            <h1 style=" font-weight: 300; color: #333;">功能特性</h1>
            <h2>Feature</h2>
            <div class="feature-panel">
                <div class="row">
                    <div class="col-md-12" style="padding:0px 40px">
                        <img src="pics/squid/squid-4.png" style="width: 100%;">
                        <h3>多种服务处理模式</h3>
                        <p>同步模式: 同步编程模式，异步消息处理,灵活控制超时</p>
                        <p>异步模式: 异步回调，编程以及消息处理双异步，降低系统开销</p>
                        <p>无响应模式: 高效发送消息，无需关注响应</p>
                    </div>
                    <div class="col-md-12" style="padding:0px 40px">
                        <img src="pics/squid/squid-4.png" style="width: 100%;">
                        <h3>框架与业务隔离</h3>
                        <p>简化开发，避免冲突，框架对于业务无侵入</p>
                    </div>
                    <div class="col-md-12" style="padding:0px 40px">
                        <img src="pics/squid/squid-4.png" style="width: 100%;">
                        <h3>无侵入扩展</h3>
                        <p>提供智能化的组件插入机制，动态配置 扩展服务</p>
                    </div>
                    <div class="col-md-12" style="padding:0px 40px">
                        <img src="pics/squid/squid-4.png" style="width: 100%;">
                        <h3>多种服务处理模式</h3>
                        <p>同步模式: 同步编程模式，异步消息处理,灵活控制超时</p>
                        <p>异步模式: 异步回调，编程以及消息处理双异步，降低系统开销</p>
                        <p>无响应模式: 高效发送消息，无需关注响应</p>
                    </div>
                    <div class="col-md-12" style="padding:0px 40px">
                        <img src="pics/squid/squid-4.png" style="width: 100%;">
                        <h3>框架与业务隔离</h3>
                        <p>简化开发，避免冲突，框架对于业务无侵入</p>
                    </div>
                    <div class="col-md-12" style="padding:0px 40px">
                        <img src="pics/squid/squid-4.png" style="width: 100%;">
                        <h3>无侵入扩展</h3>
                        <p>提供智能化的组件插入机制，动态配置 扩展服务</p>
                    </div>
                    <div class="col-md-12" style="padding:0px 40px">
                        <img src="pics/squid/squid-4.png" style="width: 100%;">
                        <h3>多种服务处理模式</h3>
                        <p>同步模式: 同步编程模式，异步消息处理,灵活控制超时</p>
                        <p>异步模式: 异步回调，编程以及消息处理双异步，降低系统开销</p>
                        <p>无响应模式: 高效发送消息，无需关注响应</p>
                    </div>
                    <div class="col-md-12" style="padding:0px 40px">
                        <img src="pics/squid/squid-4.png" style="width: 100%;">
                        <h3>框架与业务隔离</h3>
                        <p>简化开发，避免冲突，框架对于业务无侵入</p>
                    </div>
                    <div class="col-md-12" style="padding:0px 40px">
                        <img src="pics/squid/squid-4.png" style="width: 100%;">
                        <h3>无侵入扩展</h3>
                        <p>提供智能化的组件插入机制，动态配置 扩展服务</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section>
        <!-- Modal -->
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">Modal title</h4>
                    </div>
                    <div class="modal-body">
                        <div>
                            <p>Q：是否开源？</p>
                            <p>A：数人云任务调度基于开源基础构建扩展了企业级功能。目前暂不开源，后续是否开源视社区反馈决定。</p>

                            <p>Q：无中心化设计（由任务执行者获取执行计划，并自己触发执行）和集中式调度设计（由一个调度中心统一通过远程调用的方式触发执行者）有什么考虑，更偏向于哪一个？</p>
                            <p>A：数人云任务调度包括控制台都在内都基于无中心化设计，中心控制是ZooKeeper集群。此种设计从分布式角度考虑，避免单点故障。</p>

                            <p>Q：能否详细介绍下并行执行、分片、日志，终端处理的设计实现思路？</p>
                            <p>
                                A：并行基于分片粒度执行，目前支持几种粒度：多机器节点执行、同个节点多个进程执行、同个进程多个线程执行。进程粒度的并行执行基于ZooKeeper进行分布式协调处理。多线程基于Java Executors做线程池调度处理。
                                日志支持写入ZK，同时支持对接LogStash将日志放入ELK。由于任务执行控制都在平台侧，所以平台可以获取拦截日志流，并将日志进行查处记录。Java和消息作业是拦截LogBack，Shell作业基于Apache Commons Exec的LogOutputStream进行进程输出流的拦截。
                            </p>
                            <p>Q：任务积压如何考虑？如何标记任务执行中或执行完成，具体如何实现？</p>
                            <p>
                                A:任务支持超时告警和Kill的配置控制。任务积压时可以对接告警系统，Dashboard也支持显示。当任务开始执行和结束时，会由平台侧将状态写入ZK。
                            </p>
                            <p>Q：选择平台独立调度系统主要基于哪些考虑？支持K8S后会考虑自带的Scheduler吗？另“任务结果收集”是如何实现的？</p>
                            <p>A：任务调度可以立即为容器Scheduler上的另外一层独立调度，而后通过Kubernetes/Marathon等API启动容器，任务结果收集可以考虑ELK方式或对接APM系统。</p>

                            <p>Q：分布式任务系统中，如何根据机器系统负载及当前执行任务列表进行任务动态负载？</p>
                            <p>A：目前做法是给任务设定一个逻辑的负载，在调度的时尽可能做到各个机器的整体负载均衡。</p>

                            <p>Q：若机器挂掉，如何进行有状态任务的故障转移？</p>
                            <p>A: 利用Zookeeper特性，当一台机器掉线后，它上面的作业会被调度到其它机器来完成。</p>

                            <p>Q：任务间可能存在一些依赖，如何解决这些任务间的传递问题？</p>
                            <p>A: 目前通过配置的方式设置任务依赖，当停止、启动作业时会给予提醒。任务间的消息传递可利用消息作业的方式进行。</p>

                            <p>Q：当用户上传的是危险操作，平台如何进行自我保护？</p>
                            <p>A:目前利用容器做隔离，当然也可以通过Chroot的方式将作业运行目录隔离。</p>

                            <p>Q：若任务堵住了Hang 任务进程会表现正常，但实际业务没有处理，如何解决？</p>
                            <p>A：需要平台级别超时控制，超过一定阈值时发送告警，再过一定阀值杀掉任务。</p>

                            <p>Q：消息作业支持哪些平台，消息作业的性能表现如何？</p>
                            <p>A：目前支持Kafka，后续也会支持RabbitMQ。至于性能，内部测试可以达到20W的TPS。机器的配置为Mem:48G，CPU:16C*2.2G。</p>

                            <p>Q：是否支持在容器化的平台运行？</p>
                            <p>A：支持，目前支持发布到Marathon、数人与SWAN、以及Kubernetes平台。</p>

                            <p>Q：开源版本如EJ和Saturn，不支持认证或提供BASIC认证。企业难以使用，如何处理？</p>
                            <p>A：数人云调度平台提供基于角色的标准认证，也支持对接LDAP的方式。</p>

                            <p>Q：针对开源版本，数人云调度平台提供哪些企业级功能？</p>
                            <p>A：提供认证授权、审计、对接Prometheus的Metrics、历史配置与版本恢复。</p>

                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary">Save changes</button>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="other-info">
        <div>
            <button disabled type="button" class="apply"
                    style="width: 196px;background: #00b9df;color: #000;font-size: 16px;height: 50px;"
                    onclick="window.open('https://v.qq.com/x/page/s0520pksvcy.html')">Squid DEMO 更新中...
            </button>
            <p>如有疑问，请拨打咨询电话：<strong>010-64776698</strong></p>
            <!-- Button trigger modal -->
            <!--<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">-->
                <!--焦点访谈-->
            <!--</button>-->
        </div>
    </section>
    <% include '../common_views/footer.html' %>
</div>
<!--<a href="https://github.com/Dataman-Cloud/crane" target="_blank"><img style="position: absolute; top: 0; left: 0; border: 0;" src="./pics/fork-me-on-github.png" alt="Fork me on GitHub" width="120"></a>-->
<% end %>
