<section class="resolve-question">
    <h1>云操作系统能解决哪些问题?</h1>
</section>

<section>
    <div class="container">
        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
          <!-- Indicators -->
          <ol class="carousel-indicators">
            <li data-target="#carousel-example-generic" data-slide-to="0" class="active">1 秒扩容</li>
            <li data-target="#carousel-example-generic" data-slide-to="1">云容器</li>
            <li data-target="#carousel-example-generic" data-slide-to="2">持续集成</li>
            <li data-target="#carousel-example-generic" data-slide-to="3">大数据平台</li>
            <li data-target="#carousel-example-generic" data-slide-to="4">企业应用平台</li>
          </ol>

          <!-- Wrapper for slides -->
          <div class="carousel-inner" role="listbox">
            <div class="item active">
              <img src="..." alt="...">
              <div class="carousel-caption">
                1
              </div>
            </div>
            <div class="item">
              <img src="..." alt="...">
              <div class="carousel-caption">
                2
              </div>
            </div>
            <div class="item">
              <img src="..." alt="...">
              <div class="carousel-caption">
                3
              </div>
            </div>
            <div class="item">
              <img src="..." alt="...">
              <div class="carousel-caption">
                4
              </div>
            </div>
            <div class="item">
              <img src="..." alt="...">
              <div class="carousel-caption">
                5
              </div>
            </div>
            ...
          </div>

          <!-- Controls -->
          <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
    </div>
</section>

<section>
    <div class="container">
        <h1>多环境支持 & 无缝迁移</h1>
        <hr>
        <ul class="row">
            <li class="col-md-4"><img src=""></li>
            <li class="col-md-4"><img src=""></li>
            <li class="col-md-4"><img src=""></li>
            <li class="col-md-4"><img src=""></li>
            <li class="col-md-4"><img src=""></li>
            <li class="col-md-4"><img src=""></li>
            <li class="col-md-4"><img src=""></li>
            <li class="col-md-4"><img src=""></li>
            <li class="col-md-4"><img src=""></li>
        </ul>
    </div>
</section>

<section class="tec-com">
    <div class="container">
        <h1>技术 & 组件</h1>
        <hr>
        <ul class="row">
            <li class="col-md-4">
                <div>
                    <img src="">
                    <h2>Mesos</h2>
                    <p>分布式操作系统内核，也是数人云 DCOS 的核心组件。将整个集群抽象为一个资源池，可像用一台电脑一样管理整个集群资源。</p>
                </div>
            </li>
            <li class="col-md-4">
                <div>
                    <img src="">
                    <h2>Docker</h2>
                    <p>Docker 容器是数人云 DCOS 的核心组件。使用数人云可轻松发布和管理 Docker 容器化应用（包括 Docker Hub 及其他第三方平台上的 Docker 镜像）。</p>
                </div>
            </li>
            <li class="col-md-4">
                <div>
                <img src="">
                <h2>Marathon</h2>
                <p>Mesos的框架之一，DCOS 重要组件。用于发布和管理长期运行的应用。如：web 应用，数据库，微服务应用等。</p>
            </div>
            </li>
            <li class="col-md-4">
                <div>
                <img src="">
                <h2>Chronos</h2>
                <p>一个具备容错特性的作业调度器。用于创建和管理定时任务以及复杂的 ETL 流程。</p>
            </div>
            </li>
            <li class="col-md-4">
                <div>
                <img src="">
                <h2>Jenkins</h2>
                <p>开源的持续集成工具。可帮助企业快速获得持续集成能力，加快产品迭代。</p>
                </div>
            </li>
            <li class="col-md-4">
                <div>
                <img src="">
                <h2>DCOS 仪表盘</h2>
                <p>通过统一界面，管理应用和集群。可随时监控每一个应用，集群，主机的运行健康状态。</p>
                </div>
            </li>
            <li class="col-md-4">
                <div>
                <img src="">
                <h2>DCOS 日志管理</h2>
                <p>统一收集应用和集群主机日志，能够快速查询和检索，帮助企业快速定位问题。</p>
                </div>
            </li>
            <li class="col-md-4">
                <div>
                <img src="">
                <h2>DCOS API</h2>
                <p>提供 API 接口，可与多种第三方应用，或企业自有管理系统对接整合。 在 DCOS 上定制化扩展企业特有功能。</p>
                </div>
            </li>
            <li class="col-md-4">
                <div>
                <img src="">
                <h2>企业应用平台</h2>
                <p>一键部署常用的 Docker 容器化应用，以及 Spark，Hadoop，Kafka，Cassandra 等分布式应用。</p>
                </div>
            </li>
        </ul>
    </div>
</section>

<section class="experience">
    <div class="container">
        <h1>DCOS 和 Mesos 成功经验</h1>
        <hr>
        <ul class="row">
            <li class="col-md-2">
                <a href="#">
                    <em>去哪儿</em>
                    <img src="">
                </a>
            <li>
            <li class="col-md-2">
                <a href="#">
                    <em>Kuick</em>
                    <img src="">
                </a>
            <li>
            <li class="col-md-2">
                <a href="#">
                    <em>普惠金融</em>
                    <img src="">
                </a>
            <li>
            <li class="col-md-2">
                <a href="#">
                    <em>微旋基因</em>
                    <img src="">
                </a>
            <li>
            <li class="col-md-2">
                <a href="#">
                    <em>浙江移动</em>
                    <img src="">
                </a>
            <li>
            <li class="col-md-2">
                <a href="#">
                    <em>某电力</em>
                    <img src="">
                </a>
            <li>
            <li class="col-md-2">
                <a href="#">
                    <em>爱奇艺</em>
                    <img src="">
                </a>
            <li>
            <li class="col-md-2">
                <a href="#">
                    <em>苹果</em>
                    <img src="">
                </a>
            <li>
            <li class="col-md-2">
                <a href="#">
                    <em>Hubspot</em>
                    <img src="">
                </a>
            <li>
            <li class="col-md-2">
                <a href="#">
                    <em>Airbnb</em>
                    <img src="">
                </a>
            <li>
            <li class="col-md-2">
                <a href="#">
                    <em>Twitter</em>
                    <img src="">
                </a>
            <li>
            <li class="col-md-2">
                <a href="#">
                    <em>Verizon</em>
                    <img src="">
                </a>
            <li>
        </ul>
    </div>
</section>