<section class="product-feature">
    <div class="container">
        <ul class="row">
            <li class="col-md-4">
                <div class="media">
                  <div class="media-left">
                      <img class="media-object" src="pics/ico-feature-01.svg" width="100%">
                  </div>
                  <div class="media-body">
                    <h4 class="media-heading">秒级扩容</h4>
                    <p class="media-content">秒级扩展1000个容器实例轻松应对高并发</p>
                  </div>
                </div>
            </li>
            <li class="col-md-4">
                <div class="media">
                  <div class="media-left">
                      <img class="media-object" src="pics/ico-feature-02.svg" width="100%">
                  </div>
                  <div class="media-body">
                    <h4 class="media-heading">混跑多种应用</h4>
                    <p class="media-content">将Docker化容器应用与 Spark 等大数据应用混跑在同一集群提高资源利用率</p>
                  </div>
                </div>
            </li>
            <li class="col-md-4">
                <div class="media">
                  <div class="media-left">
                      <img class="media-object" src="pics/ico-feature-03.svg" width="100%">
                  </div>
                  <div class="media-body">
                    <h4 class="media-heading">支持混合云环境</h4>
                    <p class="media-content">支持公有云，私有云，混合云支持物理机，虚拟机</p>
                  </div>
                </div>
            </li>
            <li class="col-md-4">
                <div class="media">
                  <div class="media-left">
                      <img class="media-object" src="pics/ico-feature-04.svg" width="100%">
                  </div>
                  <div class="media-body">
                    <h4 class="media-heading">一键部署</h4>
                    <p class="media-content">一键部署 Spark, Hadoop 分布式应用</p>
                  </div>
                </div>
            </li>
            <li class="col-md-4">
                <div class="media">
                  <div class="media-left">
                      <img class="media-object" src="pics/ico-feature-05.svg" width="100%">
                  </div>
                  <div class="media-body">
                    <h4 class="media-heading">简化运维</h4>
                    <p class="media-content">统一监控各种应用和集群资源使用情况，简化运维管理</p>
                  </div>
                </div>
            </li>
            <li class="col-md-4">
                <div class="media">
                  <div class="media-left">
                      <img class="media-object" src="pics/ico-feature-06.svg" width="100%">
                  </div>
                  <div class="media-body">
                    <h4 class="media-heading">保障高可用</h4>
                    <p class="media-content">自动迁移故障服务器上的应用实例，保障服务高可用</p>
                  </div>
                </div>
            </li>
        </ul>
        <div class="text-center">
            <a href="#" class="btn btn-primary">
              查看更多 <i class="fa fa-arrow-circle-o-right"></i>
            </a>
        </div>
    </div>
</section>