<% extend "../../common.html" %>
<% block 'keywords': %>数人云,容器,Container,PaaS平台,Docker,SRE,DevOps,微服务,Kubernetes,Squid,Hawk，Swan,Dataman Os,分布式,金融容器云,Octopus,Springcloud,Mesos,容器编排，K8S servicemesh CI/CD 持续集成 持续交付 云原生 CloudNative Microservice 容器云 serverless 应用编排<% end %>
<% block 'description': %>数人云是基于 Mesos 和 Docker 技术的云操作系统，致力于打造最轻量化的PaaS平台，可实现应用的快速发布和弹性扩展。支持混合云管理，实现一站式的微服务架构集群系统，帮助用户快速建立并稳定运维高性能生产环境，解决从客户到云资源的最后一公里。<% end %>
<% block 'title': %>数人云产品 - 基于容器的最轻量化 PaaS 平台<% end %>
<% block 'bodyContent': %>
<% include '../../common_views/nav.html' %>
<div id="product-craner">
    <header class="header-hawk">
        <img src="pics/products/hawk-logo.png">
        <h1>分布式统一配置中心</h1>
        <h2>基于微服务体系理念打造的分布式统一配置中心 <br>企业级互联网架构的核心配置管理员</h2>
        <form style="margin-top: 30px;">
            <footer>
                <a target="_blank" class="banner-btn" href="http://shurenyun.mikecrm.com/IEPkGK">
                    <!--<img class="img-up-down" src="pics/squid/squid-decline.png" width="134px">-->
                    申请试用
                </a>
            </footer>
        </form>

        <footer><i class="fa fa-angle-down fa-up-down"></i></footer>
    </header>

    <section class="summary squid-summary">
        <div class="container"><img src="pics/aa81.png">
            <h2>Characteristic</h2>
            <p>
                <strong>分布式统一配置中心 Hawk</strong><br>
                基于微服务体系理念打造，具有完善的配置管理流程、配置实施推送、支持多集群多环境、多版本控制，更提供配置细粒度的管理如灰度管理、任意版本重置等丰富功能。整个体系兼容Spring Cloud Config以及Kubernetes的Configmap，极大提升业务对平台的耦合，并规范了配置的管理流程。
            </p>
        </div>
    </section>

    <section class="summary hawk-summary">
        <div class="container"><img src="pics/products/hawk-summary.png">
            <h2>Core Problems</h2>
            <p>
                <strong>解决痛点</strong><br>
                数人云Hawk希望把业务开发者从复杂以及繁琐的配置中解脱出来，只需专注于业务代码本身，从而能够显著提升开发以及运维效率。同时将配置和发布包解藕也进一步提升发布的成功率，并为运维的细力度管控、应急处理等提供强有力的支持。
            </p>
        </div>
    </section>

    <section class="index-carousel squid-carousel feature-pc">
        <div class="container" style="width: 100%;">
            <h1 style="font-weight: 300; color: #333">功能特性</h1>
            <h2>Feature</h2>
            <div id="carousel-about" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner" role="listbox">

                    <div class="item active">
                        <div class="row">
                            <div class="col-xs-6 col-md-4">
                                <div class="feature-thumbnail" style="height: 300px;">
                                    <img src="pics/products/hwak-01.png">
                                    <div class="caption">
                                        <h3>配置流程管理</h3>
                                        <p>完善的配置流程管理，确保配置下发前必须获得确认和授权。</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-6 col-md-4">
                                <div class="feature-thumbnail" style="height: 300px;">
                                    <img src="pics/products/hwak-02.png">
                                    <div class="caption">
                                        <h3>认证与授权</h3>
                                        <p>提供LDAP集成，以及多角色权限管理。</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-6 col-md-4">
                                <div class="feature-thumbnail" style="height: 300px;">
                                    <img src="pics/products/hwak-03.png">
                                    <div class="caption">
                                        <h3>支持操作审计</h3>
                                        <p>确保配置操作有据可查。</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="item">
                        <div class="row">
                            <div class="col-xs-6 col-md-4">
                                <div class="feature-thumbnail" style="height: 300px;">
                                    <img src="pics/products/hwak-04.png">
                                    <div class="caption">
                                        <h3>支持多种配置文件</h3>
                                        <p>Spring Cloud Config、Dubbo、Logback、Nginx、Linux Environment、Tomcat.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-6 col-md-4">
                                <div class="feature-thumbnail" style="height: 300px;">
                                    <img src="pics/products/hwak-05.png">
                                    <div class="caption">
                                        <h3>支持Spring Cloud服务治理配置和管控</h3>
                                        <p>支持Spring Cloud自有的Hystrix的微服务治理如熔断、Fallback等等。</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-6 col-md-4">
                                <div class="feature-thumbnail" style="height: 300px;">
                                    <img src="pics/products/hwak-06.png">
                                    <div class="caption">
                                        <h3>无缝集成 Kubernetes 的 Configmap 以及 Secrets</h3>
                                        <p>无缝集成 Kubernetes 的 Configmap 以及 Secrets 的配置管理，并提供增强的企业管理流程。</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="item">
                        <div class="row">
                            <div class="col-xs-6 col-md-4">
                                <div class="feature-thumbnail" style="height: 300px;">
                                    <img src="pics/products/hwak-07.png">
                                    <div class="caption">
                                        <h3>支持配置实时推送以及实时生效</h3>
                                        <p>配置变更能触发应用实时生效，避免应用重启来激活配置，从而降低服务中断的风险。</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-6 col-md-4">
                                <div class="feature-thumbnail" style="height: 300px;">
                                    <img src="pics/products/hwak-08.png">
                                    <div class="caption">
                                        <h3>支持多版本管理</h3>
                                        <p>支持多版本管理，并支持历史版本的激活。</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-6 col-md-4">
                                <div class="feature-thumbnail" style="height: 300px;">
                                    <img src="pics/products/hwak-09.png">
                                    <div class="caption">
                                        <h3>支持多配置集群、多环境配置</h3>
                                        <p>支持多配置集群、多环境配置。</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="item">
                        <div class="row">
                            <div class="col-xs-6 col-md-4">
                                <div class="feature-thumbnail" style="height: 300px;">
                                    <img src="pics/products/hwak-10.png">
                                    <div class="caption">
                                        <h3>优美的监控台</h3>
                                        <p>提供多维度 Dashboard 以及监控视图。支持配置灰度和回滚。</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-6 col-md-4">
                                <div class="feature-thumbnail" style="height: 300px;">
                                    <img src="pics/products/hwak-11.png">
                                    <div class="caption">
                                        <h3>支持数据全局备份和恢复</h3>
                                        <p>进一步提升配置数据的容灾能力。</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-6 col-md-4">
                                <div class="feature-thumbnail" style="height: 300px;">
                                    <img src="pics/products/hwak-12.png">
                                    <div class="caption">
                                        <h3>提供OpenAPI</h3>
                                        <p>支持多系统集成的便利手段、支持配置应急预案处理。</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

                <!-- Controls -->


                <a class="left carousel-control" href="#carousel-about" role="button" data-slide="prev"
                   style="margin-top: -52px;">
                    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="right carousel-control" href="#carousel-about" role="button" data-slide="next"
                   style="margin-top: -52px;">
                    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
    </section>

    <section class="feature-mobile" style="width: 100%;">
        <div class="container">
            <h1 style=" font-weight: 300; color: #333;">功能特性</h1>
            <h2>Feature</h2>
            <div class="feature-panel">
                <div class="row">
                    <div class="col-md-12" style="padding:0px 40px">
                        <img src="pics/products/hwak-01.png">
                        <h3>配置流程管理</h3>
                        <p>完善的配置流程管理，确保配置下发前必须获得确认和授权</p>
                    </div>
                    <div class="col-md-12" style="padding:0px 40px">
                        <img src="pics/products/hwak-02.png">
                        <h3>认证与授权</h3>
                        <p>供LDAP集成，以及多角色权限管理</p>
                    </div>
                    <div class="col-md-12" style="padding:0px 40px">
                        <img src="pics/products/hwak-03.png">
                        <h3>支持操作审计</h3>
                        <p>确保配置操作有据可查</p>
                    </div>
                    <div class="col-md-12" style="padding:0px 40px">
                        <img src="pics/products/hwak-04.png">
                        <h3>支持多种配置文件</h3>
                        <p>Spring Cloud Config、Dubbo、Logback、Nginx、Linux Environment、Tomcat</p>
                    </div>
                    <div class="col-md-12" style="padding:0px 40px">
                        <img src="pics/products/hwak-05.png">
                        <h3>支持Spring Cloud服务治理配置和管控</h3>
                        <p>支持Spring Cloud自有的Hystrix的微服务治理如熔断、Fallback等等。</p>
                    </div>
                    <div class="col-md-12" style="padding:0px 40px">
                        <img src="pics/products/hwak-06.png">
                        <h3>无缝集成 Kubernetes 的 Configmap 以及 Secrets</h3>
                        <p>无缝集成 Kubernetes 的 Configmap 以及 Secrets 的配置管理，并提供增强的企业管理流程。</p>
                    </div>
                    <div class="col-md-12" style="padding:0px 40px">
                        <img src="pics/products/hwak-07.png">
                        <h3>支持配置实时推送以及实时生效</h3>
                        <p>配置变更能触发应用实时生效，避免应用重启来激活配置，从而降低服务中断的风险。</p>
                    </div>
                    <div class="col-md-12" style="padding:0px 40px">
                        <img src="pics/products/hwak-08.png">
                        <h3>支持多版本管理</h3>
                        <p>支持多版本管理，并支持历史版本的激活。</p>
                    </div>
                    <div class="col-md-12" style="padding:0px 40px">
                        <img src="pics/products/hwak-09.png">
                        <h3>支持多配置集群、多环境配置</h3>
                        <p>支持多配置集群、多环境配置。</p>
                    </div>
                    <div class="col-md-12" style="padding:0px 40px">
                        <img src="pics/products/hwak-10.png">
                        <h3>优美的监控台</h3>
                        <p>提供多维度 Dashboard 以及监控视图。支持配置灰度和回滚。</p>
                    </div>
                    <div class="col-md-12" style="padding:0px 40px">
                        <img src="pics/products/hwak-11.png">
                        <h3>支持数据全局备份和恢复</h3>
                        <p>进一步提升配置数据的容灾能力。</p>
                    </div>
                    <div class="col-md-12" style="padding:0px 40px">
                        <img src="pics/products/hwak-12.png">
                        <h3>提供OpenAPI</h3>
                        <p>支持多系统集成的便利手段、支持配置应急预案处理。</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="other-info">
        <div>
            <button disabled type="button" class="apply"
                    style="width: 196px;background: #00b9df;color: #FFF;font-size: 16px;height: 50px;"
                    onclick="window.open('https://v.qq.com/x/page/s0520pksvcy.html')">Hawk Demo更新中……
            </button>
            <p>如有疑问，请拨打咨询电话：<strong>010-64776698</strong></p>
        </div>
    </section>
    <% include '../../common_views/footer.html' %>
</div>
<% end %>
