<div class="login">
    <div class="container">
        <header>
            <a ui-sref="home">
                <img src="pics/logo-shurenyun-ico-black.svg" class="logo">
            </a>
            <h1 data-ng-bind="groupActiveCtrl.resultMessage"></h1>
        </header>

        <div class="content">
            <a class="btn" data-ui-sref="login" id="group-active-btn-login">登录</a>
        </div>

        <div data-ng-include="'/common_views/copy-right-footer.html'" data-include-replace></div>
    </div>
</div>