<% extend "../../common.html" %>
<% block 'keywords': %>数人云，数人科技，容器，Container，容器云，云原生，镜像仓库，容器集群管理，Docker，Docker镜像，Mesos，Marathon，DCOS，PaaS平台，数人云操作系统，灰度发布 ，微服务，服务发现，持续集成，镜像构建，CICD，持续交付 ，DevOps，敏捷开发，自动化，金融容器云，高并发，秒杀，容器编排，docker compose，应用编排，弹性扩缩 弹性伸缩<% end %>
<% block 'description': %>数人云是基于 Mesos 和 Docker 技术的云操作系统，致力于打造最轻量化的PaaS平台，可实现应用的快速发布和弹性扩展。支持混合云管理，实现一站式的微服务架构集群系统，帮助用户快速建立并稳定运维高性能生产环境，解决从客户到云资源的最后一公里。<% end %>
<% block 'title': %>能源解决方案 - 基于容器的最轻量化 PaaS 平台<% end %>
<% block 'bodyContent': %>
<% include '../../common_views/nav.html' %>
<div id="solution-tradition" class="solution">
    <header class="header-solution">
        <div class="container">
            <h1>能源等传统行业</h1>
            <h2>数人云操作系统，是一套极具应用弹性的轻量级 PaaS 平台。可快速搭建基于私有云、混合云的生产环境。帮助传统企业应对互联网业务带来的规模挑战的同时，提高资源利用率，降低运维管理复杂度。</h2>
            <form>
                <a href="http://shurenyun.mikecrm.com/f.php?t=Ekogeg" target="_blank" class="btn btn-primary" id="btn-consult-solution-tradition">
                    免费咨询
                </a>
                <a data-ng-href="{/FRONTEND_URL.register/}" class="btn btn-default"  id="solution-bioinfo-btn-register">
                    立即注册
                </a>
            </form>
        </div>
    </header>
    
    <div class="solution-content">
        <div class="container">
            <div class="row">
                <div class="col-md-9">
                    <article>
                        <h1>需求和挑战</h1>
                        <hr>
                        <p>某国有大型能源企业希望在“互联网+”时代重塑核心竞争力，将传统的资源侧的掌控里转化成对于最终消费者的影响力。渠道上会拓展线上和移动渠道，例如互联网电商或者手机 App。生态圈会集成更多地上下游合作伙伴，同第三方渠道和合作伙伴的系统进行对接。能源企业的传统IT主要支持企业内部的生产和结算等业务系统，面对新的互联网类型应用，<strong>对于运维工作有如下挑战：</strong></p>
                        <ul>
                            <li>难以支持互联网的高并发访问，特别是不可预期的突发性流量。</li>
                            <li>业务上线和迭代周期由年缩短到周，传统测试发布流程难以支撑高频率的发布。</li>
                            <li>互联网新技术层出不穷，运维团队难以快速掌握相关运维技术。</li>
                            <li>服务器数量和业务规模快速增加，运维团队不得不持续扩大规模来维持一定的服务标准。</li>
                            <li>传统业务资源利用率较低，需要提高资源利用率来承载更大规模业务。</li>
                            <li>对于业务支持部门，亟需一种平台化的技术，将业务的规模和底层 IT 基础架构的复杂度解耦，避免业务的爆发造成IT系统无法运维。</li>
                        </ul>
                        <p>互联网行业在多年实践中已经积累了大量云计算实践经验，<strong>但是应用于传统企业环境中有如下问题：</strong></p>
                        <ul>
                            <li>传统企业网络架构比较复杂，需要和 F5 等网络设备对接。</li>
                            <li>传统企业安全要求非常严格，需要符合企业安全规范。</li>
                            <li>传统企业广泛使用 Weblogic 等中间件，需要能够迁移到云端。</li>
                            <li>多租户管理、监控、日志收集和审计等支撑和配套功能完善，需要广泛对接。</li>
                            <li>传统企业首先引入私有部署的私有云环境，同时要能够向公有云延伸。</li>
                        </ul>
                        <h1>数人云解决方案</h1>
                        <hr>
                        <p>数人云作为专注于企业生产环境的 PaaS 产品，可以帮助企业快速搭建基于私有云和混合云环境。首先数人云的提供了如下的功能，将应用运维80%的重复工作自动化和标准化，帮助传统企业应对互联网业务代理的规模挑战。</p>
                        <ul>
                            <li>数人云提供完整易用的持续集成功能。能够实现从代码到运行环境的全自动发布，无需手工编制发布脚本。</li>
                            <li>数人云提供基于容器技术自动弹性扩展功能。在出现瞬间爆发流量的时候，能够快速扩张系统容量，避免服务降级。</li>
                            <li>数人云能够兼容物理机、企业既有私有云（Openstack 或者 VMWare）或者公有云，当然业务向混合云或者公有云延伸的时候，操作方法和负担没有增加。</li>
                        </ul>
                        <p>同时数人云提供了许多线下传统企业需要的企业级特性，例如：</p>
                        <ul>
                            <li>同既有的企业级网络和存储系统对接，并且符合传统安全管理规范。</li>
                            <li>同既有的 Openstack 等私有云方案对接，实现了混合云管理。</li>
                            <li>同企业 LDAP 等系统对接，实现多租户管理；对接了既有的审计、日志和监控系统，提供完整的企业级管控能力。</li>
                            <li>实现了 Weblogic 等传统中间件的上云和云端运维。</li>
                            <li>基于开源技术的自主可控技术，对于代码有完全的掌控能力。</li>
                        </ul>
                        <p>在国有能源企业千万级别自主可控的混合云平台项目中，数人云承担了其 PaaS 平台部分模块，成功地部署网上商城等互联网业务，并且也迁移了部分传统 Java 业务系统。</p>
                    </article>
                </div>
                <% include './solution-nav.html' %>
            </div>
        </div>
    </div>
</div>
<% include '../../common_views/footer.html' %>
<% end %>