<% extend "../../common.html" %>
<% block 'keywords': %>数人云，数人科技，容器，Container，容器云，云原生，镜像仓库，容器集群管理，Docker，Docker镜像，Mesos，Marathon，DCOS，PaaS平台，数人云操作系统，灰度发布 ，微服务，服务发现，持续集成，镜像构建，CICD，持续交付 ，DevOps，敏捷开发，自动化，金融容器云，高并发，秒杀，容器编排，docker compose，应用编排，弹性扩缩 弹性伸缩<% end %>
<% block 'description': %>数人云是基于 Mesos 和 Docker 技术的云操作系统，致力于打造最轻量化的PaaS平台，可实现应用的快速发布和弹性扩展。支持混合云管理，实现一站式的微服务架构集群系统，帮助用户快速建立并稳定运维高性能生产环境，解决从客户到云资源的最后一公里。<% end %>
<% block 'title': %>电商解决方案 - 基于容器的最轻量化 PaaS 平台<% end %>
<% block 'bodyContent': %>
<% include '../../common_views/nav.html' %>
<div id="solution-o2o" class="solution">
    <header class="header-solution">
        <div class="container cloud">
            <h1>电商及 O2O “秒杀”</h1>
            <h2>您负责专注业务，我来搞定“秒杀”后台</h2>
             <form>
                <a href="http://shurenyun.mikecrm.com/IEPkGK" target="_blank" class="btn btn-primary" id="btn-consult-solution-o2o">
                    免费咨询
                </a>
                 
            </form>
        </div>
    </header>

    <div class="solution-content">
        <div class="container">
            <div class="row">
                <div class="col-md-9">
                    <article>
                        <h1>背景和挑战</h1>
                        <hr>
                        <p>
                            客户为全球最大的某行业零售商，于2005年进入中国电商领域。中国区“在线商城”由中国团队开发并运维，挑战主要来自支撑微服务应用，统管架构和业务发展三方面。在线商城用户增长迅速，特别是“双十一”等节日活动高并发访问压力很大。
                        </p>
                        <ul>
                            <li>业务从代码到线上应用速度快，往往按周更新</li>
                            <li>业务增长速度快，需要管理的服务器数量翻倍</li>
                            <li>经常出现突发性流量，例如双11和抢红包活动</li>
                        </ul>
                        <p>
                            为提升系统的扩展性，开发部门在新版商城采用基于Spring Cloud框架，并且进行了微服务化改造。进行服务拆分之后，从架构上具备了通过横向扩展。组件的数量明显增加，造成了一定的运维压力。
                        </p>
                        <p>
                            此外，如何实现资源的弹性供给，充分发挥微服务应用架构的弹性，成为架构改造落地的重点。客户的运维团队要管理基于Openstack和物理机的多个数据中心，希望能够通过平台型工具，实现异构资源的统一管理。作为上市公司，对 IT 安全有严格的审计制度，解决方案必须符合国际水准的 IT 规范。
                        </p>
                        <h1>数人云解决方案</h1>
                        <hr>
                        <p>数人云团队协助客户在启动前进行了充分论证，评估了部署环境（基于物理机还是 IaaS）、应用容器化迁移流程、新的运维职责，日志和 CI/CD 对接等方案。</p>
                        <p>
                            将“网上商城”的主要部分（包括 Spring Cloud 的全部组件，也包括前端使用的 JS 框架）容器化之后，通过数人云进行部署。客户可以对指定的容器化应用（App）进行一键发布、秒级扩缩，并提供宿主机故障自愈（failover）能力，实现了应用运维自动化和计算资源的弹性供给。
                        </p>
                        <p>
                            在客户的主数据中心部署了两套数人云DM/OS和相关的镜像仓库，一套管理开发、测试和预生产环境，另外一套管理物理隔离的生产环境。数人云管理平台和资源池节点分属不同的网络区间，以便符合客户的安全规定。
                        </p>
                        <p>
                            数人云的持续集成和可以自动化构建容器镜像，并且将镜像推送到测试镜像仓库，并且按策略同步到生产环境镜像仓库。
                        </p>
                    </article>
                </div>
                <% include './solution-nav.html' %>
            </div>
        </div>
    </div>
</div>
<% include '../../common_views/footer.html' %>
<% end %>
