<% extend "../../common.html" %>
<% block 'keywords': %>数人云，数人科技，容器，Container，容器云，云原生，镜像仓库，容器集群管理，Docker，Docker镜像，Mesos，Marathon，DCOS，PaaS平台，数人云操作系统，灰度发布 ，微服务，服务发现，持续集成，镜像构建，CICD，持续交付 ，DevOps，敏捷开发，自动化，金融容器云，高并发，秒杀，容器编排，docker compose，应用编排，弹性扩缩 弹性伸缩<% end %>
<% block 'description': %>数人云是基于 Mesos 和 Docker 技术的云操作系统，致力于打造最轻量化的PaaS平台，可实现应用的快速发布和弹性扩展。支持混合云管理，实现一站式的微服务架构集群系统，帮助用户快速建立并稳定运维高性能生产环境，解决从客户到云资源的最后一公里。<% end %>
<% block 'title': %>生物信息解决方案 - 基于容器的最轻量化 PaaS 平台<% end %>
<% block 'bodyContent': %>
<% include '../../common_views/nav.html' %>
<div id="solution-bio" class="solution">
    <header class="header-solution">
        <div class="container">
            <h1>生物信息行业</h1>
            <h2>灵活调整业务，充分利用资源</h2>
            <form>
                <a href="http://shurenyun.mikecrm.com/f.php?t=yfvfA5" target="_blank" class="btn btn-primary" id="btn-consult-solution-bioinfo">
                    免费咨询
                </a>
                <a data-ng-href="{/FRONTEND_URL.register/}" class="btn btn-default"  id="solution-bioinfo-btn-register">
                    立即注册
                </a>
            </form>
        </div>
    </header>
    
    <div class="solution-content">
        <div class="container">
            <div class="row">
                <div class="col-md-9">
                    <article>
                        <h1>需求描述</h1>
                        <hr>
                        <p>某生物信息行业的领军企业在发展中遇到为客户提供 DNA 测序比对服务会消耗大量的计算资源，导致客户激增业务繁忙时只能靠堆加机器来承接而且无法快速扩展，而业务闲暇时又产生巨大的资源浪费。同时在执行客户任务的时候无法多任务并行执行，导致资源利用率不高。</p>
                        <h1>数人云解决方案</h1>
                        <hr>
                        <h3>微服务架构让业务能够灵活调整，可动态伸缩的分布式计算集群提高资源利用率</h3>
                        <p>我们帮助客户从大的，复杂的应用转变为微服务架构。客户部署数人云操作系统后，将现有的资源整合，建立分布式集群，多任务并行执行。面对业务的波峰和低谷，动态伸缩整个计算集群来调整计算能力，极大地提高集群资源利用率。</p>
                        <h1>实施效果</h1>
                        <hr>
                        <p>通过数人云解决方案，使得多任务在同一集群并行执行，节省了大量的计算资源，帮助客户更加灵活地应对业务量的起伏。</p>
                    </article>
                </div>
                <% include './solution-nav.html' %>
            </div>
        </div>
    </div>
</div>
<% include '../../common_views/footer.html' %>
<% end %>