<div class="footer-bg">
    <div class="container">
        <div class="footer-pos">
            <div class="footer-partner">
                <h5>云计算合作伙伴</h5>
                <img src="pics/logo-ucloud.png" height="30">
                <img src="pics/logo-qcloud.png" height="30">
                <img src="pics/logo-aliyun.png" height="30">
                <img src="pics/logo-shouduzaixian.png" height="30">
                <img src="pics/logo-ms.png" height="30">
            </div>
            
            <div class="footer-text">
                <p>
                    <a href="http://blog.dataman-inc.com" target="_blank">博客</a> - 
                    <a href="http://open.shurenyun.com" target="_blank">社区</a> - 
                    <a href="http://www.dataman-inc.com" target="_blank">公司</a> - 
                    <a href="http://doc.shurenyun.com" target="_blank">文档</a> - 
                    <a href="#" data-toggle="modal" data-target="#service-term">服务条款</a>
                    <br>
                    Copyright©2015 北京数人科技有限公司（dataman-inc.com） 京ICP备14058899号-4 版本号：<span id="omegaVersion" title="frontend agent app cluster metrics webpage"></span>
                    <br>
                    +86 10 64776698 info@dataman-inc.com 北京市朝阳区大望京商务园区宏泰东街浦项中心A座806-807 100102
                </p>
            </div>
            <div style=" text-align: center;">
                <div class="footer-logo">
                    <img src="../pics/dataman-logo.png" alt="" height="54">
                </div>
                <div class="qr-weixin">
                    <img src="../pics/qr-winxin.png" alt="" height="54"><br>
                    关注微信
                </div>
                <div class="qr-weixin">
                    <a href="http://weibo.com/p/1006065558261798/home?from=page_100606&mod=TAB#place" title="关注微博" target="_blank"><img src="../pics/qr-weibo.png" alt="" height="54"></a><br>
                    关注微博
                </div>
            </div>
        </div>
    </div>
</div>