<div class="login">
    <div class="container">
        <header>
            <a ui-sref="home"><img src="pics/logo-shurenyun-ico-black.svg" class="logo"></a>
            <h1>找回密码</h1>
        </header>
        <form class="loginForm" name="staticForm" data-ng-submit="forgotPasswordCtrl.sendEmail()">
            <div class="form-group"
                 data-ng-class="{ 'has-error' : (staticForm.email.$invalid && staticForm.email.$dirty) || (staticForm.email.$pristine && staticForm.message_error_info.email)}">
                <input type="email" placeholder="在此输入您的邮箱地址" class="form-control input-single" data-required="required"
                       name="email"
                       ng-model="forgotPasswordCtrl.forgot.email">
                <div class="prompt-box" style="display: block;"
                     data-ng-show="staticForm.email.$error.required && staticForm.email.$dirty">
                    <div class="arrow"></div>
                    <span>请输入邮箱地址</span>
                </div>
                <div class="prompt-box" style="display: block;"
                     data-ng-show="staticForm.email.$error.email && staticForm.email.$dirty">
                    <div class="arrow"></div>
                    <span>邮箱格式有误</span>
                </div>
                <div class="prompt-box" style="display: block;"
                     data-ng-show="staticForm.email.$pristine && staticForm.message_error_info.email">
                    <div class="arrow"></div>
                    <span>{/ staticForm.message_error_info.email /}</span>
                </div>
            <span class="ico" data-ng-show="staticForm.email.$invalid && staticForm.email.$dirty"><i
                    class="fa fa-exclamation-circle"></i></span>
            </div>

            <div class="form-group">
                <button class="btn btn-block" type="submit" data-ng-disabled="staticForm.$invalid">找回</button>
            </div>
        </form>
        <div data-ng-include="'/common_views/copy-right-footer.html'" data-include-replace></div>
    </div>
</div>
