<div class="login" data-ng-show="resetPasswordCtrl.valid">
    <div class="container">
        <header>
            <a ui-sref="home"><img src="pics/logo-shurenyun-ico-black.svg" class="logo"></a>
            <h1>修改密码</h1>
        </header>
        <form class="loginForm" name="staticForm" data-ng-submit="resetPasswordCtrl.sendPassword()">
            <div class="form-group"
                 data-ng-class="{ 'has-error' : staticForm.password.$invalid && staticForm.password.$dirty}">
                <input type="password" placeholder="在此输入您的新密码" class="form-control input-first" data-required="required"
                       ng-model="resetPasswordCtrl.resetData.new_password" data-regex-validator
                       name="password">
                <div class="prompt-box" style="display: block;"
                     data-ng-show="staticForm.password.$error.required && staticForm.password.$dirty">
                    <div class="arrow"></div>
                    <span>请输入密码</span>
                </div>
                <div class="prompt-box" style="display: block;"
                     data-ng-show="staticForm.password.$error.regexValidator && staticForm.password.$dirty">
                    <div class="arrow"></div>
                    <span>密码只能包含英文字母、数字、标点符号且必须包含大写字母，长度为8-16位。</span>
                </div>
            <span class="ico" data-ng-show="staticForm.password.$invalid && staticForm.password.$dirty"><i
                    class="fa fa-exclamation-circle"></i></span>
            </div>

            <div class="form-group"
                 data-ng-class="{ 'has-error' : staticForm.rePassword.$invalid && staticForm.rePassword.$dirty}">
                <input type="password" placeholder="请再输入一遍" class="form-control input-last" data-required="required"
                       name="rePassword" ng-model="resetPasswordCtrl.resetData.new_password_compare"
                       data-dm-no-equal="resetPasswordCtrl.resetData.new_password">
                <div class="prompt-box" style="display: block;"
                     data-ng-show="staticForm.rePassword.$error.required && staticForm.rePassword.$dirty">
                    <div class="arrow"></div>
                    <span>再次输入密码</span>
                </div>
                <div class="prompt-box" style="display: block;"
                     data-ng-show="staticForm.rePassword.$error.checkrepeat && staticForm.rePassword.$dirty">
                    <div class="arrow"></div>
                    <span>密码不一致</span>
                </div>
            <span class="ico" data-ng-show="staticForm.rePassword.$invalid && staticForm.rePassword.$dirty"><i
                    class="fa fa-exclamation-circle"></i></span>
            </div>

            <div class="form-group">
                <button class="btn btn-block" type="submit" data-ng-disabled="staticForm.$invalid">修改</button>
            </div>
        </form>
        <div data-ng-include="'/common_views/copy-right-footer.html'" data-include-replace></div>
    </div>
</div>

<div class="login" data-ng-show="resetPasswordCtrl.valid===false">
    <div class="container">
        <header>
            <a ui-sref="home"><img src="pics/logo-shurenyun-ico-black.svg" class="logo"></a>
            <h1>无效的密码重置链接</h1>
        </header>
        <div data-ng-include="'/common_views/copy-right-footer.html'" data-include-replace></div>
    </div>
</div>