<div class="main-container" style="margin-left: 15%; margin-right: 15%">
    <div class="main-container-body">
        <form class="form-horizontal" name="staticForm" data-ng-submit="resetPasswordCtrl.sendPassword()">
            <div class="form-group"
                 data-ng-class="{ 'has-error' : staticForm.password.$invalid && staticForm.password.$dirty}">
                <input type="password" class="form-control" data-required="required" placeholder="请输入新密码"
                       name="password"
                       ng-model="resetPasswordCtrl.resetData.new_password">
                <p data-ng-show="staticForm.password.$error.required && staticForm.password.$dirty"
                   class="help-block">密码不能为空</p>
                <p data-ng-show="staticForm.password.$error.regexValidator && staticForm.password.$dirty"
                   class="help-block">密码只能包含英文字母、数字、标点符号且必须包含大写字母，长度为8-16位。</p>
            </div>

            <div class="form-group"
                 data-ng-class="{ 'has-error' : staticForm.rePassword.$invalid && staticForm.rePassword.$dirty}">
                <input type="password" class="form-control" data-required="required" placeholder="再次确认密码"
                       name="rePassword"
                       ng-model="resetPasswordCtrl.resetData.new_password_compare" check-repeat
                       check-data="resetPasswordCtrl.resetData.new_password">
                <p data-ng-show="staticForm.rePassword.$error.required && staticForm.rePassword.$dirty"
                   class="help-block">密码不能为空</p>
                <p data-ng-show="staticForm.rePassword.$error.checkrepeat && staticForm.rePassword.$dirty"
                   class="help-block">密码不一致</p>
            </div>

            <div class="form-group">
                <button type="submit" class="btn btn-primary btn-block" data-ng-disabled="staticForm.$invalid">重置密码
                </button>
            </div>
        </form>
    </div>
</div>