<% extend "../../common.html" %>
<% block 'keywords': %>数人云，数人科技，容器，Container，容器云，云原生，镜像仓库，容器集群管理，Docker，Docker镜像，Mesos，Marathon，DCOS，PaaS平台，数人云操作系统，灰度发布 ，微服务，服务发现，持续集成，镜像构建，CICD，持续交付 ，DevOps，敏捷开发，自动化，金融容器云，高并发，秒杀，容器编排，docker compose，应用编排，弹性扩缩 弹性伸缩<% end %>
<% block 'description': %>数人云是基于 Mesos 和 Docker 技术的云操作系统，致力于打造最轻量化的PaaS平台，可实现应用的快速发布和弹性扩展。支持混合云管理，实现一站式的微服务架构集群系统，帮助用户快速建立并稳定运维高性能生产环境，解决从客户到云资源的最后一公里。<% end %>
<% block 'title': %>会议 - 基于容器的最轻量化 PaaS 平台<% end %>
<% block 'bodyContent': %>
<% include '../../common_views/nav.html' %>
<div id="about-activity">
    <header class="header-about">
        <div class="container">
            <h1 class="title">会议</h1>
            <div id="carousel-about" class="carousel slide" data-ride="carousel">
                <!-- Indicators -->
                <ol class="carousel-indicators">
                    <li data-target="#carousel-about" data-slide-to="0" class="active"></li>
                    <li data-target="#carousel-about" data-slide-to="1"></li>
                    <li data-target="#carousel-about" data-slide-to="2"></li>
                </ol>

                <!-- Wrapper for slides -->
                <div class="carousel-inner" role="listbox">
                    <div class="item active">
                        <div class="row">
                            <div class="col-md-6 left-img">
                                <a href="#">
                                    <img src="/pics/about-img.jpg" alt="PPT| 分析数人云百万并发背后的架构实践">
                                </a>
                            </div>
                            <div class="col-md-6">
                                <a href="#" class="carousel-title">PPT| 分析数人云百万并发背后的架构实践</a>
                                <div class="carousel-desc">相对于Adobe Photoshop来说Pixelmator 是一款轻量级修图软件，
                                    干净整洁的界面易于操作，
                                    界面清爽，布局灵活，熟悉 Photoshop 的人可迅速上手。
                                    软件建立在一些开源和 Mac OS X 图形技术之上，可调用 Mac 图形加速。
                                    使用起来在界面交互和流畅感上均优于 Photoshop，且与 Mac 自带程序整合不错。
                                </div>
                                <div class="carousel-footer">28, March 2016 on 数人云动态</div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="row">
                            <div class="col-md-6 left-img">
                                <a href="#">
                                    <img src="/pics/about-img.jpg" alt="PPT| 分析数人云百万并发背后的架构实践">
                                </a>
                            </div>
                            <div class="col-md-6">
                                <a href="#" class="carousel-title">PPT| 分析数人云百万并发背后的架构实践</a>
                                <div class="carousel-desc">相对于Adobe Photoshop来说Pixelmator 是一款轻量级修图软件，
                                    干净整洁的界面易于操作，
                                    界面清爽，布局灵活，熟悉 Photoshop 的人可迅速上手。
                                    软件建立在一些开源和 Mac OS X 图形技术之上，可调用 Mac 图形加速。
                                    使用起来在界面交互和流畅感上均优于 Photoshop，且与 Mac 自带程序整合不错。
                                </div>
                                <div class="carousel-footer">28, March 2016 on 数人云动态</div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="row">
                            <div class="col-md-6 left-img">
                                <a href="#">
                                    <img src="/pics/about-img.jpg" alt="PPT| 分析数人云百万并发背后的架构实践">
                                </a>
                            </div>
                            <div class="col-md-6">
                                <a href="#" class="carousel-title">PPT| 分析数人云百万并发背后的架构实践</a>
                                <div class="carousel-desc">相对于Adobe Photoshop来说Pixelmator 是一款轻量级修图软件，
                                    干净整洁的界面易于操作，
                                    界面清爽，布局灵活，熟悉 Photoshop 的人可迅速上手。
                                    软件建立在一些开源和 Mac OS X 图形技术之上，可调用 Mac 图形加速。
                                    使用起来在界面交互和流畅感上均优于 Photoshop，且与 Mac 自带程序整合不错。
                                </div>
                                <div class="carousel-footer">28, March 2016 on 数人云动态</div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Controls -->
                <a class="left carousel-control" href="#carousel-about" role="button" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="right carousel-control" href="#carousel-about" role="button" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
    </header>

    <div class="about-content">
        <div class="container">
            <div class="panel panel-default">
                <div class="panel-body row multi-content">
                    <div class="col-md-3 left-img">
                        <a href="#"><img src="/pics/about-img.jpg" alt></a>
                    </div>
                    <div class="col-md-9">
                        <div class="plus-title">KVM线上群分享</div>
                        <div class="sub-content">
                            <a href="#" class="sub-title">PPT| 分析数人云百万并发背后的架构实践</a>
                            <div class="sub-footer">28, March 2016 on 数人云动态</div>
                        </div>
                        <div class="sub-content">
                            <a href="#" class="sub-title">PPT| 分析数人云百万并发背后的架构实践</a>
                            <div class="sub-footer">28, March 2016 on 数人云动态</div>
                        </div>
                        <div class="sub-content">
                            <a href="#" class="sub-title">PPT| 分析数人云百万并发背后的架构实践</a>
                            <div class="sub-footer">28, March 2016 on 数人云动态</div>
                        </div>
                        <div class="sub-content">
                            <a href="#" class="sub-title">PPT| 分析数人云百万并发背后的架构实践</a>
                            <div class="sub-footer">28, March 2016 on 数人云动态</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-body row multi-content">
                    <div class="col-md-3 left-img">
                        <a href="#"><img src="/pics/about-img.jpg" alt></a>
                    </div>
                    <div class="col-md-9">
                        <div class="plus-title">KVM线上群分享</div>
                        <div class="sub-content">
                            <a href="#" class="sub-title">PPT| 分析数人云百万并发背后的架构实践</a>
                            <div class="sub-footer">28, March 2016 on 数人云动态</div>
                        </div>
                        <div class="sub-content">
                            <a href="#" class="sub-title">PPT| 分析数人云百万并发背后的架构实践</a>
                            <div class="sub-footer">28, March 2016 on 数人云动态</div>
                        </div>
                        <div class="sub-content">
                            <a href="#" class="sub-title">PPT| 分析数人云百万并发背后的架构实践</a>
                            <div class="sub-footer">28, March 2016 on 数人云动态</div>
                        </div>
                        <div class="sub-content">
                            <a href="#" class="sub-title">PPT| 分析数人云百万并发背后的架构实践</a>
                            <div class="sub-footer">28, March 2016 on 数人云动态</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-body row multi-content">
                    <div class="col-md-3 left-img">
                        <a href="#"><img src="/pics/about-img.jpg" alt></a>
                    </div>
                    <div class="col-md-9">
                        <div class="plus-title">KVM线上群分享</div>
                        <div class="sub-content">
                            <a href="#" class="sub-title">PPT| 分析数人云百万并发背后的架构实践</a>
                            <div class="sub-footer">28, March 2016 on 数人云动态</div>
                        </div>
                        <div class="sub-content">
                            <a href="#" class="sub-title">PPT| 分析数人云百万并发背后的架构实践</a>
                            <div class="sub-footer">28, March 2016 on 数人云动态</div>
                        </div>
                        <div class="sub-content">
                            <a href="#" class="sub-title">PPT| 分析数人云百万并发背后的架构实践</a>
                            <div class="sub-footer">28, March 2016 on 数人云动态</div>
                        </div>
                        <div class="sub-content">
                            <a href="#" class="sub-title">PPT| 分析数人云百万并发背后的架构实践</a>
                            <div class="sub-footer">28, March 2016 on 数人云动态</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-body row multi-content">
                    <div class="col-md-3 left-img">
                        <a href="#"><img src="/pics/about-img.jpg" alt></a>
                    </div>
                    <div class="col-md-9">
                        <div class="plus-title">KVM线上群分享</div>
                        <div class="sub-content">
                            <a href="#" class="sub-title">PPT| 分析数人云百万并发背后的架构实践</a>
                            <div class="sub-footer">28, March 2016 on 数人云动态</div>
                        </div>
                        <div class="sub-content">
                            <a href="#" class="sub-title">PPT| 分析数人云百万并发背后的架构实践</a>
                            <div class="sub-footer">28, March 2016 on 数人云动态</div>
                        </div>
                        <div class="sub-content">
                            <a href="#" class="sub-title">PPT| 分析数人云百万并发背后的架构实践</a>
                            <div class="sub-footer">28, March 2016 on 数人云动态</div>
                        </div>
                        <div class="sub-content">
                            <a href="#" class="sub-title">PPT| 分析数人云百万并发背后的架构实践</a>
                            <div class="sub-footer">28, March 2016 on 数人云动态</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-body row multi-content">
                    <div class="col-md-3 left-img">
                        <a href="#"><img src="/pics/about-img.jpg" alt></a>
                    </div>
                    <div class="col-md-9">
                        <div class="plus-title">KVM线上群分享</div>
                        <div class="sub-content">
                            <a href="#" class="sub-title">PPT| 分析数人云百万并发背后的架构实践</a>
                            <div class="sub-footer">28, March 2016 on 数人云动态</div>
                        </div>
                        <div class="sub-content">
                            <a href="#" class="sub-title">PPT| 分析数人云百万并发背后的架构实践</a>
                            <div class="sub-footer">28, March 2016 on 数人云动态</div>
                        </div>
                        <div class="sub-content">
                            <a href="#" class="sub-title">PPT| 分析数人云百万并发背后的架构实践</a>
                            <div class="sub-footer">28, March 2016 on 数人云动态</div>
                        </div>
                        <div class="sub-content">
                            <a href="#" class="sub-title">PPT| 分析数人云百万并发背后的架构实践</a>
                            <div class="sub-footer">28, March 2016 on 数人云动态</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-body row multi-content">
                    <div class="col-md-3 left-img">
                        <a href="#"><img src="/pics/about-img.jpg" alt></a>
                    </div>
                    <div class="col-md-9">
                        <div class="plus-title">KVM线上群分享</div>
                        <div class="sub-content">
                            <a href="#" class="sub-title">PPT| 分析数人云百万并发背后的架构实践</a>
                            <div class="sub-footer">28, March 2016 on 数人云动态</div>
                        </div>
                        <div class="sub-content">
                            <a href="#" class="sub-title">PPT| 分析数人云百万并发背后的架构实践</a>
                            <div class="sub-footer">28, March 2016 on 数人云动态</div>
                        </div>
                        <div class="sub-content">
                            <a href="#" class="sub-title">PPT| 分析数人云百万并发背后的架构实践</a>
                            <div class="sub-footer">28, March 2016 on 数人云动态</div>
                        </div>
                        <div class="sub-content">
                            <a href="#" class="sub-title">PPT| 分析数人云百万并发背后的架构实践</a>
                            <div class="sub-footer">28, March 2016 on 数人云动态</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-body row multi-content">
                    <div class="col-md-3 left-img">
                        <a href="#"><img src="/pics/about-img.jpg" alt></a>
                    </div>
                    <div class="col-md-9">
                        <div class="plus-title">KVM线上群分享</div>
                        <div class="sub-content">
                            <a href="#" class="sub-title">PPT| 分析数人云百万并发背后的架构实践</a>
                            <div class="sub-footer">28, March 2016 on 数人云动态</div>
                        </div>
                        <div class="sub-content">
                            <a href="#" class="sub-title">PPT| 分析数人云百万并发背后的架构实践</a>
                            <div class="sub-footer">28, March 2016 on 数人云动态</div>
                        </div>
                        <div class="sub-content">
                            <a href="#" class="sub-title">PPT| 分析数人云百万并发背后的架构实践</a>
                            <div class="sub-footer">28, March 2016 on 数人云动态</div>
                        </div>
                        <div class="sub-content">
                            <a href="#" class="sub-title">PPT| 分析数人云百万并发背后的架构实践</a>
                            <div class="sub-footer">28, March 2016 on 数人云动态</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="more"><a href="#">查看更多 >></a></div>
    </div>
</div>
<% include '../../common_views/footer.html' %>
<% end %>