<% extend "../../common.html" %>
<% block 'keywords': %>数人云，数人科技，容器，Container，容器云，云原生，镜像仓库，容器集群管理，Docker，Docker镜像，Mesos，Marathon，DCOS，PaaS平台，数人云操作系统，灰度发布 ，微服务，服务发现，持续集成，镜像构建，CICD，持续交付 ，DevOps，敏捷开发，自动化，金融容器云，高并发，秒杀，容器编排，docker compose，应用编排，弹性扩缩 弹性伸缩<% end %>
<% block 'description': %>数人云是基于 Mesos 和 Docker 技术的云操作系统，致力于打造最轻量化的PaaS平台，可实现应用的快速发布和弹性扩展。支持混合云管理，实现一站式的微服务架构集群系统，帮助用户快速建立并稳定运维高性能生产环境，解决从客户到云资源的最后一公里。<% end %>
<% block 'title': %>新闻报道 - 基于容器的最轻量化 PaaS 平台<% end %>
<% block 'bodyContent': %>
<% include '../../common_views/nav.html' %>
<div id="about-activity">
    <header class="header-about">
        <div class="container">
            <h1 class="title">媒体报道</h1>
            <div id="carousel-about" class="carousel slide" data-ride="carousel">
                <!-- Indicators -->
                <ol class="carousel-indicators">
                    <li data-target="#carousel-about" data-slide-to="0" class="active"></li>
                    <li data-target="#carousel-about" data-slide-to="1"></li>
                    <li data-target="#carousel-about" data-slide-to="2"></li>
                    <li data-target="#carousel-about" data-slide-to="3"></li>
                    <li data-target="#carousel-about" data-slide-to="4"></li>
                    <li data-target="#carousel-about" data-slide-to="5"></li>

                </ol>

                <!-- Wrapper for slides -->
                <div class="carousel-inner" role="listbox">
                    <div class="item active">
                        <div class="row">
                            <div class="col-md-6 left-img">
                                <a target="_blank" href="http://cloud.it168.com/a2016/0801/2826/000002826452.shtml">
                                    <img src="https://github.com/Dataman-Cloud/webpage/blob/master/pics/about-news-01.jpg?raw=true" alt="数人云:3年内Docker将在传统业大肆盛行">
                                </a>
                            </div>
                            <div class="col-md-6">
                                <a target="_blank"href="http://cloud.it168.com/a2016/0801/2826/000002826452.shtml" class="carousel-title">数人云:3 年内 Docker 将在传统业大肆盛行</a>
                                <div class="carousel-desc">2013，Docker横空出世，2014，Docker 大肆兴起，2015，Docker 野蛮扩张，2016，Docker 积聚力量。在过去的三年中，以 Docker 为代表的容器技术以其轻量化、快速和可移植性备受关注，它的出现让容器技术进入到了发展的快车道，取得了令人瞩目的成功。据 Docker 官方公布的最新数据显示...
                                </div>
                                <div class="carousel-footer">2016/8/2 来源:IT168</div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="row">
                            <div class="col-md-6 left-img">
                                <a target="_blank"href="http://mp.weixin.qq.com/s?__biz=MzAxNjI0MzQ2OQ==&mid=2651155637&idx=1&sn=c9b097c2590e4a54aa1c096603ad34ea&scene=1&srcid=06122e9EKhvStqlQqG69jiLP#rd">
                                    <img src="https://github.com/Dataman-Cloud/webpage/blob/master/pics/about-news-02.jpg?raw=true" alt="云计算新十年大考：Docker企业云操作系统">
                                </a>
                            </div>
                            <div class="col-md-6">
                                <a target="_blank" href="http://mp.weixin.qq.com/s?__biz=MzAxNjI0MzQ2OQ==&mid=2651155637&idx=1&sn=c9b097c2590e4a54aa1c096603ad34ea&scene=1&srcid=06122e9EKhvStqlQqG69jiLP#rd" class="carousel-title">云计算新十年大考：Docker 企业云操作系统</a>
                                <div class="carousel-desc">对于云计算来说，2016 年是承上启下之年，这一年是AWS亚马逊云推出十周年，也是谷歌首提“云计算”十周年。过去的十年里，云计算经历了从0到1的生死大考。如今，AWS已经年营收达78.8亿美金，Wikibon预测全球公有云市场将在 2026 年达 4930 亿美元。在过去十年间，云计算技术经历了从模糊...
                                </div>
                                <div class="carousel-footer">2016/6/12 来源:云科技时代 </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="row">
                            <div class="col-md-6 left-img">
                                <a target="_blank" href="http://tech.163.com/16/0607/00/BOTS4F1Q00097U7T.html">
                                    <img src="http://pic.doit.com.cn/2016/05/d41d8cd98f00b204e98012.png" alt="数人云 CEO王璞：容器正成为软件交付的标准">
                                </a>
                            </div>
                            <div class="col-md-6">
                                <a target="_blank" href="http://tech.163.com/16/0607/00/BOTS4F1Q00097U7T.html" class="carousel-title">数人云 CEO王璞：容器正成为软件交付的标准</a>
                                <div class="carousel-desc">2014 年 Docker 技术逐步兴起，大量围绕 Docker 的创业公司以及诸多开源软件项目涌现。如今，容器技术的生态圈渐成气候，此领域的新技术已呈井喷之态。技术的迭代同时，Docker在资本市场的斩获也是捷报频传。以2014年下半年产生的五六家的容器创业公司为例，竟然都出乎意料地都活到了现在，并且...
                                </div>
                                <div class="carousel-footer">2016/6/7  来源:网易科技</div>
                            </div>
                        </div>
                    </div><div class="item">
                    <div class="row">
                        <div class="col-md-6 left-img">
                            <a target="_blank" href="http://tech.caijing.com.cn/20160602/4128014.shtml?utm_source=tuicool&utm_medium=referral">
                                <img src="https://github.com/Dataman-Cloud/webpage/blob/master/pics/about-news-04.jpg?raw=true" alt="致力消灭主机概念的数人云能否在Docker世界领先一步？">
                            </a>
                        </div>
                        <div class="col-md-6">
                            <a target="_blank" href="http://tech.caijing.com.cn/20160602/4128014.shtml?utm_source=tuicool&utm_medium=referral" class="carousel-title">致力消灭主机概念的数人云能否在Docker世界领先一步？</a>
                            <div class="carousel-desc">近年来，随着Docker技术在国内推广的日益活跃，诸多的创业者将目光聚焦于这一领域。这其中就包括原 Google 架构师王璞博士。2014年，他基于 Docker 等技术正式创立数人云，致力于打造下一代轻量级PaaS平台，将应用弹性做到极致。而这一公司的核心团队则来自于 Google、RedHat 和 HP。自...
                </div>
                    <div class="carousel-footer">2016/6/2  来源:财经科技</div>
                </div>
            </div>
        </div>
                    <div class="item">
                        <div class="row">
                            <div class="col-md-6 left-img">
                                <a target="_blank" href="http://mp.weixin.qq.com/s?__biz=MzA5MzE4OTIwMQ==&mid=2652066738&idx=1&sn=8fa970366a35bf923500e0238dd513fc&scene=1&srcid=0531j6qK40o15kyAU6NIfm5H#rd">
                                    <img src="https://github.com/Dataman-Cloud/webpage/blob/master/pics/about-news-o3.jpg?raw=true" alt="Docker 崛起，数人云能否引爆容器定义世界的热潮？">
                                </a>
                            </div>
                            <div class="col-md-6">
                                <a target="_blank" href="http://mp.weixin.qq.com/s?__biz=MzA5MzE4OTIwMQ==&mid=2652066738&idx=1&sn=8fa970366a35bf923500e0238dd513fc&scene=1&srcid=0531j6qK40o15kyAU6NIfm5H#rd"class="carousel-title">Docker崛起，数人云能否引爆容器定义世界的热潮？</a>
                                <div class="carousel-desc">众所周知，从 2014 年开始，Docker 以位于操作系统之上的轻量级虚拟化方案和类似于版本管理的镜像管理模式，把云计算从早间的 IaaS 资源交付模式向 PaaS 推进了一大步，越来越多的云服务提供商也开始提供更加灵活可控的 PaaS 服务，Docker 在开发者中也大有取虚拟化而代之之势。在中国，基于...
                                </div>
                                <div class="carousel-footer">2016/5/31  来源:申耀的科技观察</div>
                            </div>
                        </div>
                    </div>



                    <div class="item">
                        <div class="row">
                            <div class="col-md-6 left-img">
                                <a target="_blank" href="http://geek.csdn.net/news/detail/77374?utm_source=tuicool&utm_medium=referral">
                                    <img src="http://blog.dataman-inc.com/content/images/2016/05/IMG_9153-1.JPG" alt="容器定义世界？数人云操作系统再增三项开源支持">
                                </a>
                            </div>
                            <div class="col-md-6">
                                <a target="_blank" href="http://geek.csdn.net/news/detail/77374?utm_source=tuicool&utm_medium=referral" class="carousel-title">容器定义世界？数人云操作系统再增三项开源支持</a>
                                <div class="carousel-desc">章文嵩博士从阿里云离职加入滴滴，有人认为这意味着阿里开源时代的结束（阿里的工程师并不这么认为），那是否也可以说滴滴要进入一个新的开源时代？事实上，开源技术影响的不仅仅是大型互联网公司，也包括企业级应用开发工作——当然，这离不开一些团队在努力提升开源技术应用在企业级生产环境中...
                                </div>
                                <div class="carousel-footer">2016/5/30 来源:CSDN</div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Controls -->
                <a class="left carousel-control" href="#carousel-about" role="button" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="right carousel-control" href="#carousel-about" role="button" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
    </header>

    <div class="about-content">

        <div class="container">







            <div class="panel panel-default">
                <div class="panel-body multi-content">
                    <a target="_blank" href="http://www.cctime.com/html/2016-8-24/1210553.htm" class="content-title">易观盘点2016年国内云生态 数人云积极打造容器PaaS生态圈</a>
                    <div class="content-footer">2016/8/24  来源:飞象网</div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-body multi-content">
                    <a target="_blank" href="http://www.cctime.com/html/2016-8-22/1209322.htm" class="content-title">数人云出席中国开源云联盟容器技术及其应用白皮书启动会</a>
                    <div class="content-footer">2016/8/22  来源:飞象网</div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-body multi-content">
                    <a target="_blank" href="http://www.cctime.com/html/2016-8-16/1207610.htm" class="content-title">数人云入选投中产业榜最佳信息技术投资案例TOP10</a>
                    <div class="content-footer">2016/8/16  来源:飞象网</div>
                </div>
            </div>




         <div class="panel panel-default">
                <div class="panel-body multi-content">
                    <a target="_blank" href="http://www.cctime.com/html/2016-8-8/1204110.htm" class="content-title">王璞入选快公司2016中国商业最具创意人物100榜单
                    </a>
                    <div class="content-footer">2016/8/8  来源:飞象网</div>
                </div>
            </div>
            <div class="panel panel-default">
            <div class="panel-body multi-content">
                <a target="_blank" href="http://www.cctime.com/html/2016-8-2/1202199.htm" class="content-title">数人云举办金融沙龙 探讨容器最佳实践</a>
                <div class="content-footer">2016/8/2  来源:飞象网</div>
            </div>
        </div>

            <div class="panel panel-default">
            <div class="panel-body multi-content">
                <a target="_blank" href="http://cloud.chinabyte.com/131/13845131.shtml" class="content-title">数人云举办中国开源云联盟容器工作组首次沙龙</a>
                <div class="content-footer">2016/7/26  来源:比特网</div>
            </div>
        </div>


            <div class="panel panel-default">
                <div class="panel-body multi-content">
                    <a target="_blank" href="http://www.cctime.com/html/2016-7-25/1198601.htm" class="content-title">数人云助力银行业应对“十三五”发展新机遇</a>
                    <div class="content-footer">2016/7/25  来源:飞象网</div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-body multi-content">
                    <a target="_blank" href="http://news.chinabyte.com/486/13829986.shtml" class="content-title">数人云出席中国开源云联盟容器工作组第一次会议</a>
                    <div class="content-footer">2016/7/8  来源:比特网</div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-body multi-content">
                    <a target="_blank" href="http://www.cniteyes.com/archives/20991" class="content-title">数人云肖徳时：国内 Docker 公司面临洗牌，盈利出路何在？｜系列</a>
                    <div class="content-footer">2016/7/4  来源:T客汇</div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-body multi-content">
                    <a target="_blank" href="http://cloud.it168.com/a2016/0704/2762/000002762845.shtml" class="content-title">数人云入选 2016 年度未来之星百强企业</a>
                    <div class="content-footer">2016/7/4  来源:IT168</div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-body multi-content">
                    <a target="_blank" href="http://mp.weixin.qq.com/s?__biz=MzA5Nzc4OTA1Mw==&mid=2659597608&idx=1&sn=433916db50f0965029c8ce99a36d2014&scene=1&srcid=0706dQodwW90koTWaT36DUJj" class="content-title">前Google工程师谈分布式系统的特点以及设计理念</a>
                    <div class="content-footer">2016/6/30  来源:聊聊架构</div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-body multi-content">
                    <a target="_blank" href="http://geek.csdn.net/news/detail/84252" class="content-title">如何做好持续集成——Jenkins on Mesos 实践</a>
                    <div class="content-footer">2016/6/27  来源:CSDN</div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-body multi-content">
                    <a target="_blank" href="http://mp.weixin.qq.com/s?__biz=MzA3OTM0NTQwMw==&mid=2649913321&idx=2&sn=25f04ef9bae95178dde842dd50da015e&scene=1&srcid=0622Oautm9C5TNtOE3MdhJNV" class="content-title">独家 | Docker火了 新一代PaaS机会在哪？</a>
                    <div class="content-footer">2016/6/22  来源:软件 IC 圈</div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-body multi-content">
                    <a target="_blank" href="http://news.chinabyte.com/166/13813666.shtml" class="content-title">数人云入选 2016 年中国最佳创业服务商 100 强</a>
                    <div class="content-footer">2016/6/21 来源:比特网</div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-body multi-content">
                    <a target="_blank" href="http://www.ciw.com.cn/h/2562/407951-17604.html" class="content-title">助力企业将 Docker 快速落地 数人云发布操作系统2.0</a>
                    <div class="content-footer">2016/6/20  来源:中国计算机报</div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-body multi-content">
                    <a target="_blank" href="http://news.chinabyte.com/307/13801807.shtml" class="content-title">数人云出席容器技术大会 容器应对金融 IT 发展需求</a>
                    <div class="content-footer">2016/6/7  来源:比特网</div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-body multi-content">
                    <a target="_blank" href="http://cloud.yesky.com/483/102911983.shtml" class="content-title">百家争鸣 容器生态圈下的众生相</a>
                    <div class="content-footer">2016/6/6  来源:天极网</div>
                </div>
            </div>


            <div class="panel panel-default">
                <div class="panel-body multi-content">
                    <a target="_blank" href="http://news.watchstor.com/stor-age-154967.htm" class="content-title">容器定义世界 看数人云如何“应云而生”</a>
                    <div class="content-footer">2016/6/6  来源:WatchStor</div>
                </div>
            </div>


            <div class="panel panel-default">
                <div class="panel-body multi-content">
                    <a target="_blank" href="http://news.chinabyte.com/145/13798645.shtml" class="content-title">数人云CTO任中国开源云联盟Mesos工作组组长</a>
                    <div class="content-footer">2016/6/3 来源:比特网</div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-body multi-content">
                    <a target="_blank" href="http://cloud.it168.com/a2016/0603/2684/000002684373.shtml" class="content-title">继续走强，看数人云是如何脱颖而出的</a>
                    <div class="content-footer">2016/6/3 来源:IT168</div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-body multi-content">
                    <a target="_blank" href="http://cloud.yesky.com/385/102787885.shtml" class="content-title">加速Docker落地 数人云未来要做这些事</a>
                    <div class="content-footer">2016/6/1  来源:天极网</div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-body multi-content">
                    <a target="_blank" href="http://www.cio.com.cn/eyan/546216.html" class="content-title">传统企业 PaaS 化改造破局，原来可以这么“轻”……</a>
                    <div class="content-footer">2016/6/1 来源:e行网</div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-body multi-content">
                    <a target="_blank" href="http://mp.weixin.qq.com/s?__biz=MzAxNjI0MzQ2OQ==&mid=2651155620&idx=1&sn=5277f7ef7460bf4f6d9b53166ca43850&scene=1&srcid=0601u8ufZbiae13xjNBzT0SD#rd" class="content-title">上交所业务系统的Docker化实践</a>
                    <div class="content-footer">2016/6/1  来源:云科技时代</div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-body multi-content">
                    <a target="_blank" href="http://www.cbismb.com/cloud/news/2016-05-30/20230727.html" class="content-title">数人云操作系统 2.0：让容器定义世界</a>
                    <div class="content-footer">2016/5/30  来源:中小企业IT网</div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-body multi-content">
                    <a target="_blank" href="http://www.doit.com.cn/p/246863.html" class="content-title">金融容器云落地，数人是如何帮用户踩坑的？</a>
                    <div class="content-footer">2016/5/30  来源:DOIT</div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-body multi-content">
                    <a target="_blank" href="http://www.spn.com.cn/news/20160530/52660.html" class="content-title">同样是做 Docker，数人云因何不同？</a>
                    <div class="content-footer">2016/5/30  来源:睿商在线</div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-body multi-content">
                    <a target="_blank" href="http://mp.weixin.qq.com/s?__biz=MzA5NDA3MzUwMQ==&mid=2650538365&idx=1&sn=a551315f17f3486e92f75bec62e76774&scene=1&srcid=0531632FZAKCH6Gam08OburL#rd" class="content-title">数人云：不等风，所以无畏风停</a>
                    <div class="content-footer">2016/5/30  来源:科技正能量</div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-body multi-content">
                    <a target="_blank" href="http://cio.zdnet.com.cn/cio/2016/0528/3078107.shtml" class="content-title">数人云操作系统 2.0 发布 OCP＋数人云或将引领数据中心未来</a>
                    <div class="content-footer">2016/5/30  来源:ZDNet</div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-body multi-content">
                    <a target="_blank" href="http://www.sootoo.com/content/663756.shtml" class="content-title">数人云操作系统 2.0 发布 在企业实践中将Docker技术快速落地</a>
                    <div class="content-footer">2016/5/27  来源:速途网</div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-body multi-content">
                    <a target="_blank" href="http://www.d1net.com/cloud/vendors/414359.html" class="content-title">成长中的中国云企业 容器技术实现弯道超车</a>
                    <div class="content-footer">2016/5/27  来源:企业网D1Net</div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-body multi-content">
                    <a target="_blank" href="http://mp.weixin.qq.com/s?__biz=MjM5Njk3NTk0MQ==&mid=2649759488&idx=3&sn=6313c5df485043658a36ff84118f0779&scene=1&srcid=0526X1dw9HmWXmlFj0gRXl6b#rd" class="content-title">Docker遇上Mesos，轻量级PaaS的最佳演绎</a>
                    <div class="content-footer">2016/5/26 来源:互联网周刊</div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-body multi-content">
                    <a target="_blank" href="http://36kr.com/p/5047431.html" class="content-title">“数人云”发布 2.0 版操作系统，将 Docker 技术快速落地</a>
                    <div class="content-footer">2016/5/26 来源:36kr</div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-body multi-content">
                    <a target="_blank" href="http://cloud.51cto.com/art/201605/511761.htm" class="content-title">数人云发布云操作系统 2.0 打造新一代 PaaS 平台</a>
                    <div class="content-footer">2016/5/26 来源:51CTO</div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-body multi-content">
                    <a target="_blank" href="http://cloud.it168.com/a2016/0525/2664/000002664172.shtml" class="content-title">数人云王璞：时代在发展 Docker 在精进</a>
                    <div class="content-footer">2016/5/25 来源:IT168</div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-body multi-content">
                    <a target="_blank" href="http://mp.weixin.qq.com/s?__biz=MzAwODYyNDU0NQ==&mid=2649841300&idx=1&sn=c6352e35cfab86c2cc3e30dc4be1ca26&scene=1&srcid=0524SPjeS77L9rajFAZ17um7#rd" class="content-title">小众强需求优于大众弱需求，A轮企业大胆押宝金融云的逻辑</a>
                    <div class="content-footer">2016/5/24 来源:科技茱比莉</div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-body multi-content">
                    <a target="_blank" href="http://www.ccw.com.cn/article/view/112973" class="content-title">Docker 创业的下一个机会点在哪？</a>
                    <div class="content-footer">2016/5/24 来源:计世网</div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-body multi-content">
                    <a target="_blank" href="http://cloud.yesky.com/224/102638224.shtml" class="content-title">对话数人云 CEO王璞 谈 Docker 在落地中的创新</a>
                    <div class="content-footer">2016/5/24 来源:天极网</div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-body multi-content">
                    <a target="_blank" href="http://cloud.51cto.com/art/201605/511546.htm" class="content-title">数人云王璞：未来两三年 Docker 在中国发展将走向成熟</a>
                    <div class="content-footer">2016/5/23 来源:51CTO</div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-body multi-content">
                    <a target="_blank" href="http://mp.weixin.qq.com/s?__biz=MjM5MzM3NjM4MA==&mid=2654675980&idx=2&sn=f2adf10b5bcaaf6032c89c9c450d35f6&scene=1&srcid=0520a5h09SJlMeFNWVrO2HYj#rd" class="content-title">从Google的PaaS平台说起，解析中美Docker生态圈</a>
                    <div class="content-footer">2016/5/20 来源:云头条</div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-body multi-content">
                    <a target="_blank" href="http://www.ccidnet.com/2016/0519/10135196.shtml" class="content-title">数人云出席中国云计算大会 畅谈中美容器的融合与变革</a>
                    <div class="content-footer">2016/5/19 来源:赛迪网</div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-body multi-content">
                    <a target="_blank" href="http://server.zdnet.com.cn/server/2016/0518/3077564.shtml?fromrss=rss" class="content-title">数人云CEO：新一代 PaaS 平台正在崛起</a>
                    <div class="content-footer">2016/5/18 来源:ZD至顶网</div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-body multi-content">
                    <a target="_blank" href="http://cio.zdnet.com.cn/cio/2016/0518/3077547.shtml" class="content-title">数人云王璞：我们最后会达到容器定义的世界</a>
                    <div class="content-footer">2016/5/18 来源:ZD至顶网</div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-body multi-content">
                    <a target="_blank" href="http://cloud.it168.com/a2016/0516/2640/000002640021.shtml" class="content-title">数人云企业级 Docker 盛会即将召开</a>
                    <div class="content-footer">2016/5/16 来源:IT168</div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-body multi-content">
                    <a target="_blank" href="http://mp.weixin.qq.com/s?__biz=MzAwMDU1MTE1OQ==&mid=2653547136&idx=1&sn=13f13bce3ed0ade574bfb243635c88a6&scene=1&srcid=05165Bx0lKWR70CYLADPDnZs#rd" class="content-title">如何打造一键发布弹性伸缩微服务:应用上容器云干货案例</a>
                    <div class="content-footer">2016/5/11 来源:高可用架构</div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-body multi-content">
                    <a target="_blank" href="http://mp.weixin.qq.com/s?__biz=MzA3MzYwNjQ3NA==&mid=2651296518&idx=1&sn=e039f16ef45eab5e6a7f09265ca4c47f&scene=1&srcid=0510gPGMXyAjnISdWrED5gBq#rd" class="content-title">技术干货 | 微服务架构软件的持续集成与交付</a>
                    <div class="content-footer">2016/5/10 来源:运维帮</div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-body multi-content">
                    <a target="_blank" href="http://soft.chinabyte.com/15/13739015.shtml" class="content-title">走进清华 OCP 实验室,百万并发压力测试背后故事</a>
                    <div class="content-footer">2016/4/1 来源:比特网</div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-body multi-content">
                    <a target="_blank" href="http://mp.weixin.qq.com/s?__biz=MzAxOTAzMDEwMA==&mid=404888072&idx=1&sn=1c569cdbfeede8df3b8062be7b6f08de&scene=1&srcid=0407KBgvBTBRumB438eESwts#rd" class="content-title">数人云：分布式百万并发测试实践</a>
                    <div class="content-footer">2016/4/1 来源:KVM虚拟化实践</div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-body multi-content">
                    <a target="_blank" href="http://mp.weixin.qq.com/s?__biz=MzA5OTAyNzQ2OA==&mid=402160023&idx=2&sn=6e8e372582a10aa0a6d5a1260ac9d0bd&scene=1&srcid=0407zT7vvDSWqi4T8QYzZsqn#rd" class="content-title">从工具选取到实施部署，数人云教你跑百万压测</a>
                    <div class="content-footer">2016/3/31 来源:Dockone</div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-body multi-content">
                    <a target="_blank" href="http://mp.weixin.qq.com/s?__biz=MzAwMDU1MTE1OQ==&mid=405352450&idx=1&sn=77485a9f0d1e504c8a6068e3b60f81c7&scene=1&srcid=0407VuAKClkyNEZYS6YZ5aNk#rd" class="content-title">基于 Locust、Tsung 的百万并发秒杀压测案例</a>
                    <div class="content-footer">2016/3/30 来源:高可用架构</div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-body multi-content">
                    <a target="_blank" href="http://mp.weixin.qq.com/s?__biz=MzA3OTM0NTQwMw==&mid=402282310&idx=2&sn=6c4879cc889d19e79486b3152d9d1c07&scene=1&srcid=0330WNaAt4aqEAfso5wmlTeh#rd" class="content-title">独家 | 数人云一剂良方：从“小卖部”到“虚拟商业中心”</a>
                    <div class="content-footer">2016/3/30 来源:软件IC圈</div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-body multi-content">
                    <a target="_blank" href="http://soft.chinabyte.com/401/13734401.shtml" class="content-title">Docker 引爆轻量级 PaaS,数人云 DCOS 顺势而生</a>
                    <div class="content-footer">2016/3/29 来源:比特网</div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-body multi-content">
                    <a target="_blank" href="http://server.zdnet.com.cn/server/2016/0329/3074909.shtml" class="content-title">OCP+Docker 牛刀小试，完成“百万并发”压力测试</a>
                    <div class="content-footer">2016/3/29 来源:ZDNet</div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-body multi-content">
                    <a target="_blank" href="http://cloud.it168.com/a2016/0325/2576/000002576817.shtml" class="content-title">数人云CEO王璞出席云原生论坛</a>
                    <div class="content-footer">2016/3/25 来源:IT168</div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-body multi-content">
                    <a target="_blank" href="http://www.ccidnet.com/2016/0323/10113706.shtml" class="content-title">解决从客户到云资源的最后一公里 数人云亮剑百万压力测试</a>
                    <div class="content-footer">2016/3/23 来源:赛迪网</div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-body multi-content">
                    <a target="_blank" href="http://www.doit.com.cn/p/241434.html" class="content-title">为什么用十台 OCP 服务器支撑百万并发值得关注？</a>
                    <div class="content-footer">2016/3/21 来源:DOIT</div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-body multi-content">
                    <a target="_blank" href="http://server.yesky.com/datacenter/289/101320289.shtml" class="content-title">好马配好鞍 看数人云与 OCP 擦出何种火花?</a>
                    <div class="content-footer">2016/3/21 来源:天极网</div>
                </div>
            </div>


            <div class="panel panel-default">
                <div class="panel-body multi-content">
                    <a target="_blank" href="http://cloud.it168.com/a2016/0321/2532/000002532243.shtml" class="content-title">轻松应对百万压测，数人云是如何做到的</a>
                    <div class="content-footer">2016/3/21 来源:IT168</div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-body multi-content">
                    <a target="_blank" href="http://news.chinabyte.com/136/13719636.shtml" class="content-title">数人云：进阶 “百万并发” 背后的架构实践</a>
                    <div class="content-footer">2016/3/14 来源:比特网</div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-body multi-content">
                    <a target="_blank" href="http://mp.weixin.qq.com/s?__biz=MzA3OTM0NTQwMw==&mid=402018803&idx=2&sn=aedee30cd9e5b7a305c609d43a67663e&scene=1&srcid=0311FyYqslGrVqfkZnmdwNFJ#rd" class="content-title">独家 | 天时地利人和 数人云占几个？</a>
                    <div class="content-footer">2016/3/11 来源:软件IC圈</div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-body multi-content">
                    <a target="_blank" href="http://www.cio.com.cn/touch/view/414536#10006-weixin-1-52626-6b3bffd01fdde4900130bc5a2751b6d1" class="content-title">【业界动态】数人云轻量级PaaS平台，企业IT转型至关重要的一步</a>
                    <div class="content-footer">2016/3/10 来源:e行网</div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-body multi-content">
                    <a target="_blank" href="http://www.tmtpost.com/1650039.html" class="content-title">未来三年的云计算产业，基于 Docker 的 PaaS 将成为主流</a>
                    <div class="content-footer">2016/3/7 来源:钛媒体</div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-body multi-content">
                    <a target="_blank" href="http://geek.csdn.net/news/detail/59394" class="content-title">数人云 DCOS：坚持 Mesos+Docker，图谋 10 万主机集群与机器学习扩容</a>
                    <div class="content-footer">2016/3/7 来源:CSDN</div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-body multi-content">
                    <a target="_blank" href="http://cloud.yesky.com/167/101032667.shtml" class="content-title">极致的应用弹性 数人云打造轻量级 PaaS 平台</a>
                    <div class="content-footer">2016/3/7 来源:天极网</div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-body multi-content">
                    <a target="_blank" href="http://www.xfz.cn/post/395.html" class="content-title">融资 3000 万，这位前谷歌员工要帮企业搭一个高效的云上环境</a>
                    <div class="content-footer">2016/3/4 来源:小饭桌</div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-body multi-content">
                    <a target="_blank" href="http://www.cbismb.com/cloud/news/2016-03-04/20228839.html" class="content-title">数人云凭什么拿到 A 轮三千万融资？</a>
                    <div class="content-footer">2016/3/4 来源:中小企业IT网</div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-body multi-content">
                    <a target="_blank" href="http://www.doit.com.cn/p/240175.html" class="content-title">数人云 CEO 王璞：把谷歌的云理念带到中国</a>
                    <div class="content-footer">2016/3/4 来源:DOIT</div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-body multi-content">
                    <a target="_blank" href="http://cloud.it168.com/a2016/0304/2501/000002501808.shtml" class="content-title">数人云王璞：希望成为下一代PaaS领导者</a>
                    <div class="content-footer">2016/3/4 来源:IT168</div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-body multi-content">
                    <a target="_blank" href="http://cloud.51cto.com/art/201603/506861.htm" class="content-title">下一代 DCOS 来了，构建 PaaS 又多了一种选择</a>
                    <div class="content-footer">2016/3/4 来源:51CTO</div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-body multi-content">
                    <a target="_blank" href="http://cio.zdnet.com.cn/cio/2016/0304/3073634.shtml" class="content-title">数人云轻量级PaaS将弹性做到极致</a>
                    <div class="content-footer">2016/3/4 来源:ZD至顶网</div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-body multi-content">
                    <a target="_blank" href="http://www.sootoo.com/content/661466.shtml" class="content-title">人类，你为什么选择进化？</a>
                    <div class="content-footer">2016/3/3 来源:速途网</div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-body multi-content">
                    <a target="_blank" href="http://www.cyzone.cn/a/20160303/291290.html" class="content-title">A轮融资3000万，数人云帮企业扛住高并发流量，高峰期响应时间缩为“秒应”</a>
                    <div class="content-footer">2016/3/3 来源:创业邦</div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-body multi-content">
                    <a target="_blank" href="http://www.cnetnews.com.cn/2016/0303/3073593.shtml" class="content-title">布局轻量级PaaS生态圈 数人云完成 3000 万 A 轮融资</a>
                    <div class="content-footer">2016/3/3 来源:CNET</div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-body multi-content">
                    <a target="_blank" href="http://www.doit.com.cn/p/240043.html" class="content-title">数人云获 3000 万元 A 轮融资 国内Docker风口初创企业都有谁 </a>
                    <div class="content-footer">2016/3/3 来源:DOIT</div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-body multi-content">
                    <a target="_blank" href="http://36kr.com/p/5043921.html" class="content-title">数人云获 3000 万元 A 轮融资，打造轻量级 PaaS 平台发挥应用弹性</a>
                    <div class="content-footer">2016/3/2 来源:36kr</div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-body multi-content">
                    <a target="_blank" href="http://mp.weixin.qq.com/s?__biz=MjM5NzY0MTIwMA==&mid=405432786&idx=1&sn=85c46dc7282c593f01d44058df11d46e&scene=1&srcid=0225MWWu17AI5TMQ7tKmEqPT#rd" class="content-title">创业| 王璞和数人云：我从谷歌来</a>
                    <div class="content-footer">2016/2/25 来源:数字商业时代</div>
                </div>
            </div>





        </div>
        <div class="more"><a href="#">查看更多 >></a></div>
    </div>
</div>
<% include '../../common_views/footer.html' %>
<% end %>