<% extend "../../common.html" %>
<% block 'keywords': %>数人云，数人科技，容器，Container，容器云，云原生，镜像仓库，容器集群管理，Docker，Docker镜像，Mesos，Marathon，DCOS，PaaS平台，数人云操作系统，灰度发布 ，微服务，服务发现，持续集成，镜像构建，CICD，持续交付 ，DevOps，敏捷开发，自动化，金融容器云，高并发，秒杀，容器编排，docker compose，应用编排，弹性扩缩 弹性伸缩<% end %>
<% block 'description': %>数人云是基于 Mesos 和 Docker 技术的云操作系统，致力于打造最轻量化的PaaS平台，可实现应用的快速发布和弹性扩展。支持混合云管理，实现一站式的微服务架构集群系统，帮助用户快速建立并稳定运维高性能生产环境，解决从客户到云资源的最后一公里。<% end %>
<% block 'title': %>会议 - 基于容器的最轻量化 PaaS 平台<% end %>
<% block 'bodyContent': %>
<% include '../../common_views/nav.html' %>
<div id="about-activity">
    <header class="header-about">
        <div class="container">
            <h1 class="title">会议</h1>
            <div id="carousel-about" class="carousel slide" data-ride="carousel">
                <!-- Indicators -->
                <ol class="carousel-indicators">
                    <li data-target="#carousel-about" data-slide-to="0" class="active"></li>
                    <li data-target="#carousel-about" data-slide-to="1"></li>
                    <li data-target="#carousel-about" data-slide-to="2"></li>
                    <li data-target="#carousel-about" data-slide-to="3"></li>
                </ol>

                <!-- Wrapper for slides -->
                <div class="carousel-inner" role="listbox">

                    <div class="item active">
                        <div class="row">
                            <div class="col-xs-6 left-img">
                                <a target="_blank" href="http://blog.dataman-inc.com/shurenyun-news-1228/">
                                    <img src="pics/about-meeting-01.png" alt="数人云出席第六届云计算标准和应用大会 分享最新开源实践">
                                </a>
                            </div>
                            <div class="col-xs-6">
                                <a target="_blank" href="http://blog.dataman-inc.com/shurenyun-news-1228/" class="carousel-title">数人云出席第六届云计算标准和应用大会 分享最新开源实践</a>
                                <div class="carousel-desc">12月28日，由中华人民共和国工业和信息化部信息化和软件服务业司、国家标准化管理委员会工业标准二部指导，中国电子技术标准化研究院主办，华为、英特尔、数人云、DMTF等协办的第六届中国云计算标准和应用大会在京成功召开。
                                </div>
                                <div class="carousel-footer">28 DECEMBER 2016 on 数人云会议</div>
                            </div>
                        </div>
                    </div>
                		
                    <div class="item">
                        <div class="row">
                            <div class="col-xs-6 left-img">
                                <a target="_blank" href="http://blog.dataman-inc.com/shurenyun-news-1122/">
                                    <img src="http://blog.dataman-inc.com/content/images/2016/11/484689728840881668-1.jpg" alt="MesosCon 2016：新生代大规模集群系统分发实践">
                                </a>
                            </div>
                            <div class="col-xs-6">
                                <a target="_blank" href="http://blog.dataman-inc.com/shurenyun-news-1122/" class="carousel-title">MesosCon 2016：新生代大规模集群系统分发实践</a>
                                <div class="carousel-desc">11月18日，由Apache Mesos社区主办的MesosCon大会在杭州召开，此次大会设置两天的会议，向参会者介绍了Apache Mesos内核、围绕该项目开发的生态系统以及相关技术等信息...
                                </div>
                                <div class="carousel-footer">22 NOVEMBER 2016 on 数人云活动</div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="item">
                        <div class="row">
                            <div class="col-xs-6 left-img">
                                <a target="_blank" href="http://blog.dataman-inc.com/shurenyun-news-1031/">
                                    <img src="http://blog.dataman-inc.com/content/images/2016/10/G53A0612-1.JPG" alt="IT运营新世界大会：轻量级PaaS平台支持DevOps落地">
                                </a>
                            </div>
                            <div class="col-xs-6">
                                <a target="_blank" href="http://blog.dataman-inc.com/shurenyun-news-1031/" class="carousel-title">IT运营新世界大会：轻量级PaaS平台支持DevOps落地</a>
                                <div class="carousel-desc">10月28日，2016 IT运营新世界大会在京召开。会上，由北京优锘科技、天旦网络科技、博睿数据、广通软件、数人云、北京云集智造（灵犀）、上海擎创信息、日志易等ITOM领域的领先厂商发起并创建的ITOM联盟正式成立，同时，数人云CEO王璞做“SRE实践：轻量级PaaS平台支持DevOps落地”主题演讲。
                                </div>
                                <div class="carousel-footer">31 OCTOBER 2016 on 数人云活动</div>
                            </div>
                        </div>
                    </div>
                		
                    <div class="item">
                        <div class="row">
                            <div class="col-xs-6 left-img">
                                <a target="_blank" href="#">
                                    <img src="http://blog.dataman-inc.com/content/images/2016/09/_DSC2161.JPG" alt="印象 · CNUTCon全球容器技术大会2016">
                                </a>
                            </div>
                            <div class="col-xs-6">
                                <a target="_blank" href="#" class="carousel-title">印象 · CNUTCon全球容器技术大会2016</a>
                                <div class="carousel-desc">一轮秋影转金波，又是一年一度的中秋佳节，在这大吃月饼的美好日子里，小数祝大家中秋快乐！大家是否对刚刚结束的CNUTCon2016意犹未尽呢？数人云CTO肖德时将他全程参会的体验与感想整理成文，作为中秋礼物，为大家奉上，请君品尝：）
                                </div>
                                <div class="carousel-footer">18 September 2016 on 数人云动态</div>
                            </div>
                        </div>
                    </div>
                    
                </div>

                <!-- Controls -->
                <a class="left carousel-control" href="#carousel-about" role="button" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="right carousel-control" href="#carousel-about" role="button" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
    </header>

    <div class="about-content">
        <div class="container">

            <div class="panel panel-default">
                <div class="panel-body row">
                    <div class="col-xs-3 left-img">
                        <a target="_blank" href="http://blog.dataman-inc.com/shurenyun-news-1228/"><img src="pics/about-meeting-01.png" alt></a>
                    </div>
                    <div class="col-xs-9 content-table">
                        <div class="content-cell">
                            <a target="_blank" href="http://blog.dataman-inc.com/shurenyun-news-1228/" class="content-title">数人云出席第六届云计算标准和应用大会 分享最新开源实践
                            </a>
                            <div class="content-footer">28 DECEMBER 2016 on 数人云会议</div>
                        </div>
                    </div>
                </div>
            </div>
            
           <div class="panel panel-default">
                <div class="panel-body row">
                    <div class="col-xs-3 left-img">
                        <a target="_blank" href="http://blog.dataman-inc.com/shurenyun-news-1122/"><img src="http://blog.dataman-inc.com/content/images/2016/11/484689728840881668-1.jpg" alt></a>
                    </div>
                    <div class="col-xs-9 content-table">
                        <div class="content-cell">
                            <a target="_blank" href="http://blog.dataman-inc.com/shurenyun-news-1122/" class="content-title">MesosCon 2016：新生代大规模集群系统分发实践
                            </a>
                            <div class="content-footer">22 NOVEMBER 2016 on 数人云活动</div>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="panel panel-default">
                <div class="panel-body row">
                    <div class="col-xs-3 left-img">
                        <a target="_blank" href="http://blog.dataman-inc.com/shurenyun-news-1031/"><img src="http://blog.dataman-inc.com/content/images/2016/10/G53A0612-1.JPG" alt></a>
                    </div>
                    <div class="col-xs-9 content-table">
                        <div class="content-cell">
                            <a target="_blank" href="http://blog.dataman-inc.com/shurenyun-news-1031/" class="content-title">IT运营新世界大会：轻量级PaaS平台支持DevOps落地
                            </a>
                            <div class="content-footer">31 OCTOBER 2016 on 数人云活动</div>
                        </div>
                    </div>
                </div>
            </div>
           
            <div class="panel panel-default">
                <div class="panel-body row">
                    <div class="col-xs-3 left-img">
                        <a target="_blank" href="#"><img src="http://blog.dataman-inc.com/content/images/2016/09/_DSC2161.JPG" alt></a>
                    </div>
                    <div class="col-xs-9 content-table">
                        <div class="content-cell">
                            <a href="#" class="content-title">CNUTCon全球容器技术大会2016
                            </a>
                            <div class="content-footer">18 September 2016 on 数人云动态</div>
                        </div>
                    </div>
                </div>
            </div>
            
            
            
            <div class="panel panel-default">
                <div class="panel-body row">
                    <div class="col-xs-3 left-img">
                        <a target="_blank" href="#"><img src="http://pic.huodongjia.com/event/2016-05-07/1462592869.28.jpg" alt></a>
                    </div>
                    <div class="col-xs-9 content-table">
                        <div class="content-cell">
                            <a href="#" class="content-title">十二月
                                GOPS 2016全球运维大会 北京站
                            </a>
                            <div class="content-footer">December 2016 on 数人云动态</div>
                        </div>
                    </div>
                </div>
            </div>
            
            
            <div class="panel panel-default">
                <div class="panel-body row">
                    <div class="col-xs-3 left-img">
                        <a target="_blank" href="#"><img src="https://raw.githubusercontent.com/Dataman-Cloud/webpage/5256382b88153b5b14e29f1dc3e418b2828fa58e/pics/rongqidahui.jpg" alt></a>
                    </div>
                    <div class="col-xs-9 content-table">
                        <div class="content-cell">
                            <a target="_blank" href="#" class="content-title">CNUTCon 2016全球容器技术大会</a>
                            <div class="content-footer">September 2016 on 数人云动态</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-body row">
                    <div class="col-xs-3 left-img">
                        <a target="_blank" href="#"><img src="http://pic.huodongjia.com/event/2016-05-07/1462592869.28.jpg" alt></a>
                    </div>
                    <div class="col-xs-9 content-table">
                        <div class="content-cell">
                            <a target="_blank" href="#" class="content-title">GOPS 2016全球运维大会 上海站</a>
                            <div class="content-footer">23, September 2016 on 数人云动态</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-body row">
                    <div class="col-xs-3 left-img">
                        <a target="_blank" href="#"><img src="http://sz2016.archsummit.com/sites/all/themes/qconbs/images/frontmain.jpg" alt></a>
                    </div>
                    <div class="col-xs-9 content-table">
                        <div class="content-cell">
                            <a target="_blank" href="#" class="content-title">ArchSummit全球架构师峰会2016</a>
                            <div class="content-footer">15, July 2016 </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-body row">
                    <div class="col-xs-3 left-img">
                        <a target="_blank" href="http://blog.dataman-inc.com/shurenyun-dockercon-130/"><img src="http://blog.dataman-inc.com/content/images/2016/06/1-2.jpg" alt></a>
                    </div>
                    <div class="col-xs-9 content-table">
                        <div class="content-cell">
                            <a href="http://blog.dataman-inc.com/shurenyun-dockercon-130/" class="content-title">DockerCon 2016 D2 | PPT全程实录+详细解读</a>
                            <div class="content-footer">22 June 2016 on 数人云活动, 数人云干货</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-body row">
                    <div class="col-xs-3 left-img">
                        <a target="_blank" href="#"><img src="http://editerupload.eepw.com.cn/201511/24131448872701.jpg" alt></a>
                    </div>
                    <div class="col-xs-9 content-table">
                        <div class="content-cell">
                            <a target="_blank" href="http://blog.dataman-inc.com/shurenyun-docker-127/" class="content-title">稳定高于一切的金融行业如何用容器？</a>
                            <div class="content-footer">12 June 2016 on 数人云活动</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-body row">
                    <div class="col-xs-3 left-img">
                        <a target="_blank" href="http://blog.dataman-inc.com/shurenyun-120-docker/"><img src="http://blog.dataman-inc.com/content/images/2016/05/----pdf----------0001.jpg" alt></a>
                    </div>
                    <div class="col-xs-9 content-table">
                        <div class="content-cell">
                            <a target="_blank" href="http://blog.dataman-inc.com/shurenyun-120-docker/" class="content-title">第八届中国云计算大会 & 从Google的PaaS平台说起，解析中美Docker生态圈</a>
                            <div class="content-footer">19 May 2016 on 数人云活动</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-body row">
                    <div class="col-xs-3 left-img">
                        <a target="_blank" href="http://blog.dataman-inc.com/untitled-17/"><img src="http://blog.dataman-inc.com/content/images/2016/01/1_---1.jpg" alt></a>
                    </div>
                    <div class="col-xs-9 content-table">
                        <div class="content-cell">
                            <a target="_blank" href="http://blog.dataman-inc.com/untitled-17/" class="content-title">Container 容器技术大会·北京站 & 记@Container容器技术大会——千人的狂欢，技术的盛宴</a>
                            <div class="content-footer">27 January 2016 on Docker, 容器, 数人云活动</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="more"><a target="_blank" href="http://blog.dataman-inc.com/tag/events/">查看更多 >></a></div>
    </div>
</div>
<% include '../../common_views/footer.html' %>
<% end %>
