<% extend "../../common.html" %>
<% block 'keywords': %>数人云，数人科技，容器，Container，容器云，云原生，镜像仓库，容器集群管理，Docker，Docker镜像，Mesos，Marathon，DCOS，PaaS平台，数人云操作系统，灰度发布 ，微服务，服务发现，持续集成，镜像构建，CICD，持续交付 ，DevOps，敏捷开发，自动化，金融容器云，高并发，秒杀，容器编排，docker compose，应用编排，弹性扩缩 弹性伸缩<% end %>
<% block 'description': %>数人云是基于 Mesos 和 Docker 技术的云操作系统，致力于打造最轻量化的PaaS平台，可实现应用的快速发布和弹性扩展。支持混合云管理，实现一站式的微服务架构集群系统，帮助用户快速建立并稳定运维高性能生产环境，解决从客户到云资源的最后一公里。<% end %>
<% block 'title': %>活动 - 基于容器的最轻量化 PaaS 平台<% end %>
<% block 'bodyContent': %>
<% include '../../common_views/nav.html' %>
<div id="about-activity">
    <header class="header-about" style="background-color: rgb(56, 49, 60)">
        <div class="container">
            <h1 class="title">活动</h1>
            <div id="carousel-about" class="carousel slide" data-ride="carousel">
                <!-- Indicators -->
                <ol class="carousel-indicators">
                    <li data-target="#carousel-about" data-slide-to="0" class="active"></li>
                    <li data-target="#carousel-about" data-slide-to="1"></li>
                    <li data-target="#carousel-about" data-slide-to="2"></li>
                    <li data-target="#carousel-about" data-slide-to="3"></li>
                </ol>

                <!-- Wrapper for slides -->
                <div class="carousel-inner" role="listbox">
                    <div class="item active">
                        <div class="row">
                            <div class="col-md-6 left-img">
                                <a>
                                    <img src="pics/about-activity-19.png" alt="当西方的SRE遇上东方的互联网">
                                </a>
                            </div>
                            <div class="col-md-6">
                                <a target="_blank" href="http://blog.dataman-inc.com/untitled-29/"
                                   class="carousel-title">当西方的SRE遇上东方的互联网</a>
                                <div class="carousel-desc">
                                    Google、京东金融、美团等国内外知名互联网企业SRE及类似岗位的大咖为我们分享他们在这个领域的经验和思考，看源自国外的先进理念如何在本土落地。
                                </div>
                                <div class="carousel-footer">4 March 2017 on 数人云动态</div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="row">
                            <div class="col-md-6 left-img">
                                <a>
                                    <img src="pics/about-activity-18.jpg" alt="告别人肉运维">
                                </a>
                            </div>
                            <div class="col-md-6">
                                <a target="_blank" href="http://blog.dataman-inc.com/shurenyun-devops-257/"
                                   class="carousel-title">告别人肉运维</a>
                                <div class="carousel-desc">
                                    奋斗在一线的微软、数人云以及两位饿了么资深技术分享日常运维及应急灾备的心得，开启2017数人云“灵动新IT”Meetup的开年运维第一课。
                                </div>
                                <div class="carousel-footer">25 FEBRUARY 2017 on 数人云活动</div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="row">
                            <div class="col-md-6 left-img">
                                <a>
                                    <img src="pics/about-activity-17.jpg" alt="容器之Mesos/K8S/Swarm三国演义">
                                </a>
                            </div>
                            <div class="col-md-6">
                                <a target="_blank" href="http://blog.dataman-inc.com/shurenyun-mesos-230/"
                                   class="carousel-title">容器之Mesos/K8S/Swarm三国演义</a>
                                <div class="carousel-desc">
                                    16年10月份北京场活动中IBM、新浪微博、Acttao、数人云的大牛们各抒己见，在即将到来的17年，数人云Meetup重新起航啦，1月7日上海、深圳"三国演义" 活动两城联动，相信不一样的技术实践，有着同样的精彩分享~
                                </div>
                                <div class="carousel-footer">7 JANUARY 2017 on 数人云活动</div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="row">
                            <div class="col-md-6 left-img">
                                <a>
                                    <img src="pics/about-activity-16.png" alt="容器之Mesos/K8S/Swarm三国演义">
                                </a>
                            </div>
                            <div class="col-md-6">
                                <a target="_blank"
                                   href="http://blog.dataman-inc.com/shurenyun-docker-224/"
                                   class="carousel-title">容器之Mesos/K8S/Swarm三国演义</a>
                                <div class="carousel-desc">
                                    16年10月份北京场活动中IBM、新浪微博、Acttao、数人云的大牛们各抒己见，在即将到来的17年，数人云Meetup重新起航啦，1月7日上海、深圳"三国演义" 活动两城联动，相信不一样的技术实践，有着同样的精彩分享~
                                </div>
                                <div class="carousel-footer">7 JANUARY 2017 on 数人云活动</div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Controls -->


                <a class="left carousel-control" href="#carousel-about" role="button" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="right carousel-control" href="#carousel-about" role="button" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
    </header>


    <div class="about-content">
        <div class="container">

            <div class="panel panel-default">
                <div class="panel-body row multi-content">
                    <div class="col-md-3 left-img">
                        <a><img src="pics/about-activity-19.png" alt></a>
                    </div>
                    <div class="col-md-9">
                        <div class="plus-title">Meetup北京|当西方的SRE遇上东方的互联网</div>

                        <div class="sub-content">
                            <a target="_blank"
                               href="http://blog.dataman-inc.com/untitled-29/"
                               class="sub-title">京东金融PE谈如何颠覆应用运维认知</a>
                            <div class="sub-footer">13 MARCH 2017 on 数人云活动</div>
                        </div>
                        <div class="sub-content">
                            <a target="_blank"
                               href="http://blog.dataman-inc.com/huo-dong-shi-lu-gong-ju-hua-chan-pin-hua-yun-ying-hua-mei-tuan-dian-ping-yun-wei-tuan-dui-bei-hou-de-gu-shi/"
                               class="sub-title">工具化、产品化、运营化——「美团点评」运维团队背后的故事</a>
                            <div class="sub-footer">08 MARCH 2017 on 数人云活动</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-body row multi-content">
                    <div class="col-md-3 left-img">
                        <a><img src="pics/about-activity-18.jpg" alt></a>
                    </div>
                    <div class="col-md-9">
                        <div class="plus-title">Meetup上海|告别人肉运维</div>

                        <div class="sub-content">
                            <a target="_blank"
                               href="http://blog.dataman-inc.com/huo-dong-shi-lu-ju-jue-shan-ku-dao-pao-lu-tan-jiu-e-liao-yao-shu-ju-an-quan-bao-zhang-ti-xi/"
                               class="sub-title">拒绝"删库到跑路"，探究饿了么数据安全保障体系</a>
                            <div class="sub-footer">08 MARCH 2017 on 数人云活动</div>
                        </div>
                        <div class="sub-content">
                            <a target="_blank" href="http://blog.dataman-inc.com/shurenyun-devops-257/"
                               class="sub-title">Design For Failure——饿了么技术运维实践</a>
                            <div class="sub-footer">02 MARCH 2017 on 数人云活动</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-body row multi-content">
                    <div class="col-md-3 left-img">
                        <a><img src="pics/about-activity-17.jpg" alt></a>
                    </div>
                    <div class="col-md-9">
                        <div class="plus-title">Meetup深圳|容器之Mesos/K8S/Swarm三国演义</div>

                        <div class="sub-content">
                            <a target="_blank" href="http://blog.dataman-inc.com/shurenyun-docker-245/"
                               class="sub-title">kubernetes 在腾讯游戏的应用实践</a>
                            <div class="sub-footer">15 FEBRUARY 2017 on 数人云活动</div>
                        </div>
                        <div class="sub-content">
                            <a target="_blank" href="http://blog.dataman-inc.com/shurenyun-mesos-230/"
                               class="sub-title">Mesos PMC带你回顾Mesos 2016</a>
                            <div class="sub-footer">04 FEBRUARY 2017 on 数人云活动</div>
                        </div>
                        <div class="sub-content">
                            <a target="_blank"
                               href="http://blog.dataman-inc.com/shurenyun-docker-211/"
                               class="sub-title">广发银行运维实践分享：Docker适配传统运维那些事</a>
                            <div class="sub-footer">12 JANUARY 2017 on 数人云活动</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-body row multi-content">
                    <div class="col-md-3 left-img">
                        <a><img src="pics/about-activity-16.png" alt></a>
                    </div>
                    <div class="col-md-9">
                        <div class="plus-title">Meetup上海|容器之Mesos/K8S/Swarm三国演义</div>

                        <div class="sub-content">
                            <a target="_blank"
                               href="http://blog.dataman-inc.com/shurenyun-docker-224/"
                               class="sub-title">.Net大户的选择：Windows Container在携程的应用</a>
                            <div class="sub-footer">19 JANUARY 2017 on 数人云活动</div>
                        </div>
                        <div class="sub-content">
                            <a target="_blank" href="http://blog.dataman-inc.com/shurenyun-k8s-223/"
                               class="sub-title">构建与定制：唯品会PaaS基于Kubernetes的实践</a>
                            <div class="sub-footer">19 JANUARY 2017 on 数人云活动</div>
                        </div>
                        <div class="sub-content">
                            <a target="_blank" href="http://blog.dataman-inc.com/shurenyun-docker-220/"
                               class="sub-title">Docker在Bilibili的实战：由痛点推动的容器化</a>
                            <div class="sub-footer">19 JANUARY 2017 on 数人云活动</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-body row multi-content">
                    <div class="col-md-3 left-img">
                        <a><img src="pics/about-activity-15.jpg" alt></a>
                    </div>
                    <div class="col-md-9">
                        <div class="plus-title">Meetup北京|分布式架构的开源组件大选</div>

                        <div class="sub-content">
                            <a target="_blank"
                               href="http://blog.dataman-inc.com/wan-jiu-shui-shen-huo-re-zhong-de-ni-hao-yong-de-fen-bu-shi-ying-yong-kai-fa-xiao-gong-ju/"
                               class="sub-title">挽救水深火热中的你——好用的分布式应用开发小工具</a>
                            <div class="sub-footer">28 DECEMBER 2016 on 数人云活动</div>
                        </div>
                        <div class="sub-content">
                            <a target="_blank" href="http://blog.dataman-inc.com/shurenyun-docker-205/"
                               class="sub-title">微软Visual Studio Code是这样支持Docker的</a>
                            <div class="sub-footer">21 DECEMBER 2016 on 数人云活动</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-body row multi-content">
                    <div class="col-md-3 left-img">
                        <a><img src="pics/about-activity-14.jpg" alt></a>
                    </div>
                    <div class="col-md-9">
                        <div class="plus-title">Meetup北京|容器之Mesos/K8S/Swarm三国演义</div>

                        <div class="sub-content">
                            <a target="_blank" href="http://blog.dataman-inc.com/shurenyun-mesos-187/"
                               class="sub-title">三分天下，分久必合：IBM的Kubernetes on Mesos探索之路</a>
                            <div class="sub-footer">07 NOVEMBER 2016 on 数人云活动</div>
                        </div>

                        <div class="sub-content">
                            <a target="_blank" href="http://blog.dataman-inc.com/shurenyun-docker-187/"
                               class="sub-title">峰值从容应对，新浪微博基于Docker的混合云架构与应用实践</a>
                            <div class="sub-footer">03 NOVEMBER 2016 on 数人云活动</div>
                        </div>
                        <div class="sub-content">
                            <a target="_blank" href="http://blog.dataman-inc.com/shurenyun-swarm-185/"
                               class="sub-title">SwarmKit知多少——来自源码世界的深入解读</a>
                            <div class="sub-footer">31 OCTOBER 2016 on 数人云活动</div>
                        </div>
                        <div class="sub-content">
                            <a target="_blank" href="http://blog.dataman-inc.com/shurenyun-mesos-184/"
                               class="sub-title">从0.25到1.0，中小企业Mesos网络和存储的填坑实践</a>
                            <div class="sub-footer">26 OCTOBER 2016 on 数人云活动</div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="panel panel-default">
                <div class="panel-body row multi-content">
                    <div class="col-md-3 left-img">
                        <a target="_blank" href="＃＃＃"><img
                                src="http://blog.dataman-inc.com/content/images/2016/07/MESOS-5----.jpg" alt></a>
                    </div>
                    <div class="col-md-9">
                        <div class="plus-title">数人云漂洋过海对话Docker&Mesos</div>

                        <div class="sub-content">
                            <a target="_blank" href="http://blog.dataman-inc.com/shurenyun-mesos-155/"
                               class="sub-title">实录分享 | 一切皆可模块化——Mesos架构探索之路</a>
                            <div class="sub-footer">08 August 2016 on 数人云活动</div>
                        </div>
                        <div class="sub-content">
                            <a target="_blank" href="http://blog.dataman-inc.com/shurenyun-mesos-152/"
                               class="sub-title">Mesos大神Tim实录分享 | 解读Mesos 1.0 + 更长久的Mesos Containerizer</a>
                            <div class="sub-footer">01 August 2016 on 数人云活动</div>
                        </div>
                        <div class="sub-content">
                            <a target="_blank" href="http://blog.dataman-inc.com/shurenyun-cntv-150/" class="sub-title">实录分享|一篇文章看CNTV的容器化探索和平台搭建</a>
                            <div class="sub-footer">27 July 2016 on 数人云活动</div>
                        </div>
                        <div class="sub-content">
                            <a target="_blank" href="http://blog.dataman-inc.com/shurenyun-docker-149/"
                               class="sub-title">视频分享 | 漂洋过海对话Docker&Mesos</a>
                            <div class="sub-footer">26 July 2016 on 数人云活动</div>
                        </div>

                    </div>
                </div>
            </div>


            <div class="panel panel-default">
                <div class="panel-body row multi-content">
                    <div class="col-md-3 left-img">
                        <a target="_blank" href="＃＃＃"><img
                                src="https://raw.githubusercontent.com/Dataman-Cloud/webpage/master/pics/about-activity-11.png"
                                alt></a>
                    </div>
                    <div class="col-md-9">
                        <div class="plus-title">KVM线上微信分享</div>

                        <div class="sub-content">
                            <a target="_blank" href="http://blog.dataman-inc.com/shurenyun-tomcat-159/"
                               class="sub-title">Docker环境下的中间件监控，没错就两步</a>
                            <div class="sub-footer">16 August 2016 on 数人云活动</div>
                        </div>

                    </div>
                </div>
            </div>


            <div class="panel panel-default">
                <div class="panel-body row multi-content">
                    <div class="col-md-3 left-img">
                        <a target="_blank" href="＃＃＃"><img
                                src="https://raw.githubusercontent.com/Dataman-Cloud/webpage/master/pics/about-activity-12.png"
                                alt></a>
                    </div>
                    <div class="col-md-9">
                        <div class="plus-title">高效运维线上群分享</div>

                        <div class="sub-content">
                            <a target="_blank" href="http://blog.dataman-inc.com/shurenyun-docker-165/"
                               class="sub-title">实录分享 | 微服务访问安全设计方案全探索</a>
                            <div class="sub-footer">01 September 2016 on 数人云活动</div>
                        </div>

                    </div>
                </div>
            </div>


            <div class="panel panel-default">
                <div class="panel-body row multi-content">
                    <div class="col-md-3 left-img">
                        <a target="_blank" href="＃＃＃"><img
                                src="https://raw.githubusercontent.com/Dataman-Cloud/webpage/master/pics/about-activity-13.png"
                                alt></a>
                    </div>
                    <div class="col-md-9">
                        <div class="plus-title">数人云“容器助力产品迭代力MAX”沙龙活动</div>

                        <div class="sub-content">
                            <a target="_blank" href="http://blog.dataman-inc.com/shurenyun-docker-164/"
                               class="sub-title">实录分享 | 那些年容器落地，企业为Docker填过的坑</a>
                            <div class="sub-footer">02 September on 数人云活动</div>
                        </div>
                        <div class="sub-content">
                            <a target="_blank" href="http://blog.dataman-inc.com/shurenyun-docker-168/"
                               class="sub-title">实录分享 | 容器公司如何用容器进行产品迭代？</a>
                            <div class="sub-footer">30 August 2016 on 数人云活动</div>
                        </div>

                    </div>
                </div>
            </div>


            <div class="panel panel-default">
                <div class="panel-body row multi-content">
                    <div class="col-md-3 left-img">
                        <a target="_blank" href="＃＃＃"><img
                                src="https://raw.githubusercontent.com/Dataman-Cloud/webpage/master/pics/about-activity-11.png"
                                alt></a>
                    </div>
                    <div class="col-md-9">
                        <div class="plus-title">数人云线上分享课</div>

                        <div class="sub-content">
                            <a target="_blank" href="http://blog.dataman-inc.com/shurenyun-docker-172/"
                               class="sub-title">数人云工程师手记 | 新手快速入门Docker最新版管理工具</a>
                            <div class="sub-footer">23 September 2016 on 数人云活动</div>
                        </div>
                        <div class="sub-content">
                            <a target="_blank" href="http://blog.dataman-inc.com/shurenyun-docker-168/"
                               class="sub-title">数人云工程师手记 | Docker1.12服务发现，负载均衡和Routing Mesh</a>
                            <div class="sub-footer">09 September 2016 on 数人云活动</div>
                        </div>

                    </div>
                </div>
            </div>


            <div class="panel panel-default">
                <div class="panel-body row multi-content">
                    <div class="col-md-3 left-img">
                        <a target="_blank" href="http://blog.dataman-inc.com/shurenyun-env-146/"><img
                                src="https://github.com/Dataman-Cloud/webpage/blob/master/pics/about-activity-02.png?raw=true"
                                alt></a>
                    </div>
                    <div class="col-md-9">
                        <div class="plus-title">DockOne线上微信群分享</div>
                        <div class="sub-content">
                            <a target="_blank" href="http://blog.dataman-inc.com/shurenyun-env-146/" class="sub-title">实录分享
                                | 应用容器env化实战</a>
                            <div class="sub-footer">19 July 2016</div>
                        </div>

                    </div>
                </div>
            </div>


            <div class="panel panel-default">
                <div class="panel-body row multi-content">
                    <div class="col-md-3 left-img">
                        <a target="_blank" href="#"><img
                                src="https://github.com/Dataman-Cloud/webpage/blob/master/pics/about-activity-01.png?raw=true"
                                alt></a>
                    </div>
                    <div class="col-md-9">
                        <div class="plus-title">DockOne线上微信群分享</div>
                        <div class="sub-content">
                            <a target="_blank" href="http://blog.dataman-inc.com/shurenyun-docker-133/"
                               class="sub-title">最新实践 | 将Docker网络方案进行到底</a>
                            <div class="sub-footer">05 July 2016 on 数人云活动</div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="panel panel-default">
                <div class="panel-body row multi-content">
                    <div class="col-md-3 left-img">
                        <a target="_blank" href="#"><img
                                src="https://github.com/Dataman-Cloud/webpage/blob/master/pics/about-activity-06.png?raw=true"
                                alt></a>
                    </div>
                    <div class="col-md-9">
                        <div class="plus-title">CSDN线上分享</div>
                        <div class="sub-content">
                            <a target="_blank" href="http://blog.dataman-inc.com/shurenyun-mesos-131/"
                               class="sub-title">智能运维 | 如何做好持续集成——Jenkins on Mesos 实践</a>
                            <div class="sub-footer">24 June 2016 on 数人云干货</div>
                        </div>

                    </div>
                </div>
            </div>


            <div class="panel panel-default">
                <div class="panel-body row multi-content">
                    <div class="col-md-3 left-img">
                        <a target="_blank" href="http://blog.dataman-inc.com/shurenyun-121-news/"><img
                                src="http://pic.doit.com.cn/2016/05/d41d8cd98f00b204e98012.png" alt></a>
                    </div>
                    <div class="col-md-9">
                        <div class="plus-title">数人云产品战略发布会</div>

                        <div class="sub-content">
                            <a target="_blank" href="http://blog.dataman-inc.com/shurenyun-121-news/" class="sub-title">数人云操作系统2.0发布
                                在企业实践中将Docker技术快速落地</a>
                            <div class="sub-footer">27 May 2016 on 数人云活动</div>
                        </div>
                        <div class="sub-content">
                            <a target="_blank"
                               href="http://blog.dataman-inc.com/yuan-zhuo-lun-tan-shi-lu-cong-rong-qi-sheng-tai-quan-jie-xi-rong-qi-zhi-re-xian-xiang/"
                               class="sub-title">圆桌论坛实录 | 从容器生态圈解析容器之热现象</a>
                            <div class="sub-footer">02 June 2016 on 数人云活动</div>
                        </div>
                        <div class="sub-content">
                            <a target="_blank"
                               href="http://blog.dataman-inc.com/chuan-tong-jin-rong-qi-ye-de-tan-suo-zhi-lu-shang-jiao-suo-ye-wu-xi-tong-dockerhua-shi-jian-fen-xiang/"
                               class="sub-title">传统金融企业的探索之路——上交所业务系统Docker化实践分享</a>
                            <div class="sub-footer">06 June 2016 on 数人云活动</div>
                        </div>

                    </div>
                </div>
            </div>


            <div class="panel panel-default">
                <div class="panel-body row multi-content">
                    <div class="col-md-3 left-img">
                        <a target="_blank" href="#"><img
                                src="https://github.com/Dataman-Cloud/webpage/blob/master/pics/about-activity-07.png?raw=true"
                                alt></a>
                    </div>
                    <div class="col-md-9">
                        <div class="plus-title">数人云深圳技术分享课</div>
                        <div class="sub-content">
                            <a target="_blank" href="http://blog.dataman-inc.com/116-shurenyun-huodong/"
                               class="sub-title">如何打造一键发布弹性伸缩微服务:应用上容器云干货案例</a>
                            <div class="sub-footer">11 May 2016 on 数人云活动</div>
                        </div>
                        <div class="sub-content">
                            <a target="_blank" href="http://blog.dataman-inc.com/117-shurenyun-huodong/"
                               class="sub-title">运维自动化闭环，从腾讯走出来的实践</a>
                            <div class="sub-footer">13 May 2016 on 数人云活动</div>
                        </div>
                        <div class="sub-content">
                            <a target="_blank" href="http://blog.dataman-inc.com/112-shurenyun-huodong/"
                               class="sub-title">Mesos在传统金融企业的实践——平安科技陈秋浩实录分享</a>
                            <div class="sub-footer">29 April 2016 on 数人云活动</div>
                        </div>
                        <div class="sub-content">
                            <a target="_blank" href="http://blog.dataman-inc.com/114-shurenyun-huodong/"
                               class="sub-title">实录分享 | Google Borg 系统 与 Coding Docker 实践</a>
                            <div class="sub-footer">05 May 2016 on 数人云活动</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-body row multi-content">
                    <div class="col-md-3 left-img">
                        <a target="_blank" href="#"><img
                                src="https://github.com/Dataman-Cloud/webpage/blob/master/pics/about-activity-08.png?raw=true"
                                alt></a>
                    </div>
                    <div class="col-md-9">
                        <div class="plus-title">Mesos User Group 第四次约会</div>
                        <div class="sub-content">
                            <a target="_blank" href="http://blog.dataman-inc.com/108-shurneyun-huodong/"
                               class="sub-title">老肖有话说@Mesos User Group第四次约会</a>
                            <div class="sub-footer">19 April 2016 on 数人云活动 数人云动态</div>
                        </div>
                        <div class="sub-content">
                            <a target="_blank" href="http://blog.dataman-inc.com/109-shurenyun-huodong/"
                               class="sub-title">实录分享 | IBM马达：Kubernetes/Swarm on Mesos</a>
                            <div class="sub-footer">21 April 2016 on 数人云活动</div>
                        </div>
                        <div class="sub-content">
                            <a target="_blank" href="http://blog.dataman-inc.com/111-shurenyun-huodong/"
                               class="sub-title">活动实录 | Mesos架构与去哪儿的统一框架实践</a>
                            <div class="sub-footer">27 April 2016 on 数人云活动</div>
                        </div>

                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-body row multi-content">
                    <div class="col-md-3 left-img">
                        <a target="_blank" href="#"><img
                                src="https://github.com/Dataman-Cloud/webpage/blob/master/pics/about-activity-07.png?raw=true"
                                alt></a>
                    </div>
                    <div class="col-md-9">
                        <div class="plus-title">KVM 线上群分享</div>
                        <div class="sub-content">
                            <a target="_blank" href="http://blog.dataman-inc.com/shurenyun-docker-66/"
                               class="sub-title">云计算与 Cloud Native|数人云CEO王璞@KVM分享实录</a>
                            <div class="sub-footer">09 March 2016 on 数人云活动</div>
                        </div>
                        <div class="sub-content">
                            <a target="_blank" href="http://blog.dataman-inc.com/93-shureny-kvm/" class="sub-title">Docker
                                与 Mesos 的前生今世 | 数人云CTO肖德时@KVM分享实录</a>
                            <div class="sub-footer">15 March 2016</div>
                        </div>
                        <div class="sub-content">
                            <a target="_blank" href="http://blog.dataman-inc.com/96-shurenyun-docker/"
                               class="sub-title">回顾 Java 发展，看 Docker 与 Mesos</a>
                            <div class="sub-footer">22 March 2016 数人云动态</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-body row multi-content">
                    <div class="col-md-3 left-img">
                        <a target="_blank" href="#"><img
                                src="https://github.com/Dataman-Cloud/webpage/blob/master/pics/about-activity-03.png?raw=true"
                                alt></a>
                    </div>


                    <div class="col-md-9">
                        <div class="plus-title">数人云进阶“百万并发”主题沙龙</div>
                        <div class="sub-content">
                            <a href="http://blog.dataman-inc.com/98-shurenyun-huodong/" class="sub-title">PPT分享 |
                                数人云“百万并发” 背后的架构实践</a>
                            <div class="sub-footer">28 March 2016 on 数人云活动</div>
                        </div>
                        <div class="sub-content">
                            <a target="_blank" href="http://blog.dataman-inc.com/99-shurenyun-huodong/"
                               class="sub-title">PPT分享 | 数人云基于 Locust、Tsung 的百万并发压测案例</a>
                            <div class="sub-footer">30 March 2016 on 数人云活动</div>
                        </div>
                        <div class="sub-content">
                            <a target="_blank" href="http://blog.dataman-inc.com/shurenyun-openfalcon-119/"
                               class="sub-title">数人云活动实录 | 小米开源监控系统 OpenFalcon 应对高并发7种手段</a>
                            <div class="sub-footer">27 March 2016 on 数人云活动</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-body row multi-content">
                    <div class="col-md-3 left-img">
                        <a target="_blank" href="#"><img
                                src="https://github.com/Dataman-Cloud/webpage/blob/master/pics/about-activity-05.png?raw=true"
                                alt></a>
                    </div>
                    <div class="col-md-9">
                        <div class="plus-title">CSDN线上分享</div>
                        <div class="sub-content">
                            <a target="_blank" href="http://blog.dataman-inc.com/shurenyun-mesos-11/" class="sub-title">畅谈
                                Mesos 生态圈系列</a>
                            <div class="sub-footer">01 February 2016 on 数人云活动</div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="more"><a target="_blank" href="http://blog.dataman-inc.com/tag/events/">查看更多 >></a></div>
    </div>
</div>
<% include '../../common_views/footer.html' %>
<% end %>
