<% extend "../../common.html" %>
<% block 'keywords': %>数人云，数人科技，容器，Container，容器云，云原生，镜像仓库，容器集群管理，Docker，Docker镜像，Mesos，Marathon，DCOS，PaaS平台，数人云操作系统，灰度发布 ，微服务，服务发现，持续集成，镜像构建，CICD，持续交付 ，DevOps，敏捷开发，自动化，金融容器云，高并发，秒杀，容器编排，docker compose，应用编排，弹性扩缩 弹性伸缩<% end %>
<% block 'description': %>数人云是基于 Mesos 和 Docker 技术的云操作系统，致力于打造最轻量化的PaaS平台，可实现应用的快速发布和弹性扩展。支持混合云管理，实现一站式的微服务架构集群系统，帮助用户快速建立并稳定运维高性能生产环境，解决从客户到云资源的最后一公里。<% end %>
<% block 'title': %>会议 - 基于容器的最轻量化 PaaS 平台<% end %>
<% block 'bodyContent': %>
<% include '../../common_views/nav.html' %>
<div id="about-activity">
    <header class="header-about">
        <div class="container">
            <h1 class="title">会议</h1>
            <div id="carousel-about" class="carousel slide" data-ride="carousel">
                <!-- Indicators -->
                <ol class="carousel-indicators">
                    <li data-target="#carousel-about" data-slide-to="0" class="active"></li>
                    <li data-target="#carousel-about" data-slide-to="1"></li>
                    <li data-target="#carousel-about" data-slide-to="2"></li>
                    <li data-target="#carousel-about" data-slide-to="3"></li>
                </ol>

                <!-- Wrapper for slides -->
                <div class="carousel-inner" role="listbox">

                    <div class="item active">
                        <div class="row">
                            <div class="col-xs-6 left-img">
                                <a target="_blank" href="http://blog.shurenyun.com/shurenyun-news-315/">
                                    <img src="pics/about-meeting-315.png" alt="数人云出席双态运维研讨会 分享 SRE 行业实践应用">
                                </a>
                            </div>
                            <div class="col-xs-6">
                                <a target="_blank" href="http://blog.shurenyun.com/shurenyun-news-315/"
                                   class="carousel-title">数人云出席双态运维研讨会 分享 SRE 行业实践应用</a>
                                <div class="carousel-desc">
                                    3月9日-10日，由双态运维联盟（BOA）与云南电网信息中心共同主办的“双态运维研讨会”在昆明云南电网科技园召开。会上，双方就在云南电网信息中心设立“双态运维共研基地”达成战略合作备忘录，并对共研基地的开启进行了揭牌仪式。
                                </div>
                                <div class="carousel-footer">15 MARCH 2017 on 数人云会议</div>
                            </div>
                        </div>
                    </div>

                    <div class="item">
                        <div class="row">
                            <div class="col-xs-6 left-img">
                                <a target="_blank" href="http://blog.shurenyun.com/shurenyun-news-32/">
                                    <img src="pics/about-meeting-32.jpg"
                                         alt="数人云作为创始单位出席双态运维联盟成立仪式">
                                </a>
                            </div>
                            <div class="col-xs-6">
                                <a target="_blank" href="http://blog.shurenyun.com/shurenyun-news-32/"
                                   class="carousel-title">数人云作为创始单位出席双态运维联盟成立仪式</a>
                                <div class="carousel-desc">
                                    云计算、大数据和物联网的变革时代，企业同时面临着数字化和“互联网+”转型的双重挑战。企业对“稳态 IT”和“敏态 IT”都提出了强烈的需求，如何推进双态IT的演进变成了全行业共同面临的难题。3月1日，在信息技术服务分会数据中心运营管理工作组（DCMG）的指导下，由联想集团、新华三集团、华为、翰纬科技、优云软件、九州云、数人云等......
                                </div>
                                <div class="carousel-footer">02 MARCH 2017 on 数人云会议</div>
                            </div>
                        </div>
                    </div>

                    <div class="item">
                        <div class="row">
                            <div class="col-xs-6 left-img">
                                <a target="_blank" href="http://blog.shurenyun.com/shurenyun-news-228/">
                                    <img src="pics/about-meeting-228.jpg"
                                         alt="数人云出席埃森哲云领未来创新论坛 探讨如何加速企业云化进程">
                                </a>
                            </div>
                            <div class="col-xs-6">
                                <a target="_blank" href="http://blog.shurenyun.com/shurenyun-news-228/"
                                   class="carousel-title">数人云出席埃森哲云领未来创新论坛 探讨如何加速企业云化进程</a>
                                <div class="carousel-desc">
                                    在当下的数字化转型浪潮下，IT 将会变成可消费的服务，而云是这场变革的核心。2月24日，主题为“创新驱动•数字化转型驶入快车道”的埃森哲云领未来创新论坛在上海举行。云领未来创新论坛深入探讨企业构建如何使用云技术实现商业价值，并与云生态系统的合作伙伴形成优势互补，为企业客户搭建有效的云战略，帮助企业驾驭数字经济商机。
                                </div>
                                <div class="carousel-footer">18 September 2016 on 数人云会议</div>
                            </div>
                        </div>
                    </div>

                    <div class="item">
                        <div class="row">
                            <div class="col-xs-6 left-img">
                                <a target="_blank" href="http://blog.shurenyun.com/shurenyun-news-1228/">
                                    <img src="pics/about-meeting-01.png" alt="数人云出席第六届云计算标准和应用大会 分享最新开源实践">
                                </a>
                            </div>
                            <div class="col-xs-6">
                                <a target="_blank" href="http://blog.shurenyun.com/shurenyun-news-1228/"
                                   class="carousel-title">数人云出席第六届云计算标准和应用大会 分享最新开源实践</a>
                                <div class="carousel-desc">
                                    12月28日，由中华人民共和国工业和信息化部信息化和软件服务业司、国家标准化管理委员会工业标准二部指导，中国电子技术标准化研究院主办，华为、英特尔、数人云、DMTF 等协办的第六届中国云计算标准和应用大会在京成功召开。
                                </div>
                                <div class="carousel-footer">28 DECEMBER 2016 on 数人云会议</div>
                            </div>
                        </div>
                    </div>

                </div>

                <!-- Controls -->
                <a class="left carousel-control" href="#carousel-about" role="button" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="right carousel-control" href="#carousel-about" role="button" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
    </header>

    <div class="about-content">
        <div class="container">

            <div class="panel panel-default">
                <div class="panel-body row">
                    <div class="col-xs-3 left-img">
                        <a target="_blank" href="http://blog.shurenyun.com/shurenyun-news-315/"><img
                                src="pics/about-meeting-315.png" alt></a>
                    </div>
                    <div class="col-xs-9 content-table">
                        <div class="content-cell">
                            <a target="_blank" href="http://blog.shurenyun.com/shurenyun-news-315/"
                               class="content-title">数人云出席双态运维研讨会 分享 SRE 行业实践应用
                            </a>
                            <div class="content-footer">15 MARCH 2017 on 数人云会议</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-body row">
                    <div class="col-xs-3 left-img">
                        <a target="_blank" href="http://blog.shurenyun.com/shurenyun-news-32/"><img
                                src="pics/about-meeting-32.jpg" alt></a>
                    </div>
                    <div class="col-xs-9 content-table">
                        <div class="content-cell">
                            <a target="_blank" href="http://blog.shurenyun.com/shurenyun-news-32/"
                               class="content-title">数人云作为创始单位出席双态运维联盟成立仪式
                            </a>
                            <div class="content-footer">02 MARCH 2017 on 数人云会议</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-body row">
                    <div class="col-xs-3 left-img">
                        <a target="_blank" href="http://blog.shurenyun.com/shurenyun-news-228/"><img
                                src="pics/about-meeting-228.jpg" alt></a>
                    </div>
                    <div class="col-xs-9 content-table">
                        <div class="content-cell">
                            <a target="_blank" href="http://blog.shurenyun.com/shurenyun-news-228/"
                               class="content-title">数人云出席埃森哲云领未来创新论坛 探讨如何加速企业云化进程
                            </a>
                            <div class="content-footer">28 FEBRUARY 2017 on 数人云会议</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-body row">
                    <div class="col-xs-3 left-img">
                        <a target="_blank" href="http://blog.shurenyun.com/shurenyun-news-1228/"><img
                                src="pics/about-meeting-01.png" alt></a>
                    </div>
                    <div class="col-xs-9 content-table">
                        <div class="content-cell">
                            <a target="_blank" href="http://blog.shurenyun.com/shurenyun-news-1228/"
                               class="content-title">数人云出席第六届云计算标准和应用大会 分享最新开源实践
                            </a>
                            <div class="content-footer">28 DECEMBER 2016 on 数人云会议</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-body row">
                    <div class="col-xs-3 left-img">
                        <a target="_blank" href="http://blog.shurenyun.com/shurenyun-news-1122/"><img
                                src="http://blog.shurenyun.com/content/images/2016/11/484689728840881668-1.jpg"
                                alt></a>
                    </div>
                    <div class="col-xs-9 content-table">
                        <div class="content-cell">
                            <a target="_blank" href="http://blog.shurenyun.com/shurenyun-news-1122/"
                               class="content-title">MesosCon 2016：新生代大规模集群系统分发实践
                            </a>
                            <div class="content-footer">22 NOVEMBER 2016 on 数人云会议</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-body row">
                    <div class="col-xs-3 left-img">
                        <a target="_blank" href="http://blog.shurenyun.com/shurenyun-news-1031/"><img
                                src="http://blog.shurenyun.com/content/images/2016/10/G53A0612-1.JPG" alt></a>
                    </div>
                    <div class="col-xs-9 content-table">
                        <div class="content-cell">
                            <a target="_blank" href="http://blog.shurenyun.com/shurenyun-news-1031/"
                               class="content-title">IT 运营新世界大会：轻量级 PaaS 平台支持 DevOps 落地
                            </a>
                            <div class="content-footer">31 OCTOBER 2016 on 数人云会议</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-body row">
                    <div class="col-xs-3 left-img">
                        <a target="_blank" href="#"><img
                                src="http://blog.shurenyun.com/content/images/2016/09/_DSC2161.JPG" alt></a>
                    </div>
                    <div class="col-xs-9 content-table">
                        <div class="content-cell">
                            <a href="#" class="content-title">CNUTCon 全球容器技术大会2016
                            </a>
                            <div class="content-footer">18 September 2016 on 数人云会议</div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="panel panel-default">
                <div class="panel-body row">
                    <div class="col-xs-3 left-img">
                        <a target="_blank" href="#"><img
                                src="http://pic.huodongjia.com/event/2016-05-07/1462592869.28.jpg" alt></a>
                    </div>
                    <div class="col-xs-9 content-table">
                        <div class="content-cell">
                            <a href="#" class="content-title">十二月
                                GOPS 2016 全球运维大会 北京站
                            </a>
                            <div class="content-footer">December 2016 on 数人云会议</div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="panel panel-default">
                <div class="panel-body row">
                    <div class="col-xs-3 left-img">
                        <a target="_blank" href="#"><img
                                src="https://raw.githubusercontent.com/Dataman-Cloud/webpage/5256382b88153b5b14e29f1dc3e418b2828fa58e/pics/rongqidahui.jpg"
                                alt></a>
                    </div>
                    <div class="col-xs-9 content-table">
                        <div class="content-cell">
                            <a target="_blank" href="#" class="content-title">CNUTCon 2016 全球容器技术大会</a>
                            <div class="content-footer">September 2016 on 数人云会议</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-body row">
                    <div class="col-xs-3 left-img">
                        <a target="_blank" href="#"><img
                                src="http://pic.huodongjia.com/event/2016-05-07/1462592869.28.jpg" alt></a>
                    </div>
                    <div class="col-xs-9 content-table">
                        <div class="content-cell">
                            <a target="_blank" href="#" class="content-title">GOPS 2016 全球运维大会 上海站</a>
                            <div class="content-footer">23 September 2016 on 数人云会议</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-body row">
                    <div class="col-xs-3 left-img">
                        <a target="_blank" href="#"><img
                                src="http://sz2016.archsummit.com/sites/all/themes/qconbs/images/frontmain.jpg" alt></a>
                    </div>
                    <div class="col-xs-9 content-table">
                        <div class="content-cell">
                            <a target="_blank" href="#" class="content-title">ArchSummit 全球架构师峰会 2016</a>
                            <div class="content-footer">15 July 2016 on 数人云会议</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-body row">
                    <div class="col-xs-3 left-img">
                        <a target="_blank" href="http://blog.shurenyun.com/shurenyun-dockercon-130/"><img
                                src="http://blog.shurenyun.com/content/images/2016/06/1-2.jpg" alt></a>
                    </div>
                    <div class="col-xs-9 content-table">
                        <div class="content-cell">
                            <a href="http://blog.shurenyun.com/shurenyun-dockercon-130/" class="content-title">DockerCon
                                2016 D2 | PPT全程实录 + 详细解读</a>
                            <div class="content-footer">22 June 2016 on 数人云会议, 数人云干货</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-body row">
                    <div class="col-xs-3 left-img">
                        <a target="_blank" href="#"><img src="http://editerupload.eepw.com.cn/201511/24131448872701.jpg"
                                                         alt></a>
                    </div>
                    <div class="col-xs-9 content-table">
                        <div class="content-cell">
                            <a target="_blank" href="http://blog.shurenyun.com/shurenyun-docker-127/"
                               class="content-title">稳定高于一切的金融行业如何用容器？</a>
                            <div class="content-footer">12 June 2016 on 数人云会议</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-body row">
                    <div class="col-xs-3 left-img">
                        <a target="_blank" href="http://blog.shurenyun.com/shurenyun-120-docker/"><img
                                src="http://blog.shurenyun.com/content/images/2016/05/----pdf----------0001.jpg" alt></a>
                    </div>
                    <div class="col-xs-9 content-table">
                        <div class="content-cell">
                            <a target="_blank" href="http://blog.shurenyun.com/shurenyun-120-docker/"
                               class="content-title">第八届中国云计算大会 & 从 Google 的 PaaS 平台说起，解析中美 Docker 生态圈</a>
                            <div class="content-footer">19 May 2016 on 数人云会议</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-body row">
                    <div class="col-xs-3 left-img">
                        <a target="_blank" href="http://blog.shurenyun.com/untitled-17/"><img
                                src="http://blog.shurenyun.com/content/images/2016/01/1_---1.jpg" alt></a>
                    </div>
                    <div class="col-xs-9 content-table">
                        <div class="content-cell">
                            <a target="_blank" href="http://blog.shurenyun.com/untitled-17/" class="content-title">Container
                                 容器技术大会·北京站 & 记 @Container 容器技术大会——千人的狂欢，技术的盛宴</a>
                            <div class="content-footer">27 January 2016 on Docker, 容器, 数人云会议</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="more"><a target="_blank" href="http://blog.shurenyun.com/tag/events/">查看更多 >></a></div>
    </div>
</div>
<% include '../../common_views/footer.html' %>
<% end %>
